<!-- Default box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../empresa/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Empresa</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control text-uppercase" id="nom_emp" name="nom_emp" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Direccion</label>
                                <input type="text" class="form-control" id="dir_emp" name="dir_emp">
                            </div>
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="text" class="form-control" id="tel_emp" name="tel_emp">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="ema_emp" name="ema_emp">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../empresa/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Empresa</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_emp1" name="cod_emp" />
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control text-uppercase" id="nom_emp1" name="nom_emp" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Direccion</label>
                                <input type="text" class="form-control" id="dir_emp1" name="dir_emp">
                            </div>
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="text" class="form-control" id="tel_emp1" name="tel_emp">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" id="ema_emp1" name="ema_emp">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="modalEliminar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioEliminar" method="post" action="../empresa/eliminar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Eliminar Empresa</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_emp2" name="cod_emp" />
                            <p>Desea eliminar a <label id="empresaLabel"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Eliminar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div id="modalActivar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioActivar" method="post" action="../empresa/activar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Activar Empresa</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_emp" name="cod_emp" />
                            <p>Desea activar a <label id="empresaLabel2"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Activar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Gestion Empresas </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="desktop">Codigo</th>
                    <th class="all">Nombre</th>
                    <th class="desktop">Direccion</th>
                    <th class="desktop">Telefono</th>
                    <th class="none">Email</th>
                    <th class="all" width="150px;">Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../empresa/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [5],className:'text-right'}],
            "ordering": true,
            "order": [[0, 'desc']],
            "columns": [{
                "data": "cod_emp", "name":"cod_emp"
            }, {
                "data": "nom_emp", "name":"nom_emp"
            }, {
                "data": "dir_emp", "name":"dir_emp"
            }, {
                "data": "tel_emp", "name":"tel_emp"
            }, {
                "data": "ema_emp", "name":"ema_emp"
            }, {
                "data": "cod_emp", "name":"cod_emp"
            }],
            "createdRow": function(row, data, index) {
                if ($('input[name=estado]:checked').val() == 'true') {
                    $('td', row).eq(5).html('<div class="btn-group btn-group-justified btn-group-xs"><div class="btn-group btn-group-xs"><button class="btn btn-xs btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_emp + '"><i class="fa fa-edit"></i><br/>editar</button></div><div class="btn-group btn-group-xs"><button class="btn btn-xs btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_emp + '"><i class="glyphicon glyphicon-remove"></i><br/>eliminar</button></div></div>');
                } else {
                    $('td', row).eq(5).html('<button class="btn btn-xs btn-primary activar" data-id="' + data.cod_emp + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br/>Activar</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    $('#formularioEliminar')[0].reset();
                    $.post('../empresa/obtener?cod_emp=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalEliminar').modal('show');
                            $('#formularioEliminar').loadJSON(result.data);
                            $('#empresaLabel').html(result.data.nom_emp);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.activar').click(function() {
                    $('#formularioActivar')[0].reset();
                    $.post('../empresa/obtener?cod_emp=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalActivar').modal('show');
                            $('#formularioActivar').loadJSON(result.data);
                            $('#empresaLabel2').html(result.data.nom_emp);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.modificar').click(function() {
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $.post('../empresa/obtener?cod_emp=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#formularioModificar').loadJSON(result.data);
                            $('#modalModificar').modal('show');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });

            }
            ,"initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    if (result.status == true) {
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                        mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                    } else {
                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                    }
                }, 'json');
            });
        });
        $('#formularioEliminar,#formularioActivar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('page');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
        });
        $('#nom_emp').blur(function() {
            $.post('../empresa/validar?nom_emp=' + $(this).val(), function(resp) {
                if (resp.status == true) {
                    $('#nom').val('');
                    mostrarMensaje('error', 'Esta empresa ya existe!!!');
                }
            });
        });
    });
</script>