<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Ing. Carlos Franz Gutierrez Gutierrez">
	<title>MiaSuper</title>
	<link rel="icon" type="image/x-icon" href="../../icon/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/ionicons.min.css" />
	<link rel="stylesheet" href="/css/AdminLTE.css" />
	<link rel="stylesheet" href="/css/_all-skins.css" />
</head>
<body class="hold-transition login-page">
<!--<form name="formulario" class="" id="formulario" method="post" action="../principal/cambiarSucursal" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">-->
	<div class="login-box">
<!--		<div class="login-logo">-->
<!--			<a href="#"><b>Restobar</b>Sibol</a>-->
<!--		</div>-->
		<div class="login-box-body">
			<h1 align="center" class="w3-xxxlarge"><span class="fa fa-building"></span></h1>
			<p class="login-box-msg custom-bolder">ACCESO A SUCURSAL</p>
			<div class="form-group has-feedback">
				<label class="font-weight-bold">Seleccionar sucursal a ingresar</label>
				<select class="form-control input-lg" id="sucursalSeleccion" name="sucursal" data-fv-notempty="true" required>
					<option value="">Seleccionar sucursal...</option>
					<option th:each="s,ind : ${sucursales}" th:value="${ind.index}" th:text="${s.sucursal.nombre}"></option>
				</select>
			</div>
			<div class="social-auth-links text-center">
				<button type="button" class="btn btn-lg btn-block btn-facebook" id="btnEnviar"> Aceptar</button>
				<button type="button" class="btn btn-lg btn-block btn-google" onclick="location.href='../principal/salir'"> Salir de Sistema</button>
			</div>
		</div>
		<!-- /.login-box-body -->
	</div>


<script src="/js/jquery-3.5.1.js"></script>
<script th:inline="none">
	$(document).ready(function() {
		$('#btnEnviar').click(function(){
			let suc = $('#sucursalSeleccion option:selected').val();
			if(suc) {
				location.href = '../principal/cambiarSucursal?sucursal='+suc;
			} else
				console.log(suc)
		})
		setTimeout($('#sucursalSeleccion').focus(),500);
	});
</script>
</body>
</html>