
<div class="box box-primary">
    <div class="box-header with-border">
        

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="w3-container">
		  <h2>Ejecuci&oacute;n de Script</h2>
		  <p>Seleccione el script para ejecutar</p>
		  <div class="row">
		  	<div class="col-md-4">
		  	<ul class="w3-ul w3-card-4">
		    <li class="w3-display-container">&times; |  Detalle compras <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="1"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Detalle ventas<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="2"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Ventas<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="3"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Compras<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="4"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Inscripcion<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="5"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Detalle prestacion<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="6"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Prestacion<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="7"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Detalle arqueo<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="8"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Arqueo de Caja<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="0"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Cliente<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="9"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Proveedor<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="10"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Empresa<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="11"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Dato<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="12"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Usuario - Roles<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="13"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Usuario - Sucursal<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="14"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Descargas<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="15"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Archivos<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="16"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Carpeta - Practico<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="17"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Materia - Practico<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="18"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Practicos<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="19"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Docente<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="20"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		  </ul>
		  	</div>
		  	<div class="col-md-4">
		  	<ul class="w3-ul w3-card-4">
		    <li class="w3-display-container">&times; |  Ayudante - Tipo materia <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="21"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Detalle horario clase<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="22"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Horario clase<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="23"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Detalle plan<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="24"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Materia - plan -ayudante<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="25"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Ayudante<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="26"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Estudiante carrera<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="27"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Estudiante<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="28"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Remuneracion<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="29"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Secretaria<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="30"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  FTP<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="31"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Persona<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="32"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Plan<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="33"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  General<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="34"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Sucursal<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="35"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Persona - S/N<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="36"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Persona - Administrador<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="37"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Usuario - Rol<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="38"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Dato<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="39"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Usuario - Sucursal<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="40"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		  </ul>
		  	</div>
		  	<div class="col-md-4">
		  	<ul class="w3-ul w3-card-4">
		    <li class="w3-display-container text-primary"> + | Cliente<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="41"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Empresa<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="42"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | Proveedor<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="43"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"><span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="44"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container text-primary"> + | C&oacute;digo producto<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="45"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		   <li class="w3-display-container">&times; |  Producto<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="46"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">&times; |  Tipo de producto <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="47"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container"> + | Sucursal <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="48"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container"> + | General<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="49"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container"><b>REINICIAR TRANSACCIONES</b> <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="60"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container"><b>REINICIAR INVENTARIO</b> <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="61"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">REINICIAR TRANSACCION Y ASIENTOS CONTABLES <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="62"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">REINICIAR ASIENTOS MENOS ASIENTO DE APERTURA  <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="63"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">ELIMNAR DE TODOS LOS DATOS<span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="64"><i class="glyphicon glyphicon-console"></i></a></span></li>
		    <li class="w3-display-container">Sesiones activas <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="65"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="55"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="56"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="57"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="58"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="59"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		    <li class="w3-display-container">pendiente <span  class="w3-button w3-transparent w3-display-right"> <a href="#" class="enlaceScript" data-id="60"><i class="glyphicon glyphicon-console"></i> ejecutar</a></span></li>
		  </ul>
		  	</div>
		  </div>
		  
		</div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(document).ready(function() {
    	$('.enlaceScript').click(function(){
    		Swal.fire({
    			  title: 'Confirmar transaccion de ejecucion',
    			  input: 'password',
    			  inputLabel: 'Password de ejecucion',
    			  inputPlaceholder: 'Ingresar clave de acceso',
    			  inputAttributes: {
    			    maxlength: 20,
    			    autocapitalize: 'off',
    			    autocorrect: 'off'
    			  }
    			}).then((result) => {
    				if (result.isConfirmed) {
    					let valor = parseInt($(this).data('id'));
        				$.post('../ejecucion/execute',{'code':valor,'password':result.value},function(resp){
    	    				if(resp.status){
    	    					mostrarMensaje('info',resp.msg);
    	    					Swal.fire({
    	    						title: resp.msg,
	    							text:JSON.stringify(resp.data),
	    							icon:'success',
	    							width:'100%'
    	    					})
    	    				}else{
    	    					modalAlert('Error al ejecutar script',resp.msg,'error');
    	    				}
    	    			});
    				}
    	    	});
    	});
    });
</script>