<section xmlns:th="http://www.thymeleaf.org">
        <div id="modalProducto" class="modal fade" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span class="fa  fa-ellipsis-v"></span> Seleccione un producto del almacen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group btn-group-justified padding-top-sm">
                            <label class="btn btn-danger areaTipo">
                                <i class="glyphicon glyphicon-th-large"></i><br>
                                <input type="radio" name="radioTipo" value="-1" checked> Todos
                            </label>
                            <label class="btn btn-success areaTipo">
                                <i class="fi fi-plastic-bottle"></i><br>
                                <input type="radio" name="radioTipo" value="1"> Producto
                            </label>
                            <label class="btn btn-warning areaTipo">
                                <i class="fi fi-plate"></i><br>
                                <input type="radio" name="radioTipo" value="3"> Plato
                            </label>
                            <label class="btn btn-info areaTipo">
                                <i class="fi fi-long-cup"></i><br>
                                <input type="radio" name="radioTipo" value="4"> Bebida Preparadas
                            </label>
                            <label class="btn btn-primary areaTipo">
                                <i class="fi fi-eggs"></i><br>
                                <input type="radio" name="radioTipo" value="2"> Insumo
                            </label>
                        </div>
                        <div class="table-responsive">
                            <hr>
                            <table id="tablaProducto" class="table table-hover table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="desktop">C&oacute;digo del <br> Producto</th>
                                    <th class="all">Nombre <br> del producto</th>
                                    <th class="desktop">Cantidad <br> expresado en <br> Unidades</th>
                                    <th class="desktop">Cantidad <br> expresado en <br> Cajas</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Registro de Movimiento</h1>
            </div>
        </div>
    </div>
    <div class="box-body">
        <form id="formulario" class="" method="post" action="#" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-md-4 control-label required">
                        Tipo de movimiento
                    </label>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
                                <select name="tipo" id="tipo" class="form-control input-lg" data-fv-notempty="true">
                                    <option value="">Seleccionar</option>
                                    <option value="1">Traspaso entre sucursales</option>
                                    <option value="2">Registro de Movimiento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 areaSucursalDestino" style="display: none;">
                <div class="form-group row">
                    <label class="col-md-4 control-label">
                        Sucursal Destino
                    </label>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <select name="sucursalDestino" id="sucursalDestino" class="form-control input-lg">
                                    <option value="">Seleccionar</option>
                                    <option th:each="s: ${sucursales}" th:if="${s.cod_suc != sucursalOrigen}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-md-3 control-label">
                        Observaci&oacute;n
                    </label>
                    <div class="col-md-9">
                        <textarea class="form-control imput-sm" name="obs" id="obs" rows="3" placeholder="Ingrese obserion si es necesario"></textarea>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-md-4">
                <form id="formularioDetalle" class="" method="post" action="#" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                <div class="form-group">
                    <div class="input-group">
                        <a class="form-control" href="#" id="selectProducto">&laquo; Seleccionar Producto &raquo;</a>
                        <span class="input-group-addon"><i class="ion ion-android-contract"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Existencia <br> en unidades</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                                <input type="text" class="form-control text-right" id="cantidadExistencia" name="cantidadExistencia" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Existencia <br> en cajas - <span class="pull-right" id="labelUnidadPorCaja"></span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                <input type="text" class="form-control text-right" id="cantidadExistenciaCaja" name="cantidadExistenciaCaja" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Cantidad a mover expresada en</label>
                            <div class="radio w3-medium">
                                <label for="enUnidad">
                                    <input type="radio" name="tipoDetalle"  id="enUnidad" value="true" data-fv-notempty="true"/> <i class="fa fa-cube"></i> Unidades
                                </label>
                                <label for="enCaja" style="margin-left: 15px;">
                                    <input type="radio" name="tipoDetalle"  id="enCaja" value="false" data-fv-notempty="true"/> <i class="fa fa-cubes"></i> Cajas
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group areaTipoIngreso" style="display: none;">
                            <label>Tipo Movimiento</label>
                            <div class="radio w3-medium">
                                <label for="tipoAumento">
                                    <input type="radio" name="esIngreso"  id="tipoAumento" value="true"/> <i class="fa fa-user-plus"></i> Ingreso
                                </label>
                                <label for="tipoDisminuir" style="margin-left: 15px;">
                                    <input type="radio" name="esIngreso"  id="tipoDisminuir" value="false"/> <i class="fa fa-user-times"></i> Salida
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required">Cantidad movimiento</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                        <input type="number" min="1" class="form-control text-right" autocomplete="off" name="cantidad" data-fv-notempty="true" data-fv-integer="true" />
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-success" type="submit">Adicionar</button>
                </div>
                </form>
            </div>
            <div class="col-md-8">
                <table class="w3-table-all w3-large" id="tablaDetalles">
                    <thead>
                        <tr>
                            <th width="10%">No.</th>
                            <th>Producto</th>
                            <th>Tipo <br>Movimiento</th>
                            <th>Cantidad</th>
                            <th>Medida</th>
                            <th width="5%">Borrar</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer pull-right">
        <button type="button" class="btn btn-social btn-google" data-dismiss="modal" id="btnCancelar"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
        <button type="button" id="btnGuardar" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
    </div>
</div>
    <script th:inline="javascript">
        var sucursalOrigen = /*[[${sucursalOrigen}]]*/ 0;
    </script>
<script type="text/javascript" th:inline="none">
    var dataReq = {
        productoSelected : {},
        movimiento: {
            detalles: []
        }
    }

    function renderDetalle(){
        $('#tablaDetalles > tbody').html('');
        let ind = 1;
        dataReq.movimiento.detalles.forEach(it => {
            let row = $('<tr></tr>');
            $('<td style="vertical-align: bottom;">'+ind+'</td>').appendTo(row);
            $('<td style="vertical-align: bottom;">#'+it.productoId + ' - '+it.xproducto+'</td>').appendTo(row);
            $('<td style="vertical-align: bottom;">'+(it.esIngreso === true ? '<span class="badge label-success">Ingreso</span>':'<span class="badge label-danger">Salida</span>')+'</td>').appendTo(row);
            $('<td style="vertical-align: bottom;" class="w3-center">'+it.cantidad+'</td>').appendTo(row);
            $('<td style="vertical-align: bottom;" class="w3-center">'+(it.tipo ? '<label class="text-info">Unidad</label>' : '<label class="text-primary">Caja</label>')+'</td>').appendTo(row);
            $('<td class="w3-center"><button type="button" class="btn btn-danger btn-sm eliminarMovimiento" data-producto="'+it.productoId+'"><i class="fa fa-times"></i></button></td>').appendTo(row);
            $('#tablaDetalles > tbody:last').append(row);
            $('.eliminarMovimiento').off('click');
            $('.eliminarMovimiento').on('click', function(){
                let productoId = $(this).data('producto');
                dataReq.movimiento.detalles = dataReq.movimiento.detalles.filter(it => it.productoId !== parseInt(productoId));
                renderDetalle();
            });
        });
    }
    $(document).ready(function() {
        $('#selectProducto').click(function(){
            $('#modalProducto').modal('show');
        });
        $('#btnCancelar').click(function(){
            alertCancelacion('Salir de formulario','Esta seguro de salir del formulario?', function(){
                $.post('../movimiento/gestion',function(resp){
                    $('#contenedor').html(resp);
                })
            });
        });
        $('#tipo').change(function(){
            let destino = $('#tipo option:selected').val();
            if(destino) {
               destino = parseInt(destino);
               if(destino === 1) {
                   $('.areaSucursalDestino').show(1000);
                   $('.areaTipoIngreso').hide(1000);
                   $('#sucursalDestino').val('');
               } else {
                   $('.areaTipoIngreso').show(1000);
                   $('.areaSucursalDestino').hide(1000);
               }
            } else {
                $('.areaTipoIngreso').show(1000);
                $('.areaSucursalDestino').hide(1000);
            }
        })
        $('#tablaProducto').DataTable({
            buttons: [],
            "ajax": {
                "type": "POST",
                "url": "../almacen/listar",
                "data": function(d) {
                    d.tipo = $('input[name=radioTipo]:checked').val();
                }
            },
            "columnDefs":[{targets: [2,3],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "productoId","name":"producto_id"
            }, {
                "data": "xproducto","name":"xproducto"
            }, {
                "data": "cantidad","name":"cantidad"
            }, {
                "data": "cantidadCaja","name":"cantidad"
            }],
            "createdRow": function(row, data, index) {},
            "drawCallback": function(settings) {},
            "initComplete": function(settings, json){
                $('#tablaProducto_filter input').unbind();
                $('#tablaProducto_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tablaProducto').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('#tablaProducto tbody').on('click', 'tr', function() {
            let obj = $('#tablaProducto').DataTable().row(this).data();
            dataReq.productoSelected = obj;
            $('#selectProducto').html('#'+obj.productoId + ' - '+obj.xproducto);
            $('#cantidadExistencia').val(obj.cantidad);
            $('#cantidadExistenciaCaja').val(obj.cantidadCaja);
            $('#labelUnidadPorCaja').html('Unidades por caja: '+obj.unidadPorCaja);
            $('#modalProducto').modal('hide');
        });
        $('.areaTipo').click(function() {
            $('#tablaProducto').dataTable().fnDraw();
        });
        $('#btnGuardar').click(function(){
            $('#formulario').data('formValidation').validate();
            var estadoForm1 = $('#formulario').data('formValidation').isValid();
            if (!estadoForm1) {
                return ;
            }
            if(dataReq.movimiento.detalles && dataReq.movimiento.detalles.length === 0) {
                modalAlert('Sin detalles', 'Ingrese detalles', 'error');
                return;
            }
            let formData = $('#formulario').formToJSON();
            dataReq.movimiento.tipo = parseInt(formData.tipo);
            if(dataReq.movimiento.tipo === 1) {//traspaso entre sucursales
                let sucDestino = formData.sucursalDestino;
                if(sucDestino) {
                    dataReq.movimiento.sucursalDestino = parseInt(sucDestino);
                } else {
                    modalAlert('Seleccione sucursal destino', 'El movimiento es traspaso entre sucursales, por favor ingrese la sucursal destino', 'error');
                    return ;
                }
            }
            dataReq.movimiento.obs = formData.obs;
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
                $.ajax({
                    url: '../movimiento/guardar',
                    type: "post", dataType: "json",
                    data: JSON.stringify(dataReq.movimiento), cache: false,
                    contentType: 'application/json',
                    processData: false
                }).done(function(result) {
                    finishTransaction(result, function(){
                        $.post('../movimiento/gestion',function(resp){
                            $('#contenedor').html(resp);
                        })
                    });
                });
            });
        });
        $('#formulario').formValidation({locale: 'es_ES'});
        $('#formularioDetalle').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let formData = $('#formularioDetalle').formToJSON();
            let tipoMovimiento = $('#tipo option:selected').val();
            let tipoMedida = formData.tipoDetalle === 'true';
            if(tipoMovimiento) {
                tipoMovimiento = parseInt(tipoMovimiento);
            }else {
                modalAlert('Seleccione Tipo de movimiento', 'Antes de ingresar los detalles, debe seleccionar el tipo de movimiento', 'error');
                resetFormDetalle();
                return;
            }
            if(jQuery.isEmptyObject(dataReq.productoSelected)) {
                modalAlert('Producto invalido', 'Seleccione producto, por favor', 'error');
                resetFormDetalle();
                return;
            }
            let esIngreso = formData.esIngreso;
            if(tipoMovimiento === 1) { // traspaso entre sucursales
                esIngreso = tipoMovimiento === 1 ? false : (formData.esIngreso == 'true');
            } else {
                if(esIngreso) {
                    esIngreso = tipoMovimiento === 1 ? false : (formData.esIngreso == 'true');
                } else {
                    modalAlert('Tipo de Movimiento invalido', 'Seleccione tipo de movimiento por favor', 'error');
                    $('#formularioDetalle').data('formValidation').resetForm();
                    return;
                }
            }
            let cantidadMovimiento = parseInt(formData.cantidad);
            let existeDetalle = dataReq.movimiento.detalles.find(it => it.productoId === dataReq.productoSelected.productoId);
            if(existeDetalle && esIngreso === existeDetalle.esIngreso && existeDetalle.tipo === tipoMedida) {
                cantidadMovimiento += existeDetalle.cantidad;
            } else {
                if(existeDetalle) { //Si existe detalle, pero el tipo de movimiento es diferente, se registra el ultmo seleccionado, por eso eliminamos el detalle anterior
                    dataReq.movimiento.detalles = dataReq.movimiento.detalles.filter(it => it.productoId !== existeDetalle.productoId);
                    existeDetalle = null;
                }
            }
            if(tipoMovimiento === 1) {
                if(tipoMedida === true) { // Es unidades
                    if(cantidadMovimiento > dataReq.productoSelected.cantidad) {
                        modalAlert('Cantidad inexistente','No se cuenta con la cantidad ingresada: '+cantidadMovimiento + ' unidades', 'error');
                        return ;
                    }
                } else { //cajas
                    if(cantidadMovimiento > dataReq.productoSelected.cantidadCaja) {
                        modalAlert('Cantidad inexistente','No se cuenta con la cantidad ingresada: '+cantidadMovimiento + ' cajas', 'error');
                        return ;
                    }
                }
            }
            if(existeDetalle) {
                dataReq.movimiento.detalles.forEach(it => {
                    if(it.productoId === existeDetalle.productoId) {
                        it.cantidad = cantidadMovimiento;
                        it.cantidadUnitaria = tipoMedida ? cantidadMovimiento : (cantidadMovimiento*it.unidadPorCaja);
                    }
                })
            } else {
                dataReq.movimiento.detalles.push({
                    'productoId': dataReq.productoSelected.productoId,
                    'xproducto':dataReq.productoSelected.xproducto,
                    'cantidad': parseInt(formData.cantidad),
                    'tipo': tipoMedida,//Unidad
                    'cantidadUnitaria': tipoMedida ? cantidadMovimiento : (cantidadMovimiento * dataReq.productoSelected.unidadPorCaja),
                    'esIngreso': esIngreso,
                    'unidadPorCaja': dataReq.productoSelected.unidadPorCaja
                });
            }
            renderDetalle();
            resetFormDetalle();
        });
        function resetFormDetalle(){
            dataReq.productoSelected = {};
            $('#selectProducto').html('&laquo; Seleccionar Producto &raquo;');
            $('#labelUnidadPorCaja').html('');
            $('#formularioDetalle').data('formValidation').resetForm();
            $('#formularioDetalle')[0].reset();
        }
    });
</script>
</section>