<div class="box box-primary" xmlns:th="http://www.thymeleaf.org">
    <div class="box-header with-border">
        <h3 class="box-title custom-bolder">REPORTES DE ADMINISTRACION</h3>
    </div>
    <div class="box-body">
        <form id="formulario1" method="post" action="../reporteAdministrativo/reporte1"
              data-fv-framework="bootstrap" data-fv-excluded="disabled"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>1.- Reporte</label>
                        <div class="input-group">
                            <input type="hidden" id="tipoImpresion1" name="tipoImpresion" value="pdf" />
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <span class="form-control form-control-plaintext text-input">Informe de Almacen</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <select class="form-control" name="sucursalId" data-fv-notempty="true">
                                <option value="">Seleccionar</option>
                                <option th:each="s : ${sucursales}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tipo</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <select class="form-control" name="tipo">
                            <option value="1">Inventario Actual</option>
                            <option value="2">Control de Stock</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type='hidden' id="fini1" name="fini" /> <input type='hidden' id="ffin1" name="ffin" />
                        <label for="daterange-btn2">Rango de fechas de ventas (Restricci&oacute;n Fecha fin: HOY)</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" id="daterange-btn1">
                                    <i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control w3-white" id="reportrange1" name="reportrange" readonly="readonly" data-fv-notempty="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="form-group">
                        <label>Imprimir</label><br>
                        <div class="btn-group">
                            <button type="button" onclick="actionForm('pdf',1)" class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                            <button type="button" onclick="actionForm('xls',1)" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form id="formulario2" method="post" action="../reporteAdministrativo/reporte2"
              data-fv-framework="bootstrap" data-fv-excluded="disabled"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>2.- Reporte</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <span class="form-control form-control-plaintext text-input">Informe de Compras</span>
                            <input type="hidden" name="tipo" value="1" />
                            <input type="hidden" id="tipoImpresion2" name="tipoImpresion" value="pdf" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <select class="form-control" name="sucursalId" data-fv-notempty="true">
                                <option value="">Seleccionar</option>
                                <option th:each="s : ${sucursales}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select class="form-control" name="userId">
                                <option value="-1" selected>Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type='hidden' id="fini2" name="fini" /> <input type='hidden' id="ffin2" name="ffin" />
                        <label for="daterange-btn2">Seleccione el rango de fechas</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" id="daterange-btn2">
                                    <i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control w3-white" id="reportrange2" name="reportrange" readonly="readonly" data-fv-notempty="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="form-group">
                        <label>Imprimir</label><br>
                        <div class="btn-group">
                            <button type="button" onclick="actionForm('pdf',2)" class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                            <button type="button" onclick="actionForm('xls',2)" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form id="formulario3" method="post" action="../reporteAdministrativo/reporte2"
              data-fv-framework="bootstrap" data-fv-excluded="disabled"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>3.- Reporte</label>
                        <div class="input-group">
                            <input type="hidden" name="tipo" value="2" />
                            <input type="hidden" id="tipoImpresion3" name="tipoImpresion" value="pdf" />
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <span class="form-control form-control-plaintext text-input">Informe de Ventas</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <select class="form-control" name="sucursalId" data-fv-notempty="true">
                                <option value="">Seleccionar</option>
                                <option th:each="s : ${sucursales}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select class="form-control" name="userId" data-fv-notempty="true">
                                <option value="-1">Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type='hidden' id="fini3" name="fini" /> <input
                            type='hidden' id="ffin3" name="ffin" /> <label
                            for="daterange-btn3">Seleccione el rango de fechas</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" id="daterange-btn3">
                                    <i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control w3-white" id="reportrange3" name="reportrange" readonly="readonly" data-fv-notempty="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="form-group">
                        <label>Imprimir</label><br>
                        <div class="btn-group">
                            <button type="button" onclick="actionForm('pdf',3)" class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                            <button type="button" onclick="actionForm('xls',3)" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form id="formulario4" method="post" action="../reporteAdministrativo/reporte2"
              data-fv-framework="bootstrap" data-fv-excluded="disabled"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>4.- Reporte</label>
                        <div class="input-group">
                            <input type="hidden" name="tipo" value="3" />
                            <input type="hidden" id="tipoImpresion4" name="tipoImpresion" value="pdf" />
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <span class="form-control form-control-plaintext text-input">Informe de Arqueo de Caja</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <select class="form-control" name="sucursalId" data-fv-notempty="true">
                                <option value="">Seleccionar</option>
                                <option th:each="s : ${sucursales}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select class="form-control" name="userId" data-fv-notempty="true">
                                <option value="-1">Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type='hidden' id="fini4" name="fini" /> <input
                            type='hidden' id="ffin4" name="ffin" /> <label
                            for="daterange-btn4">Seleccione el rango de fechas</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" id="daterange-btn4">
                                    <i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control w3-white" id="reportrange4" name="reportrange" readonly="readonly" data-fv-notempty="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="form-group">
                        <label>Imprimir</label><br>
                        <div class="btn-group">
                            <button type="button" onclick="actionForm('pdf',4)" class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                            <button type="button" onclick="actionForm('xls',4)" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <form id="formulario5" method="post" action="../reporteAdministrativo/reporte2"
              data-fv-framework="bootstrap" data-fv-excluded="disabled"
              data-fv-icon-valid="glyphicon glyphicon-ok"
              data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>5.- Reporte</label>
                        <div class="input-group">
                            <input type="hidden" name="tipo" value="4" />
                            <input type="hidden" id="tipoImpresion5" name="tipoImpresion" value="pdf" />
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <span class="form-control form-control-plaintext text-input">Informe de Movimientos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <select class="form-control" name="sucursalId" data-fv-notempty="true">
                                <option value="">Seleccionar</option>
                                <option th:each="s : ${sucursales}" th:value="${s.cod_suc}" th:text="${s.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select class="form-control" name="userId" data-fv-notempty="true">
                                <option value="-1" selected>Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type='hidden' id="fini5" name="fini" /> <input
                            type='hidden' id="ffin5" name="ffin" /> <label
                            for="daterange-btn5">Seleccione el rango de fechas</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" id="daterange-btn5">
                                    <i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control w3-white" id="reportrange5" name="reportrange" readonly="readonly" data-fv-notempty="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <div class="form-group">
                        <label>Imprimir</label><br>
                        <div class="btn-group">
                            <button type="button" onclick="actionForm('pdf',5)" class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                            <button type="button" onclick="actionForm('xls',5)" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function actionForm(tipoImpresion, xid){
        $('#tipoImpresion'+xid).val(tipoImpresion);
        $('#formulario'+xid).submit();
    }
    $(document).ready(function() {
        moment.locale('es');
        $('#reportrange1').val(moment().format('LLLL'));
        $('#fini1').val(moment().format('DD/MM/YYYY'));
        $('#ffin1').val(moment().format('DD/MM/YYYY'));
        $('#reportrange2').val(moment().format('LLLL'));
        $('#fini2').val(moment().format('DD/MM/YYYY'));
        $('#ffin2').val(moment().format('DD/MM/YYYY'));
        $('#reportrange3').val(moment().format('LLLL'));
        $('#fini3').val(moment().format('DD/MM/YYYY'));
        $('#ffin3').val(moment().format('DD/MM/YYYY'));
        $('#reportrange4').val(moment().format('LLLL'));
        $('#fini4').val(moment().format('DD/MM/YYYY'));
        $('#ffin4').val(moment().format('DD/MM/YYYY'));
        $('#reportrange5').val(moment().format('LLLL'));
        $('#fini5').val(moment().format('DD/MM/YYYY'));
        $('#ffin5').val(moment().format('DD/MM/YYYY'));
        $(".iconDate").inputmask("dd/mm/yyyy", {
            "placeholder": "dd/mm/yyyy"
        });

        $('#formulario1').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formdata = $('#formulario1').formToJSON();
            if(formdata.tipoImpresion === 'pdf') {
                $("#frameReportes").attr("src", $form.attr('action') + '?' + $form.serialize());
                $("#reportes").modal('show');
            } else {
                let xinforme = '';
                if(formdata.tipo === '1') {
                    xinforme = 'inventario_actual';
                } else {
                    xinforme = 'control_stock';
                }
                abrirLoad();
                reportXLS('../reporteAdministrativo/reporte1?tipo='+formdata.tipo+'&tipoImpresion='+formdata.tipoImpresion+'&fini='+formdata.fini+'&ffin='+formdata.ffin+'&sucursalId='+formdata.sucursalId,xinforme);
            }
        });
        $('#formulario2').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formdata = $('#formulario2').formToJSON();
            if(formdata.tipoImpresion === 'pdf') {
                $("#frameReportes").attr("src", $form.attr('action') + '?' + $form.serialize());
                $("#reportes").modal('show');
            } else {
                abrirLoad();
                reportXLS('../reporteAdministrativo/reporte2?tipo='+formdata.tipo+'&fini='+formdata.fini+'&ffin='+formdata.ffin+'&tipoImpresion='+formdata.tipoImpresion+'&sucursalId='+formdata.sucursalId+'&userId='+formdata.userId,'informe-compra');
            }
        });
        $('#formulario3').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formdata = $('#formulario3').formToJSON();
            if(formdata.tipoImpresion === 'pdf') {
                $("#frameReportes").attr("src", $form.attr('action') + '?' + $form.serialize());
                $("#reportes").modal('show');
            } else {
                abrirLoad();
                reportXLS('../reporteAdministrativo/reporte2?tipo='+formdata.tipo+'&fini='+formdata.fini+'&ffin='+formdata.ffin+'&tipoImpresion='+formdata.tipoImpresion+'&sucursalId='+formdata.sucursalId+'&userId='+formdata.userId,'informe-venta');
            }
        });
        $('#formulario4').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formdata = $('#formulario4').formToJSON();
            if(formdata.tipoImpresion === 'pdf') {
                $("#frameReportes").attr("src", $form.attr('action') + '?' + $form.serialize());
                $("#reportes").modal('show');
            } else {
                abrirLoad();
                reportXLS('../reporteAdministrativo/reporte2?tipo='+formdata.tipo+'&fini='+formdata.fini+'&ffin='+formdata.ffin+'&tipoImpresion='+formdata.tipoImpresion+'&sucursalId='+formdata.sucursalId+'&userId='+formdata.userId,'informe-caja');
            }
        });
        $('#formulario5').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formdata = $('#formulario5').formToJSON();
            if(formdata.tipoImpresion === 'pdf') {
                $("#frameReportes").attr("src", $form.attr('action') + '?' + $form.serialize());
                $("#reportes").modal('show');
            } else {
                abrirLoad();
                reportXLS('../reporteAdministrativo/reporte2?tipo='+formdata.tipo+'&fini='+formdata.fini+'&ffin='+formdata.ffin+'&tipoImpresion='+formdata.tipoImpresion+'&sucursalId='+formdata.sucursalId+'&userId='+formdata.userId,'informe-movimiento');
            }
        });

        $('#daterange-btn1').daterangepicker(
            {
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Desde Ayer': [moment().subtract(1, 'days'), moment()],
                    'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                    'Ultima 30 dias': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Desde el Anterior mes': [moment().subtract(1, 'month').startOf('month'), moment().endOf('month')]
                },
                startDate: moment(),
                endDate: moment()
            },
            function (start, end) {
                end = moment()
                if(start.isSame(end,'day')){
                    $('#reportrange1').val(start.format('LLLL'));
                }else{
                    $('#reportrange1').val(start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
                }
                $('#formulario1').data('formValidation').enableFieldValidators('reportrange',true).revalidateField('reportrange');
                $('#fini1').val(start.format('DD/MM/YYYY'));
                $('#ffin1').val(end.format('DD/MM/YYYY'));
            }
        );
        $('#daterange-btn2').daterangepicker(
            {
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                    'Ultima 30 dias': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Anterior mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment(),
                endDate: moment()
            },
            function (start, end) {
                if(start.isSame(end,'day')){
                    $('#reportrange2').val(start.format('LLLL'));
                }else{
                    $('#reportrange2').val(start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
                }
                $('#formulario2').data('formValidation').enableFieldValidators('reportrange',true).revalidateField('reportrange');
                $('#fini2').val(start.format('DD/MM/YYYY'));
                $('#ffin2').val(end.format('DD/MM/YYYY'));
            }
        );
        $('#daterange-btn3').daterangepicker(
            {
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                    'Ultima 30 dias': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Anterior mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment(),
                endDate: moment()
            },
            function (start, end) {
                if(start.isSame(end,'day')){
                    $('#reportrange3').val(start.format('LLLL'));
                }else{
                    $('#reportrange3').val(start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
                }
                $('#formulario3').data('formValidation').enableFieldValidators('reportrange',true).revalidateField('reportrange');
                $('#fini3').val(start.format('DD/MM/YYYY'));
                $('#ffin3').val(end.format('DD/MM/YYYY'));
            }
        );
        $('#daterange-btn4').daterangepicker(
            {
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                    'Ultima 30 dias': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Anterior mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment(),
                endDate: moment()
            },
            function (start, end) {
                if(start.isSame(end,'day')){
                    $('#reportrange4').val(start.format('LLLL'));
                }else{
                    $('#reportrange4').val(start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
                }
                $('#formulario4').data('formValidation').enableFieldValidators('reportrange',true).revalidateField('reportrange');
                $('#fini4').val(start.format('DD/MM/YYYY'));
                $('#ffin4').val(end.format('DD/MM/YYYY'));
            }
        );
        $('#daterange-btn5').daterangepicker(
            {
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                    'Ultima 30 dias': [moment().subtract(29, 'days'), moment()],
                    'Este mes': [moment().startOf('month'), moment().endOf('month')],
                    'Anterior mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment(),
                endDate: moment()
            },
            function (start, end) {
                if(start.isSame(end,'day')){
                    $('#reportrange5').val(start.format('LLLL'));
                }else{
                    $('#reportrange5').val(start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
                }
                $('#formulario5').data('formValidation').enableFieldValidators('reportrange',true).revalidateField('reportrange');
                $('#fini5').val(start.format('DD/MM/YYYY'));
                $('#ffin5').val(end.format('DD/MM/YYYY'));
            }
        );
    });
</script>