<!-- Default box -->
<form id="formularioEliminar" method="post" action="../venta/eliminar" data-backdrop="static" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
    <div id="modalEliminar" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Venta</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="ventaIdEliminar" />
                    <table class="w3-table" id="areaVentaInfo">
                        <thead>
                            <tr>
                                <td class="custom-bolder" colspan="2">Registrado en Sistema por</td>
                                <td colspan="2" aria-label="xcreatedBy"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder" colspan="2">Mesero asignado</td>
                                <td colspan="2" aria-label="xusuario"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder" colspan="2">Cliente</td>
                                <td colspan="2" aria-label="xcliente"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder">Fecha</td>
                                <td aria-label="xfecha"></td>
                                <td class="custom-bolder">Estado</td>
                                <td aria-label="xtipoVenta"></td>
                            </tr>
                        </thead>
                    </table>
                    <br>
                    <table id="areaResumenDetalleVenta" class="w3-table-all">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th width="10%" class="w3-center">Cantidad</th>
                            <th width="10%" class="w3-center">Medida</th>
                            <th width="10%" class="w3-center"> Precio </th>
                            <th width="10%" class="w3-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="unit">
                            <td colspan="7" class="w3-center">Sin ningun detalle</td>
                        </tr>
                        </tbody>
                        <tfoot id="areaResumenDetalleFooter">
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="3">Subtotal</td>
                                <td class="custom-bolder w3-right-align" colspan="2" aria-label="subtotal"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="3">Descuento</td>
                                <td class="custom-bolder w3-right-align" colspan="2" aria-label="descuento"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="3">Total</td>
                                <td class="custom-bolder w3-right-align" colspan="2" aria-label="total"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="5" aria-label="totalLiteral"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="3">Total Pagado</td>
                                <td class="custom-bolder w3-right-align" colspan="2" aria-label="totalPagado"></td>
                            </tr>
                            <tr>
                                <td class="custom-bolder w3-right-align" colspan="3">Total Cambio</td>
                                <td class="custom-bolder w3-right-align" colspan="2" aria-label="totalCambio"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-5">
                <h1><span class="fa  fa-ellipsis-v"></span> Gestion Ventas </h1>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 padding-top-md">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary tipoRadio" title="Comandas generales">
                        <span class="fa fa-users"></span><br>
                        <input type="radio" name="tipoVenta" value="0" checked> Todas
                    </label>
                    <label class="btn btn-warning active tipoRadio">
                        <span class="fa fa-user-plus"></span><br>
                        <input type="radio" name="tipoVenta" value="1"  title="Comanda Activas"> Comanda Activa
                    </label>
                    <label class="btn btn-success tipoRadio" title="Comanda Finalizada">
                        <span class="fa fa-user"></span> <span class="fa fa-dollar"></span><br>
                        <input type="radio" name="tipoVenta" value="2"> Comanda Finalizada
                    </label>
                    <label class="btn btn-danger tipoRadio" title="Comanda Revertida">
                        <span class="fa fa-user-times"></span><br>
                        <input type="radio" name="tipoVenta" value="3"> Comanda Revertida
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 padding-top-md">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active usuarioRadio">
                        <input type="radio" name="usuario" value="true"  title="Ventas Propias" checked> C. Propias
                    </label>
                    <label class="btn btn-success usuarioRadio" title="Ventas generales">
                        <input type="radio" name="usuario" value="false"> C. Generales
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 padding-top-md">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio">
                        <input type="radio" name="estado" value="true"  title="Mostrar Activos" checked> Activos
                    </label>
                    <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos">
                        <input type="radio" name="estado" value="false"> Inactivos
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">C&oacute;digo</th>
                    <th class="all">Fecha</th>
                    <th class="desktop">Cliente</th>
                    <th class="desktop">Usuario</th>
                    <th class="desktop">Estado</th>
                    <th class="desktop">Total</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    var dataReq = {
        stateColor : ['','warning','success','primary'],
        estadoVenta: ['','Comanda activa','Comanda Finalizada','Comanda Revertida'],
        ventaInfo : {}
    }
    function renderVenta() {
        dataReq.ventaInfo.xfecha = moment(dataReq.ventaInfo.fecha).format('LLL');
        dataReq.ventaInfo.xtipoVenta = dataReq.estadoVenta[dataReq.ventaInfo.tipo];
        dataReq.ventaInfo.totalLiteral = 'Son: '+numeroALetras(dataReq.ventaInfo.total);
        $('#formularioEliminar').loadJSON(dataReq.ventaInfo);
        $('#ventaIdEliminar').val(dataReq.ventaInfo.id);
        $('#areaResumenDetalleVenta > tbody').html('');
        if(dataReq.ventaInfo.detalleVenta && dataReq.ventaInfo.detalleVenta.length > 0) {
            dataReq.ventaInfo.detalleVenta.forEach(it => {
                let row = $('<tr></tr>');
                $('<td>'+it.xproducto+'</td>').appendTo(row);
                $('<td class="w3-center">'+it.cantidad+'</td>').appendTo(row);
                $('<td class="w3-center">'+it.xtipoVenta+'</td>').appendTo(row);
                $('<td class="w3-center">'+it.precio+'</td>').appendTo(row);
                $('<td class="w3-center">'+it.total+'</td>').appendTo(row);
                $('#areaResumenDetalleVenta > tbody:last').append(row);
            });
        }
        if(dataReq.ventaInfo.detalleVentaCompuesto && dataReq.ventaInfo.detalleVentaCompuesto.length > 0) {
            dataReq.ventaInfo.detalleVentaCompuesto.forEach(it => {
                let tablaInterna = $('<table class="w3-table w3-small"></table>');
                let tableBody = $('<tbody></tbody>');
                it.subdetallesCompuestos.forEach(subitem => {
                    $('<tr><td class="custom-bolder">'+subitem.xtipoProducto+'</td><td class="custom-bolder">Cantidad</td></tr>').appendTo(tableBody);
                    subitem.productos.forEach( pro => {
                        let fila = $('<tr></tr>');
                        $('<td style="padding-left: 35px;">'+pro.xproducto+'</td>').appendTo(fila);
                        $('<td>'+pro.cantidad+'</td>').appendTo(fila);
                        tableBody.append(fila);
                    });
                })
                tablaInterna.append(tableBody);
                let row = $('<tr></tr>');
                let tdNombre = $('<td></td>');
                $('<span>'+it.xproducto+'</span>').appendTo(tdNombre);
                tablaInterna.appendTo(tdNombre);
                tdNombre.appendTo(row);
                $('<td class="w3-center">'+it.cantidad+'</td>').appendTo(row);
                $('<td class="w3-center">Unid.</td>').appendTo(row);
                $('<td class="w3-center">'+it.precio+'</td>').appendTo(row);
                $('<td class="w3-center">'+it.total+'</td>').appendTo(row);
                $('#areaResumenDetalleVenta > tbody:last').append(row);
            });
        }
    }
    $(document).ready(function() {
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $(".fecha").inputmask("dd/mm/yyyy", {
            "placeholder": "dd/mm/yyyy"
        });
        var tablaVenta = $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    abrirLoad();
                    $.post('../venta/adicionar?isMobil='+UtilBrowser.isMobil()+'&esMesero=false', function(resp) {
                        $('#contenedor').html(resp);
                    }).fail(function(){
                        cerrarLoad();
                    }).always(function(){
                        cerrarLoad();
                    });
                }
            }],
            "ajax": {
                "type": "GET",
                "url": "../venta/lista",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                    d.usuario = $('input[name=usuario]:checked').val();
                    d.tipo = $('input[name=tipoVenta]:checked').val();
                }
            },
            "ordering":true,
            "order": [[0,'desc']],
            "columnDefs":[{targets: [6],className:'text-right'}],
            "columns": [{
                "data": "id","name": "id"
            }, {
                "data": "fecha","name": "fecha"
            }, {
                "data": "xcliente","name": "xcliente"
            }, {
                "data": "xusuario","name": "xusuario"
            }, {
                "data": "tipo","name": "tipo"
            }, {
                "data": "total","name": "total"
            }, {
                "data": "id","name": "id"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(1).html(UtilDate.formatDate(data.fecha,'DD/MM/YYYY'));
                $('td', row).eq(4).html('<span class="label label-'+dataReq.stateColor[data.tipo]+'">'+data.xtipo+'</span>');
                let acciones = '<button class="btn btn-success btn-sm imprimir"  data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i><br>imprimir</button>';
                acciones += '<button class="btn btn-danger eliminar btn-sm"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button>';
                if(data.tipo === 1) {
                    acciones += '<button class="btn btn-primary modificar btn-sm"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="glyphicon glyphicon-edit"></i><br>modificar</button>';
                    acciones += '<button class="btn bg-purple pagar btn-sm"  data-toggle="tooltip" data-placement="top" title="Pagar"><i class="ion ion-cash"></i><br>Pagar</button>';
                }
                if (data.estado) {
                    $('td', row).eq(6).html('<div class="btn-group btn-group-xs">'+acciones+'</div>');
                } else
                    $('td', row).eq(6).html('<button class="btn btn-success imprimir" data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i><br>imprimir </button>');
            },
            "drawCallback": function(settings) {

                $('.imprimir').click(function() {
                    let obj = tablaVenta.row($(this).closest('tr')).data();
                    $("#frameReportes").attr("src", "../venta/ver?id=" + obj.id);
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });

            }
        });
        $('#tabla tbody').on('click', 'tr td button.eliminar', function() {
			let obj = tablaVenta.row($(this).closest('tr')).data();
			$.post('../venta/obtenerInfo?ventaId='+obj.id,function(resp){
			    finishTransaction(resp, function(){
			        dataReq.ventaInfo = resp.data;
			        renderVenta();
                    console.log(resp.data);
                    $('#modalEliminar').modal('show');
                })
            })
		});
        $('#tabla tbody').on('click', 'tr td button.modificar', function() {
            let obj = tablaVenta.row($(this).closest('tr')).data();
            $.post('../venta/adicionar?isMobil=',{'isMobil':UtilBrowser.isMobil(),'ventaId':obj.id,'esMesero':false}, function(resp) {
                $('#contenedor').html(resp);
            });
        });
        $('#tabla tbody').on('click', 'tr td button.pagar', function() {
            let obj = tablaVenta.row($(this).closest('tr')).data();
            $.post('../venta/adicionar?isMobil=',{'isMobil':UtilBrowser.isMobil(),'ventaId':obj.id,'esMesero':false,'ingresarPago':true}, function(resp) {
                $('#contenedor').html(resp);
            });
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('');
        });
        $('.usuarioRadio').click(function() {
            $('#tabla').dataTable().fnDraw('');
        });
        $('.tipoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('');
        });
        $('#formularioEliminar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                finishTransaction(result, function(){
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('');
                });
            }, 'json');
        });
    });

</script>