<script type="text/javascript" src="/js/BrowserPrint-3.0.216.min.js"></script>
<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-6">
                <h1><span class="fa  fa-ellipsis-v"></span> Pedidos Pendientes</h1>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-md-3 control-label">Area</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="areaId" class="form-control input-lg" id="areaId">
                            <option value="1">COCINA</option>
                            <option value="2">PARRILLA</option>
                            <option value="3">BAR</option>
                            <option value="-1">Todos</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block" id="btnActualizarPedidos"><i class="fa fa-refresh"></i> Actualizar tabla de Pedidos</button>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-hover table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">Venta ID</th>
                    <th class="all">Fecha</th>
                    <th class="all">Mesa</th>
                    <th class="all">Usuario</th>
                    <th class="all">Cliente</th>
                    <th class="all">Tiempo</th>
                    <th class="all">Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    var selected_device;
    var devices = [];
    function setup()
    {
        //Get the default device from the application as a first step. Discovery takes longer to complete.
        BrowserPrint.getDefaultDevice("printer", function(device)
        {
            //Add device to list of devices and to html select element
            selected_device = device;
            devices.push(device);
            // var html_select = document.getElementById("selected_device");
            // var option = document.createElement("option");
            // option.text = device.name;
            // html_select.add(option);

            //Discover any other devices available to the application
            BrowserPrint.getLocalDevices(function(device_list){
                for(var i = 0; i < device_list.length; i++)
                {
                    //Add device to list of devices and to html select element
                    var device = device_list[i];
                    if(!selected_device || device.uid != selected_device.uid)
                    {
                        devices.push(device);
                    }
                }

            }, function(){alert("Error getting local devices")},"printer");

        }, function(error){
            alert(error);
        })
    }
    function writeToSelectedPrinter(dataToWrite)
    {
        selected_device.send(dataToWrite, undefined, errorCallback);
    }
    var readCallback = function(readData) {
        if(readData === undefined || readData === null || readData === "")
        {
            alert("No Response from Device");
        }
        else
        {
            alert(readData);
        }

    }
    var errorCallback = function(errorMessage){
        alert("Error: " + errorMessage);
    }
    function readFromSelectedPrinter()
    {

        selected_device.read(readCallback, errorCallback);

    }
    window.onload = setup;
    $(document).ready(function() {
        setup();
        $('#tabla').DataTable({
            buttons: [],
            "ajax": {
                "type": "POST",
                "url": "../venta/listaPedidoCocina",
                "data": function(d) {
                    d.area = $('#areaId option:selected').val();
                }
            },
            "columnDefs":[{targets: [6],className:'text-right'},{targets: [5],className:'text-center'}],
            "ordering":true,
            "order":[[1,'desc']],
            "columns": [{
                "data": "ventaId","name":"venta_id"
            }, {
                "data": "fecha","name":"fecha"
            }, {
                "data": "xmesa","name":"xmesa"
            }, {
                "data": "xusuario","name":"xusuario"
            }, {
                "data": "xcliente","name":"xcliente"
            }, {
                "data": "ventaId","name":"ventaId"
            }, {
                "data": "historicoVentaId","name":"historico_venta_id"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(1).html(UtilDate.formatTimestampLiteral(data.fecha));
                $('td', row).eq(5).html('Hace '+moment().diff(moment(data.fecha),'minutes')+' minutos');
                $('td', row).eq(6).html('<div class="btn-group btn-group-xs"><button class="btn btn-success confirmar"  data-toggle="tooltip" data-placement="top" title="Confirmar pedido"><i class="fa fa-edit"></i><br>confirmar </button><button class="btn btn-info imprimir"  data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i><br>imprimir</button></div>');
            },
            "drawCallback": function(settings) {
                $('.imprimir').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    let areaId = parseInt($('#areaId option:selected').val());
                    $("#frameReportes").attr("src", "../venta/verPedidoPendiente?ventaId=" + obj.ventaId+'&historicoVentaId='+obj.historicoVentaId+'&areaId='+areaId);
                    $("#reportes").modal('show');
                    // $.post('../venta/verPedidoPendientePrintZebra?ventaId=' + obj.ventaId+'&historicoVentaId='+obj.historicoVentaId+'&areaId='+areaId, function(resp){
                    //     if(resp.status && resp.data) {
                    //         resp.data.forEach(it => {
                    //             // setTimeout(writeToSelectedPrinter(it),2000);
                    //             selected_device.send(it, undefined, errorCallback);
                    //         })
                    //     } else {
                    //         modalAlert('Error', resp.msg, 'error');
                    //     }
                    // });
                });
                $('.confirmar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertActivacion('Confirmar Pedido', 'Esta seguro de confirmar el pedido realizado '+ obj.ventaId + ', '+obj.xmesa, function(){
                        let areaId = parseInt($('#areaId option:selected').val());
                        $.post('../venta/confirmarPedido',{'ventaId':obj.ventaId, 'historicoVentaId': obj.historicoVentaId, 'areaId': areaId }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('#btnActualizarPedidos').click(function(){
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#areaId').change(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
    });
</script>
</section>