<!-- Default box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../docente/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Docente</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="codigo" name="cod_per">
                            <input type="hidden" name="ci_per" value="">
                            <input type="hidden" name="tel_per" value="">
                            <input type="hidden" name="dir_per" value="">
                            <input type="hidden" name="ema_per" value="">
                            <input type="hidden" name="fot_per" value="user.png">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control nombres text-uppercase" id="nom_per1" name="nom_per" data-fv-notempty="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Primer Apellido</label>
                                        <input type="text" class="form-control nombres text-uppercase" id="priape_per1" name="priape_per" data-fv-notempty="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Segundo Apellido</label>
                                        <input type="text" class="form-control nombres text-uppercase" id="segape_per1" name="segape_per">
                                    </div>
                                    <div class="form-group">
                                        <label>Genero</label>
                                        <div class="radio">
                                            <label for="masculino1"><input type="radio" id="masculino1" name="sex_per" value="true" data-fv-notempty="true"/>Masculino</label>
                                            <label for="femenino1"><input type="radio"  id="femenino1" name="sex_per" value="false" data-fv-notempty="true"/>Femenino</label>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Profesion</label>
                                        <input type="text" id="pro_doc" name="pro_doc" class="form-control text-uppercase" data-fv-notempty="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Abreviacion</label>
                                        <input type="text" id="abrpro_doc" name="abrpro_doc" class="form-control text-uppercase" data-fv-notempty="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../docente/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Docente</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="cod_per">
                            <input type="hidden" name="cod_doc">
                            <input type="hidden" name="ci_per" value="">
                            <input type="hidden" name="tel_per" value="">
                            <input type="hidden" name="dir_per" value="">
                            <input type="hidden" name="ema_per" value="">
                            <input type="hidden" name="fot_per" value="user.png">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control text-uppercase" id="nom_per" name="nom_per" data-fv-notempty="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Primer Apellido</label>
                                        <input type="text" class="form-control text-uppercase" id="priape_per" name="priape_per" data-fv-notempty="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Segundo Apellido</label>
                                        <input type="text" class="form-control text-uppercase" id="segape_per" name="segape_per">
                                    </div>
                                    <div class="form-group">
                                        <label>Genero</label>
                                        <div class="radio">
                                            <label for="masculino2"><input type="radio" id="masculino2" name="sex_per" value="true" data-fv-notempty="true"/>Masculino</label>
                                            <label for="femenino2"><input type="radio"  id="femenino2" name="sex_per" value="false" data-fv-notempty="true"/>Femenino</label>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Profesion</label>
                                        <input type="text" id="pro_doc2" name="pro_doc" class="form-control text-uppercase" data-fv-notempty="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Abreviacion</label>
                                        <input type="text" id="abrpro_doc2" name="abrpro_doc" class="form-control text-uppercase" data-fv-notempty="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Gestion Docentes </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos</label>
                    <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input type="radio" name="estado" value="false"> Inactivos</label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none"></th>
                    <th class="all">Nombre y Apellidos</th>
                    <th class="desktop">Profesi&oacute;n</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(document).ready(function() {
        var tableUser = $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#codigo').val(0);
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../docente/lista",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [3],className:'text-right'}],
            "columns": [{
                "data": "cod_doc"
            }, {
                "data": "pro_doc"
            }, {
                "data": "pro_doc"
            }, {
                "data": "cod_doc"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(1).html(data.nom_per + ' ' + data.priape_per + ' ' + data.segape_per);
                if ($('input[name=estado]:checked').val() == 'true') {
                    $('td', row).eq(3).html('<div class="btn-group"><button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_doc + '"><i class="fa fa-edit"></i> | editar</button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_doc + '"><i class="glyphicon glyphicon-remove"></i> | eliminar</button><button class="btn btn-success imprimir" data-id="' + data.cod_per + '" data-toggle="tooltip" data-placement="top" title="Imprimir credencial"><i class="glyphicon glyphicon-print"></i> <i class="fa fa-credit-card"></i> | imprimir</button></div>');
                } else
                    $('td', row).eq(3).html('<button class="btn btn-primary activar" data-id="' + data.cod_doc + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i>  </button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                	let obj = tableUser.row($(this).closest('tr')).data();
                	alertEliminacion("Eliminacion de docente", ("Cod. docente: "+ obj.cod_doc+", Docente: "+obj.nom_per+' '+obj.priape_per+' '+(obj.segape_per?obj.segape_per:'')), function(){
        				jQuery.post('../docente/eliminar?cod_doc='+obj.cod_doc, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de eliminacion', resp.msg,'error');
        					}
        				});
        			});
                });

                $('.activar').click(function() {
                	let obj = tableUser.row($(this).closest('tr')).data();
                	alertAdicion("Activacion de docente", ("Cod. docente: "+ obj.cod_doc+", Docente: "+obj.nom_per+' '+obj.priape_per+' '+(obj.segape_per?obj.segape_per:'')), function(){
        				jQuery.post('../docente/activar?cod_doc='+obj.cod_doc, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de activacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.modificar').click(function() {
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $.post('../docente/obtener?cod_doc=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#formularioModificar').loadJSON(result.data.persona);
                            $('#formularioModificar').loadJSON(result.data);
                            $('#cod_emp1').val(result.data.cod_emp).trigger('chosen:updated');
                            $('#modalModificar').modal('show');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.imprimir').click(function() {
                    let obj = tableUser.row($(this).closest('tr')).data();
                    $("#frameReportes").attr("src", "../docente/ver_credencial?cod_per=" + obj.cod_doc);
                    $("#reportes").modal('show');
                });
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status) {
                    xform.data('formValidation').resetForm();
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('page');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
            });
        });
        $('.nombres').blur(function() {
            if ($('#nom_per1').val() != null || $('#priape_per1').val() != null || $('#segape_per1').val() != null) {
                var cadena = $('#nom_per1').val() + ' ' + $('#priape_per1').val() + ' ' + $('#segape_per1').val();
                $.post('../usuario/buscar_nombres?cad=' + cadena, function(resp) {
                    if (resp.status == true) {
                        $('#formulario').loadJSON(resp.data);
                        mostrarMensaje('info', 'Este usuario ya existe');
                    } else $('#codigo').val(0);
                });
            }
        });
    });
</script>