<section xmlns:th="http://www.thymeleaf.org">
    <form id="formularioCerrar" autocomplete="off" method="post" action="../cartillaDiaria/cerrar" data-backdrop="static" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div id="modalCerrar" class="modal fade" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Cerrar Cartilla Diaria # <strong id="idCartilla"></strong></h4>
                    </div>
                    <div class="modal-body">
                        <table id="areaResumenDetalleCartilla" class="w3-table-all">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Producto</th>
                                <th width="10%" class="w3-center">Cantidad <br>Cartilla <br>Registrada</th>
                                <th width="10%" class="w3-center">Cantidad <br>Total <br>Vendida</th>
                                <th width="10%" class="w3-center">Cantidad <br>Anterior  <br>Almacen</th>
                                <th width="10%" class="w3-center">Cantidad <br>Resguardo  <br>Almacen</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                        <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="formularioDuplicar" autocomplete="off" method="post" action="../cartillaDiaria/duplicar" data-backdrop="static" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div id="modalDuplicar" class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Recuperar y registrar cartilla anterior</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert w3-pale-green">
                            <p>Atencion.- una vez ingresado el codigo de una cartilla diaria anterior, se duplica los datos una nueva cartilla diaria para el dia de hoy.</p>
                            <p>Es inprescindible que no haya cartillas diarias abiertas.</p>
                        </div>
                        <div class="form-group">
                            <label>Fecha de nueva cartilla</label>
                            <input type="date" class="form-control" id="fechaNueva" name="xfinicio" data-fv-notempty="true"/>
                        </div>
                        <div class="form-group">
                            <label>Codigo de cartilla diaria anterior</label>
                            <input type="text" class="form-control" name="id" id="codigoAnterior" data-fv-notempty="true" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                        <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-6">
                <h1><span class="fa  fa-ellipsis-v"></span> Cartilla Diaria</h1>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" id="btnRegistrarAnterior">Recuperar y registrar <br>Cartilla anterior</button>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo</th>
                    <th class="none">Usuario</th>
                    <th class="desktop">Fecha de Inicio</th>
                    <th class="desktop">Fecha de Fin</th>
                    <th class="desktop">Estado</th>
                    <th class="all">Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    var dataReq = {
        cierre: {
            listaCierre : []
        }
    }
    function setDetalleCierre(detalleId){
        setTimeout(function(){
            let can = $('#idDet-'+detalleId).val();
            if(!can) {
                can = 0;
            } else {
                can = parseInt(can);
            }
            if(can <= 0) {
                can = 0;
                $('#idDet-'+detalleId).val(0);
            }
            dataReq.cierre.listaCierre.forEach(it => {
                if(it.id === detalleId) {
                    it.cantidadFinalAlmacen = can;
                }
            });
        }, 1500);
    }
    $(document).ready(function() {
        $('#btnRegistrarAnterior').click(function(){
            $('#formularioDuplicar').data('formValidation').resetForm();
            $('#formularioDuplicar')[0].reset();
            jQuery.post('../cartillaDiaria/obtenerUltimaCartillaCierre', function(resp){
                if(resp.status) {
                    if(resp.data > 0) {
                        $('#fechaNueva').val(moment().format('YYYY-MM-DD'))
                        $('#codigoAnterior').val(resp.data);
                        $('#modalDuplicar').modal('show');
                    } else {
                        modalAlert('Sin cartillas anteriores', 'No se encontraron cartillas diarias anteriores', 'info');
                    }
                }
            })
        });
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $.post('../cartillaDiaria/adicionar',function(resp){
                        $('#contenedor').html(resp);
                    })
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../cartillaDiaria/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [5],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id","name":"id"
            }, {
                "data": "xusuario","name":"xusuario"
            }, {
                "data": "finicio","name":"finicio"
            }, {
                "data": "fechaCierre","name":"fecha_cierre"
            }, {
                "data": "estadoCartilla","name":"estado_cartilla"
            }, {
                "data": "id","name":"id"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(2).html(UtilDate.formatTimestampLiteral(data.finicio));
                $('td', row).eq(3).html(UtilDate.formatTimestampLiteral(data.fechaCierre));
                $('td', row).eq(4).html(data.estadoCartilla ? '<span class="label-success">Activo</span>':'<span class="label-danger">Finalizado</span>');
                if (data.estado) {
                    let buttons = '';
                    if(data.estadoCartilla) {
                        buttons += '<button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-edit"></i><br>editar </button>';
                        buttons += '<button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button>';
                        buttons += '<button class="btn btn-success cerrar"  data-toggle="tooltip" data-placement="top" title="Cerrar"><i class="glyphicon glyphicon-log-out"></i><br>cerrar</button>';
                    } else {
                        buttons += '<button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button>';
                    }
                    $('td', row).eq(5).html('<div class="btn-group btn-group-xs">'+buttons+'</div>');
                } else {
                    $('td', row).eq(5).html('');
                }
            },
            "drawCallback": function(settings) {
                $('.cerrar').click(function() {
                    $('#formularioCerrar').data('formValidation').resetForm();
                    $('#formularioCerrar')[0].reset();
                    $('#idCartilla').html('');
                    $('#areaResumenDetalleCartilla > tbody').html('');
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    $.post('../cartillaDiaria/obtenerDetalleCartillaCierre', {'cartillaDiariaId':obj.id}, function(resp){
                        finishTransaction(resp, function(){
                            if(resp.data && resp.data.length > 0) {
                                dataReq.cierre.listaCierre = resp.data;
                                dataReq.cierre.cartillaDiariaId = obj.id;
                                let ind = 1;
                                dataReq.cierre.listaCierre.forEach(item => {
                                    let row = $('<tr></tr>');
                                    $('<td class="w3-center">'+ind+'</td>').appendTo(row);
                                    $('<td class="">'+item.xproducto+'</td>').appendTo(row);
                                    $('<td class="w3-center">'+item.cantidad+'</td>').appendTo(row);
                                    $('<td class="w3-center">'+item.cantidadVendida+'</td>').appendTo(row);
                                    $('<td class="w3-center">'+(item.cantidadAlmacen - (item.cantidad - item.cantidadVendida))+'</td>').appendTo(row);
                                    $('<td class=""><div class="form-group"><input type="text" class="form-control input-xs text-right" id="idDet-'+item.id+'" onkeyup="setDetalleCierre('+item.id+')" value="'+item.cantidadAlmacen+'"></div></td>').appendTo(row);
                                    item.cantidadFinalAlmacen = item.cantidadAlmacen;
                                    $('#areaResumenDetalleCartilla > tbody:last').append(row);
                                    ind++;
                                })
                            }
                            $('#modalCerrar').modal('show');
                        });
                    })
                });
                $('.eliminar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertEliminacion('Eliminar cartilla diaria', 'Esta seguro de eliminar la cartilla diaria ', function(){
                        $.post('../cartillaDiaria/eliminar',{'cartillaDiariaId':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.modificar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    $.post('../cartillaDiaria/adicionar?id='+obj.id, function(resp){
                        $('#contenedor').html(resp);
                    })
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });

        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formularioCerrar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
                $.ajax({
                    url: '../cartillaDiaria/cerrar',
                    type: "post", dataType: "json",
                    data: JSON.stringify(dataReq.cierre), cache: false,
                    contentType: 'application/json',
                    processData: false
                }).done(function(resp) {
                    finishTransaction(resp, function(){
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                    })
                });
            });
        });
        $('#formularioDuplicar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
                var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    finishTransaction(result, function(){
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                    });
                }, 'json');
            });
        });
    });
</script>
</section>