<div class="error-page">
            <h1 class="headline text-red" > <span style="font-size: 208px;" class="fa fa-warning"></span></h1>
            <div class="error-content"><br><br>
              <h3><i class="fa fa-warning text-red"></i> Usted no tiene acceso.</h3>
              <p>
                Por favor comuniquese con el encargado de administracion para ser habilitado. Usted no podra realizar ninguna transaccion si no tiene permiso
              </p>
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->