<!-- Default box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../rol/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Rol</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nom_rol" name="nom_rol" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_rol" name="des_rol" data-fv-notempty="true"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../rol/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Rol</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_rol1" name="cod_rol" />
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nom_rol1" name="nom_rol" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_rol1" name="des_rol" data-fv-notempty="true"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <div id="modalEliminar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioEliminar" method="post" action="../rol/eliminar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Eliminar Rol</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_rol2" name="cod_rol" />
                            <p>Desea eliminar a <label id="rolLabel"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Eliminar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div id="modalActivar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioActivar" method="post" action="../rol/activar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Activar Rol</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_rol3" name="cod_rol" />
                            <p>Desea activar a <label id="rolLabel2"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Activar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div id="modalAsignar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioAsignar" method="post" action="../rol/guardarAsignacion" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Asignar Menus a Rol</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_rol4" name="cod_rol" />
                            <p>Rol : <label id="rolLabel3"></label></p>

                            <div class="form-group">
                                <label for="menus">Menus </label>
                                <select id="menus" multiple="multiple" name="menus" class="form-control input-md select-chosen" data-placeholder="Selecccionar..."></select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Gestion Roles </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true"  title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">Codigo</th>
                    <th class="all">Nombre</th>
                    <th class="desktop">Descripcion</th>
                    <th class="all" >Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#tabla').dataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../rol/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs": [{targets: [3],className:'text-right'}],
            "ordering": true,
            "order": [[0,'desc']],
            "columns": [{
                "data": "cod_rol", "name":"cod_rol"
            }, {
                "data": "nom_rol", "name":"nom_rol"
            }, {
                "data": "des_rol", "name":"des_rol"
            }, {
                "data": "cod_rol", "name":"cod_rol"
            }],
            "createdRow": function(row, data, index) {
                if ($('input[name=estado]:checked').val() == 'true') {
                    let btnUser = '';
                    if (data.menus == 0) btnUser = '<button class="btn btn-info asignar" data-id="' + data.cod_rol + '"  data-toggle="tooltip" data-placement="top" title="Asignar Menus"><i class="fa  fa-expeditedssl"></i><br/>asignar</button>';
                    else btnUser = '<button class="btn btn-success asignar"  data-toggle="tooltip" data-placement="top" title="Reasignar Menus" data-id="' + data.cod_rol + '"><i class="fa  fa-user-plus"></i><br/>asignar</button>';
                    btnUser += '<button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_rol + '"><i class="fa fa-edit"></i><br/>editar</button>';
                    btnUser += '<button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_rol + '"><i class="glyphicon glyphicon-remove"></i><br/>borrar</button>';
                    $('td', row).eq(3).html('<div class="btn-group btn-group-xs">' + btnUser + '</div>');
                } else{
                    $('td', row).eq(3).html('<button class="btn btn-primary activar" data-id="' + data.cod_rol + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br/>activar</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    $('#formularioEliminar')[0].reset();
                    $.post('../rol/obtener?cod_rol=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalEliminar').modal('show');
                            $('#formularioEliminar').loadJSON(result.data);
                            $('#rolLabel').html(result.data.nom_rol);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.activar').click(function() {
                    $('#formularioActivar')[0].reset();
                    $.post('../rol/obtener?cod_rol=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalActivar').modal('show');
                            $('#formularioActivar').loadJSON(result.data);
                            $('#rolLabel2').html(result.data.nom_rol);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.asignar').click(function() {
                    $('#formularioAsignar').data('formValidation').resetForm();
                    $('#formularioAsignar')[0].reset();
                    $.post('../rol/obtener?cod_rol=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalAsignar').modal('show');
                            if (result.data != null) $('#formularioAsignar').loadJSON(result.data);
                            $('#rolLabel3').html(result.data.nom_rol);
                            $('#menus').html('');
                            $.each(result.menus, function(i, item) {
                                var row = $('<option value="' + item.cod_men + '" ' + item.tipo + '>' + item.nom_men+' - '+ item.des_men + '</option>');
                                $('#menus').append(row);
                            });
                            $('#menus').trigger('chosen:updated');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.modificar').click(function() {
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $.post('../rol/obtener?cod_rol=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#formularioModificar').loadJSON(result.data);
                            $('#modalModificar').modal('show');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            }
            ,"initComplete": function(settings, json) {
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e){
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    if (result.status == true) {
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                        mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                    } else {
                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                    }
                }, 'json');
            });
        });
        $('#formularioEliminar,#formularioActivar,#formularioAsignar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('page');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
        });
        $('#nom').blur(function() {
            $.post('../rol/validar?nom_rol=' + $(this).val(), function(resp) {
                if (resp.status == true) {
                    $('#nom').val('');
                    mostrarMensaje('error', 'Este rol ya existe!!!');
                }
            });
        });
    });
</script>