<section xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading btn-primary active">
                <h2 style="color: white;">Perdida de productos :</h2>
            </div>
            <div class="panel-body form-horizontal">
                <form id="formulario1" name="formulario1" action="#" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Concepto</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="concepto">Perdida de productos.</textarea>
                        </div>
                    </div>
                </form>
                <hr style="border:1px dashed #dddddd;">
                    <form id="formulario2" name="formulario2" action="#" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Producto</label>
                        <div class="col-md-9">
                            <select id="producto" name="producto" class="form-control select-chosen" data-placeholder="Seleccione..." data-fv-notempty="true">
								<option value=""></option>
								<option th:each="p : ${productos}" th:if="${p.can_pro} > 0" th:id="${p.cod_pro}" th:value="${p.cod_pro}" th:data-can="${p.can_pro}" th:data-pre="${p.preven_pro}" th:text="${p.nom_tippro} +' '+ ${p.nom_pro}"></option>
							</select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">Cantidad</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control text-right" id="can1" name="can1" data-fv-notempty="true" min="1" data-fv-integer="true" onClick="this.setSelectionRange(0, this.value.length)">
                            <span class="input-group-abdon" id="exi" style="display: none;"> 
							<label id="existencia"></label>
						</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">Precio</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control text-right" id="pre1" name="pre1" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">Total</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control text-right" id="tot1" name="tot1" readonly>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" id="adicionar">
							<span class="glyphicon glyphicon-plus-sign"></span> Adicionar
	            			</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / panel preview -->
    <div class="col-lg-8">
        <form id="formulario3" name="formulario3" action="../asiento/guardarProductoPerdido" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h4>Detalle de productos perdidos:</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="detalles" class="w3-table-all w3-tiny">
                            <thead>
                                <tr>
                                    <th width="300px">Producto</th>
                                    <th>Cantidad</th>
                                    <th> Precio </th>
                                    <th>Subtotal</th>
                                    <th width="25px">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="unit">
                                    <td colspan="6" class="w3-center">Sin ningun detalle</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="w3-right-align" colspan="3">Total de efectivo Perdido</td>
                                    <td>
                                    <input type="text" id="subtotal" class="form-control input-xs text-right" name="subtotal" value="0" readonly="readonly">
                                    </td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                	<div class="row">
                		<div class="col-md-6">
                			<button type="button" id="btnCancelar" class="btn btn-danger btn-block">
							<span class="glyphicon glyphicon-remove-sign"></span> Cancelar
							</button>
                		</div>
                		<div class="col-md-6">
                			<button type="submit" id="guardar" class="btn btn-primary btn-block active">Enviar</button>
                		</div>
                	</div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        numero = {
            validators: {
                notEmpty: {
                    message: 'ingresar'
                },
                numeric: {
                    message: 'numero'
                }
            }
        }
        entero = {
            validators: {
                notEmpty: {
                    message: 'ingresar'
                },
                integer: {
                    message: 'numero'
                }
            }
        }
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $(".fec").inputmask("dd/mm/yyyy", {
            "placeholder": "dd/mm/yyyy"
        });
        $('button[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom',
        });
        $('#btnCancelar').click(function() {
        	alertEliminacion('Cancelar transaccion', 'Esta seguro de cancelar la transaccion contable?', function(){
        		$.post('../asiento/gestion', function(resp) {
                    $('#contenedor').html(resp);
                });
        	})
        });
        $(document).on('click', '.input-remove-row', function() {
            $('#producto option[id=' + $(this).data('producto') + ']').removeAttr('disabled');
            $("#producto").trigger("chosen:updated");
            var tr = $(this).closest('tr');
            tr.fadeOut(100, function() {
                tr.remove();
                calc_total();
                if ($('#detalles > tbody>tr').length == 0) {
                    var row = $('<tr id="unit" align="center"></tr>');
                    $('<td colspan="5">Sin ningun detalle</td>').appendTo(row);
                    $('#detalles > tbody:last').append(row);
                }
            });
        });
        $('#formulario1').formValidation({
            locale: 'es_ES',
            excluded: ':disabled',
            fields: {
                cliente: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un producto'
                        }
                    }
                }
            }
        }).on('success.field.fv', function(e, data) {
            var estadoForm1 = $('#formulario1').data('formValidation').isValid();
            if (estadoForm1 == true)
                $('#guardar').removeAttr('disabled');
        }).on('err.field.fv.', function(e, data) {
            $('#guardar').attr('disabled', 'disabled');
        });
        $('#formulario2').formValidation({
            locale: 'es_ES',
            excluded: ':disabled',
            fields: {
                producto: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un producto'
                        }
                    }
                }
            }
        }).on('success.field.fv', '[name="can1"]', function(e, data) {
            if (data.fv.isValidField('producto') != null) {
                $('#existencia').html('Existencia : ' + ($('#producto option:selected').data('can') - $('#can1').val()));
                if ($('#producto option:selected').data('can') < $('#can1').val()) {
                    $('#can1').val('');
                    $('#existencia').html('Existencia : ' + $('#producto option:selected').data('can'));
                    mostrarMensaje('info', 'La cantidad es mayor a la que se tiene');
                } else {
                    if ($('#pre1').val() != '' && data.fv.isValidField('producto') != null) {
                        $('#tot1').val($('#can1').val() * $('#pre1').val());
                    }
                }
            }
        }).on('success.field.fv', '[name="pre1"]', function(e, data) {
            if (data.fv.isValidField('can1') != null && data.fv.isValidField('producto') != null) {
                if (data.fv.isValidField('can1')) {
                    $('#existencia').html('Existencia : ' + ($('#producto option:selected').data('can') - $('#can1').val()));
                    $('#tot1').val(($('#can1').val() * $('#pre1').val()).toFixed(2));
                }
            }
        }).on('err.field.fv', function() {
            $('#tot1').val('');
        }).on('success.form.fv', function(e) {
        	e.preventDefault();
            var xform = $(e.target);
            var bv = xform.data('formValidation');
            var estado = $('#formulario2').data('formValidation').isValid();
            if (estado) {
            	let xprod = $('#producto').val();
                $('#unit').remove();
                let row = $('<tr></tr>');
                $('<td>' + $('#producto option:selected').text() + '</td>').appendTo(row);
                $('<td><input type="text" onkeyup="calc_subtotal(' + xprod + ')" id="can-' + xprod + '" name="cantidades" onClick="this.setSelectionRange(0, this.value.length)" class="form-control input-xs text-right" value="' + $('#can1').val() + '"></div></td>').appendTo(row);
                $('<td><input type="text" onkeyup="calc_subtotal(' + xprod + ')" id="pre-' + xprod + '" name="precios" onClick="this.setSelectionRange(0, this.value.length)" class="form-control input-xs text-right" value="' + $('#pre1').val() + '"></div></td>').appendTo(row);
                $('<td><input type="text"  id="subtot-' + xprod + '" name="subtotales" class="form-control input-xs input-subtot text-right" value="' + $('#tot1').val() + '" readonly></div></td>').appendTo(row);
                $('<td class="remove-row"><button type="button" class="btn btn-xs btn-danger input-remove-row" data-producto="' + xprod + '"><span class="glyphicon glyphicon-remove"></span></button></td>').appendTo(row);
                $('<input type="hidden" name="productos" value="' + xprod + '" >').appendTo(row);
                $('#detalles > tbody:last').append(row);
                $("#producto option:selected").attr('disabled', 'disabled');
                $("#producto").val('').trigger("chosen:updated");
                calc_total();
                $('#formulario2')[0].reset();
                xform.data('formValidation').resetForm();
                $('#formulario3').formValidation('addField', 'cantidades', entero);
                $('#formulario3').formValidation('addField', 'precios', numero);
            }
        });
        $('#formulario3').formValidation({
            locale: 'es_ES'
        }).on('success.fv.field', function() {
            var estadoForm3 = $('#formulario3').data('formValidation').isValid();
            if (estadoForm3) {
                calc_total();
            }
        }).on('err.field.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $('#total-final').html('');
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            alertAdicion('Confirmacion de registro de transaccion', 'Esta seguro de realizar esta transaccion contable?', function(){
            	$('#formulario1').data('formValidation').validate();
                var estadoForm1 = $('#formulario1').data('formValidation').isValid();
                if ($('#subtotal').val() > 0) {
                    if (estadoForm1 != null)
                        if (estadoForm1) {
                            $.post(xform.attr('action'), $('#formulario1').serialize() + '&' + xform.serialize(), function(result) {
                                if (result.status) {
                                    xform.data('formValidation').resetForm();
                                    $.post('../asiento/gestion', function(respuno) {
                                        mostrarMensaje('info', 'Se realizo con exito la Transaccion.');
                                        $('#contenedor').html(respuno);
                                    });
                                } else {
                                    mostrarMensaje('error', 'No se realizo con exito la transaccion.');
                                }
                            }, 'json');
                        }
                    $('#formulario1').data('formValidation').validate();
                    mostrarMensaje('error', 'Valide los campos requeridos.');
                    $('.modal').modal('hide');
                } else {
                    mostrarMensaje('error', 'Por favor ingrese el detalle.');
                }
            });
        });
        $('#producto').chosen().change(function() {
            $('#existencia').html('Cantidad existente : ' + $('#producto option:selected').data('can'));
            $('#pre1').val($('#producto option:selected').data('pre'));
            $('#exi').show();
        });
    });
    function calc_total() {
        let subtot = 0;
        let des = 0;
        let tot = 0;
        $('.input-subtot').each(function() {
            subtot += parseFloat($(this).val());
        });
        $("#subtotal").val(subtot.toFixed(2));
    }

    function calc_subtotal(valor) {
        let cantidad = $('#can-' + valor).val();
        let precio = $('#pre-' + valor).val();
        if(!cantidad){
        	cantidad = 0
        }
        if(!precio){
        	precio = 0;
        }
        let subtotal = parseFloat(precio) * parseFloat(cantidad);
        $('#subtot-' + valor).val(subtotal.toFixed(2));
        calc_total();
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if (evt.keyCode == 13) {
        	$('#adicionar').click();
            return false;
        }
    }
    document.onkeypress = stopRKey;
</script>
</section>