<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" autocomplete="off" method="post" action="../proveedor/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Proveedor</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="codigo" name="cod_per">
                            <input type="hidden" name="dir_per" value="">
                            <input type="hidden" name="ema_per" value="">
                            <input type="hidden" name="fot_per" value="user.png">
                            <input type="hidden" name="sex_per" value="true"/>
                            <div class="form-group">
                            	<label>Empresa</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <select id="cod_emp" name="cod_emp" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty>
                                        <option value=""></option>
                                        <option th:each="em : ${empresas}" th:value="${em.cod_emp}" th:text="${em.nom_emp}"></option>
                                    </select>
                                </div>
                  			</div>
                            <div class="form-group">
                            	<label>Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" id="nom_per" name="nom_per" data-fv-notempty="true">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Primer Apellido</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" id="priape_per" name="priape_per" data-fv-notempty="true">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Segundo Apellido</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" id="segape_per" name="segape_per">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Telefono o celular</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            	    <input type="text" class="form-control" name="tel_per">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <form id="formularioModificar" autocomplete="off" method="post" action="../proveedor/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Proveedor</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="cod_per">
                            <input type="hidden" name="cod_pro">
                            <input type="hidden" name="dir_per" value="">
                            <input type="hidden" name="ema_per" value="">
                            <input type="hidden" name="fot_per" value="user.png">
                            <input type="hidden" name="ci_per" value="">
                            <input type="hidden" name="sex_per" value="true"/>
                            <div class="form-group">
                            	<label>Empresa</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    <select id="cod_emp1" name="cod_emp" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty>
                                    <option value=""></option>
                                    <option th:each="em : ${empresas}" th:value="${em.cod_emp}" th:text="${em.nom_emp}"></option>
                                    </select>
                                </div>
                  			</div>
                            <div class="form-group">
                            	<label>Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" name="nom_per" data-fv-notempty="true">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Primer Apellido</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" name="priape_per" data-fv-notempty="true">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Segundo Apellido</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            	    <input type="text" class="form-control text-uppercase" name="segape_per">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label>Telefono o celular</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            	    <input type="text" class="form-control" name="tel_per">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->

                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Proveedores </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos</label>
                    <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input type="radio" name="estado" value="false"> Inactivos</label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-hover table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo proveedor</th>
                    <th class="desktop">Empresa</th>
                    <th class="all">Nombre y Apellidos</th>
                    <th class="none">Tel&eacute;fono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        var tableProveedor = $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#codigo').val(0);
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../proveedor/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "ordering":true,
            "order": [[0,'desc']],
            "columnDefs":[{targets: [4],className:'text-right'}],
            "columns": [{
                "data": "cod_pro","name":"cod_pro"
            }, {
                "data": "nom_emp","name":"nom_emp"
            }, {
                "data": "nom_per","name":"nom_per"
            }, {
                "data": "tel_per","name":"tel_per"
            }, {
                "data": "cod_pro","name":"priape_per"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(2).html(data.nom_per + ' ' + data.priape_per + ' ' + data.segape_per);
                if ($('input[name=estado]:checked').val() == 'true') {
                    $('td', row).eq(4).html('<div class="btn-group"><button class="btn btn-xs btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_pro + '"><i class="fa fa-edit"></i><br/>editar</button><button class="btn btn-xs btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_pro + '"><i class="glyphicon glyphicon-remove"></i><br/>eliminar</button></div>');
                } else
                    $('td', row).eq(4).html('<button class="btn btn-xs btn-primary activar" data-id="' + data.cod_pro + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br>Activar</button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                	let obj = tableProveedor.row($(this).closest('tr')).data();
                	alertEliminacion("Eliminacion de proveedor", ("Cod. proveedor: "+ obj.cod_pro+", Usuario: "+obj.nom_per+' '+obj.priape_per+' '+(obj.segape_per?obj.segape_per:'')), function(){
        				jQuery.post('../proveedor/eliminar?cod_pro='+obj.cod_pro, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de eliminacion', resp.msg,'error');
        					}
        				});
        			});
                });

                $('.activar').click(function() {
                	let obj = tableProveedor.row($(this).closest('tr')).data();
                	alertAdicion("Activacion de proveedor", ("Cod. proveedor: "+ obj.cod_per+", Proveedor: "+obj.nom_per+' '+obj.priape_per+' '+(obj.segape_per?obj.segape_per:'')), function(){
        				jQuery.post('../proveedor/activar?cod_pro='+obj.cod_pro, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de activacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.modificar').click(function() {
                    let obj = tableProveedor.row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    $('#modalModificar').modal('show');
                });
                $('.imprimir').click(function() {
                    $("#frameReportes").attr("src", "../proveedor/ver_credencial?cod_per=" + $(this).data('id'));
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            }
            , "initComplete": function (settings, json) {
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function (e) {
                    if (e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                });
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	let xfom = $(e.target);
                $.post(xfom.attr('action'), xfom.serialize(), function(result) {
                    if (result.status) {
                        xfom.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                        mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                    } else {
                        modalAlert('Error de transaccion', result.msg, 'error');
                    }
                }, 'json');
            });
        });
        $('#ci_per').blur(function() {
            $.post('../usuario/buscarci?ci=' + $(this).val(), function(resp) {
                if (resp.status == true) {
                    $('#formulario').loadJSON(resp.data);
                    mostrarMensaje('info', 'Este usuario ya existe');
                } else $('#codigo').val(0);

            });
        });
    });
</script>
</section>