<section xmlns:th="http://www.thymeleaf.org">
<form id="formularioEstudiante" method="post" action="../estudiante/guardar" enctype="multiform/data" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh">
    <div id="modalEstudiante" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" style="width: 98%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                	<div class="row">
                		<div class="col-md-8">
                			<div class="box box-success">
			                <div class="box-header">
			                  <i class="fa fa-odnoklassniki-square"></i>
			                  <h3 class="box-title">Estudiantes del Sistema</h3>
			                </div>
			                <div class="box-body chat" id="chat-box">
			                  <div class="item" id="dataEstudiante">
			                    <img src="/avatars/user.png" alt="user image" class="online">
			                    <p class="message">
			                      <a href="#" class="name">
			                        <label class="text-success pull-right"><i class="fa fa-whatsapp"></i> Cel. <span aria-label="tel_per"></span></label>
			                        C&oacute;digo de estudiante: <span aria-label="cod_est"></span>
			                      </a>
			                      Nombre y apellidos: <span aria-label="xestudiante"></span>
			                    </p>
			                    <div class="attachment">
			                      <h4>Atenci&oacute;n:</h4>
			                      <p class="filename">
			                        Aceptar si desea elegir al usuario para la prestacion de servicio.
			                      </p>
			                      <div class="pull-right">
			                        <button type="button" class="btn btn-success btn-social btn-sm btn-flat" id="btnEstudianteSeleccionado">
			                        <i class="glyphicon glyphicon-check"></i>
			                        Aceptar usuario seleccionado</button>
			                      </div>
			                    </div><!-- /.attachment -->
			                  </div><!-- /.item -->
			                </div><!-- /.chat -->
			              </div><!-- /.box (chat box) -->
                			<div class="box box-primary">
							<div class="box-body">
								<div class="">
								<table id="tablaEstudiante" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Cod.</th>
											<th>Celular</th>
											<th>Estudiante</th>
											<th>Seleccionar</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
								</div>
							</div>
							</div>
						</div>
                		<div class="col-md-4">
                			<div class="box box-primary">
                			<div class="box-header">
			                  <i class="fa fa-odnoklassniki-square"></i>
			                  <h3 class="box-title">Registrar Estudiante Nuevo</h3>
			                </div>
							<div class="box-body">
	                		<input type="hidden" id="codigo" name="cod_per">
		                    <input type="hidden" id="dir_per" name="dir_per" value="">
		                    <input type="hidden" id="ema_per1" name="ema_per" value="">
		                    <input type="hidden" id="foto1" name="foto1" value="">
		                    <input type="hidden" id="cod_car" name="carreras" value="0">
		                    <input type="hidden" id="tut_est" name="tut_est" value="">
		                    <input type="hidden" id="teltut_est" name="teltut_est" value="">
		                    <input type="hidden" name="ci_per" value="">
		                    <div class="form-group">
		                    	<label>Celular del estudiante</label>
		                    	<input type="text" class="form-control input-sm w3-right-align" id="tel_per" name="tel_per" data-fv-notempty="true">
		                    </div>
		                    <div class="form-group">
		                        <label>Nombre</label>
		                        <input type="text" class="form-control text-uppercase" id="nom_per" name="nom_per" data-fv-notempty="true">
		                    </div>
		                    <div class="form-group">
		                        <label>Primer Apellido</label>
		                        <input type="text" class="form-control text-uppercase" id="priape_per" name="priape_per" data-fv-notempty="true">
		                    </div>
		                    <div class="form-group">
		                        <label>Segundo Apellido</label>
		                        <input type="text" class="form-control text-uppercase" id="segape_per" name="segape_per">
		                    </div>
		                    <div class="form-group">
		                        <label>Genero</label>
		                        <div class="radio">
		                            <label for="masculino1"><input type="radio" id="masculino1" name="sex_per" value="true" data-fv-notempty="true"/>Masculino</label>
		                            <label for="femenino1"><input type="radio"  id="femenino1" name="sex_per" value="false" data-fv-notempty="true"/>Femenino</label>
		                        </div>
		                    </div>
		                    </div>
							</div>
                		</div>
                	</div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formularioDocente" method="post" action="../docente/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
    <div id="modalDocente" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar Docente</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="codigo2" name="cod_per">
                    <input type="hidden" name="ci_per" value="">
                    <input type="hidden" name="tel_per" value="">
                    <input type="hidden" name="dir_per" value="">
                    <input type="hidden" name="ema_per" value="">
                    <input type="hidden" name="fot_per" value="user.png">
                    <div class="form-group">
                    	<label>Nombre</label>
                    	<input type="text" class="form-control nombres text-uppercase" id="nom_per1" name="nom_per" data-fv-notempty="true">
                    </div>
                    <div class="form-group">
                    	<label>Primer Apellido</label>
                    	<input type="text" class="form-control nombres text-uppercase" id="priape_per1" name="priape_per" data-fv-notempty="true">
                    </div>
                    <div class="form-group">
                    	<label>Segundo Apellido</label>
                    	<input type="text" class="form-control nombres text-uppercase" id="segape_per1" name="segape_per">
                    </div>
                    <div class="form-group">
                    	<label>G&eacute;nero</label>
                    	<div class="radio">
                    		<label for="masculino2"><input type="radio" id="masculino2" name="sex_per" value="true" data-fv-notempty="true"/>Masculino</label>
                    		<label for="femenino2"><input type="radio"  id="femenino2" name="sex_per" value="false" data-fv-notempty="true"/>Femenino</label>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-md-8">
                    		<div class="form-group">
		                    	<label>Profesi&oacute;n</label>
		                    	<input type="text" id="pro_doc" name="pro_doc" class="form-control text-uppercase" data-fv-notempty="true">
		                    </div>
                    	</div>
                    	<div class="col-md-4">
                    		<div class="form-group">
		                    	<label>Abreviaci&oacute;n</label>
		                    	<input type="text" id="abrpro_doc" name="abrpro_doc" class="form-control text-uppercase" data-fv-notempty="true">
		                    </div>
                    	</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formularioTema" method="post" action="../tema/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
    <div id="modalTema" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar Tema</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Materia</label>
                        <select id="cod_mat" name="cod_mat" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty>
                  			<option value=""></option>
							<option th:each="m : ${materias}" th:value="${m.cod_mat}" th:text="${m.nom_mat}"></option>
						</select>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nom_tem1" name="nom_tem" data-fv-notempty="true">
                    </div>
                    <div class="form-group">
                        <label>Descripci&oacute;n</label>
                        <textarea class="form-control" id="des_tem" name="des_tem"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                    <button type="button" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- panel preview -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form id="formulario1" class="form" name="formulario1" action="#" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                <input type="hidden" name="cotizacionId" th:value="${cotizacionId}">
                    <div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                            	<label>Estudiante</label>
                            	<a href="#" class="text-primary pull-right" id="sinEstudiante"><i class="glyphicon glyphicon-check"></i> | Sin nombre</a>
                            	<input type="hidden" id="xcod_est" name="cod_est" />
                            	<a href="#" class="form-control w3-border-0" id="seleccionarEstudiante"><i id="estudianteIcon" class="fa fa-user-times text-danger"></i> | <span id="estudianteSeleccionado" class="text-danger">Seleccionar Estudiante</span></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                        	<div class="form-group">
                        	<label class="control-label">Ayudante</label>
                        	<select id="ayudante" name="cod_ayu" class="form-control input-xs select-chosen" data-placeholder="Seleccione ayudante" data-fv-notempty="true">
								<option value=""></option>
								<option th:each="a : ${ayudantes}" th:value="${a.cod_ayu}" th:text="${a.nom_per} +' '+ ${a.priape_per} +' '+ ${a.segape_per}"></option>
							</select>
                    		</div>
                        </div>
                        <div class="col-md-4">
                            <label>Docente</label><a href="#" class="text-primary pull-right" id="adicionarDocente"><i class="fa fa-plus"></i> | adicionar docente</a>
                            <div class="form-group">
                                <select id="docente" name="cod_doc" class="form-control select-chosen" data-placeholder="Seleccione docente" data-fv-notempty="true">
								<option value=""></option>
								<option th:each="d : ${docentes}" th:value="${d.cod_doc}" th:selected="(${d.cod_doc} == 0)" th:text="${d.nom_per} + ' '+ ${d.priape_per} + ' '+ ${d.segape_per}"></option>
							</select>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-2">
                    		<div class="form-group">
		                        <label class="control-label">Fecha de Entrega</label>
		                        <input type="text" id="fecenc_pre" name="fecent_pre" th:value="${fecha}" class="form-control input-md fecha w3-right-align" data-fv-notempty="true" data-fv-date-format="DD/MM/YYYY"
		                                data-fv-date-message="Formato DD/MM/YYYY" data-fv-date-separator="/" onClick="this.setSelectionRange(0, this.value.length)">
		                    </div>
                    	</div>
                    	<div class="col-md-2">
                    		<div class="form-group">
		                        <label class="control-label">Hora de Entrega</label>
		                        <input type="text" id="horenc_pre" name="horent_pre" class="form-control input-md w3-right-align hora" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)" />
		                    </div>
                    	</div>
                    	<div class="col-md-6">
                    		<div class="form-group">
		                        <label class="control-label">Observaci&oacute;n</label>
		                        <textarea class="form-control" placeholder="Ingresar alguna descripcion u observacion" rows="1" id="obs_pre" name="obs_pre" data-fv-notempty="true">Sin observaciones.</textarea>
		                    </div>
                    	</div>
                    	<div class="col-md-2">
                    		<div class="form-group">
                    		<br />
                    		<br />
                    		<div class="form-check">
                    		<input type="checkbox" class="form-check-input text-primary" id="sn" checked="checked" /> <label class="form-check-label" for="sn"> Sin observaci&oacute;n</label>
                    		</div>
		                    </div>
                    	</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    	<div class="panel panel-primary">
            <div class="panel-body">
            <form id="formulario2" class="form" name="formulario2" action="#" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="form-group mycontainerServicio">
                    	<label>Servicio</label><a href="#" class="text-primary pull-right" id="adicionarServicio"><i class="fa fa-plus"></i> | adicionar servicio</a>
                    	<select id="servicio" name="servicio" size="2" class="form-control" data-placeholder="Seleccione servicio" data-fv-notempty="true">
							<option value=""></option>
							<optgroup th:each="t : ${servicios}" th:label="${t.nom_tipser}">
								<option th:each="s : ${t.servicios}" th:id="${s.cod_ser}" th:value="${s.cod_ser}" th:data-pre="${s.pre_ser}" th:title="${s.des_ser}" th:text="${s.nom_ser}"></option>
							</optgroup>
						</select>
                    </div>
                    <div class="form-group">
                    	<label>Tema </label><a href="#" class="text-primary pull-right" id="adicionarTema"><i class="fa fa-plus"></i> | adicionar tema</a>
                    	<select id="tema" name="cod_tem" class="form-control input-lg select-chosen" data-placeholder="Seleccione tema" data-fv-notempty="true">
                    		<option value=""></option>
							<optgroup th:each="m : ${temas}" th:label="${m.nom_mat}">
								<option th:each="t : ${m.temas}" th:value="${t.cod_tem}" th:selected="(${t.cod_tem} == 0)" th:text="${t.nom_tem}"></option>
                    		</optgroup>
						</select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Precio</label>
                        <input type="text" class="form-control w3-right-align" id="pre1" name="pre1" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." onClick="this.setSelectionRange(0, this.value.length)" />
                    </div>
                    <div class="row">
                    	<div class="col-md-6">
                    	<button type="button" id="cancelar" class="btn btn-block btn-danger">
							<span class="glyphicon glyphicon-remove-sign"></span> Cancelar
							</button>
                    	</div>
                    	<div class="col-md-6">
                    	<button type="submit" class="btn btn-block btn-success" id="adicionar">
							<span class="glyphicon glyphicon-plus-sign"></span> Adicionar
	            			</button>
                    	</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-info">
        	<div class="box-body">
        		<fieldset class="scheduler-border">
        			<legend class="scheduler-border">Cotizacion</legend>
        			<dl class="dl-horizontal" id="cotizacionLista"></dl>
        		</fieldset>
        	</div>
        </div>
    </div>
    <div class="col-md-8">
        <form id="formulario3" name="formulario3" action="../prestacion/guardar" method="post" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="">
                        <table id="detalles" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="25px">No.</th>
                                    <th width="250px">Servicio</th>
                                    <th>Tema</th>
                                    <th class="w3-right-align" width="120px"> Precio </th>
                                    <th class="w3-right-align" width="25px">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="unit" align="center" class="w3-pale-blue">
                                    <td colspan="5">Sin ningun detalle</td>
                                </tr>
                            </tbody>
                            <tfoot style="font-weight: bolder;">
                                <tr style="border-top: 3px solid black;">
                                	<td colspan="5">
                                		<div class="row">
                                			<div class="col-sm-4 w3-border-right">
                                			<div class="form-group">
                                				<label>Subtotal</label><br />
                                				<b id="subtotal" class="form-control w3-right-align w3-border-0">0.0</b>
                                			</div>
                                			</div>
                                			<div class="col-sm-4">
                                			<div class="form-group">
                                				<label>Descuento</label>
                                				<input type="text" id="descuento" name="des_pre" class="form-control w3-right-align" value="0" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)" />
                                            <input type="hidden" id="input-total" name="tot_pre" value="0">
                                			</div>
                                			</div>
                                			<div class="col-sm-4 w3-border-left">
                                			<div class="form-group">
                                				<label>Total a pagar</label>
                                				<b id="total-final" class="form-control w3-right-align w3-border-0">0.0</b>
                                			</div>
                                			</div>
                                		</div>
                                	</td>
                                </tr>
                                <tr>
                                	<td colspan="5">
                                		<div class="row">
                                		<div class="col-sm-4 w3-border-right">
                                			<div class="form-group">
                                			<br />
				                    		<div class="form-check">
				                    		<input type="checkbox" class="form-check-input text-primary w3-check" id="pagototal" /> <label class="form-check-label" for="pagototal"> PAGAR TODO</label>
				                    		</div>
						                    </div>
                                		</div>
                                		<div class="col-sm-4">
                                			<div class="form-group">
                                			<label>Se ha recibido</label>
                                			<input type="text" id="saldo-favor" name="sal_pre" class="form-control w3-right-align" value="0" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)" />
                                			</div>
                                		</div>
                                		<div class="col-sm-4 w3-border-left">
                                			<div class="form-group">
                                			<label>Saldo restante</label>
                                			<b id="saldo-restante" class="form-control w3-right-align w3-border-0">0.0</b>
                                			</div>
                                		</div>	
                                		</div>
                                	</td>
                                </tr>
                                <tr>
                                	<td colspan="5">
                                		<div class="col-md-6">
                                			<div class="form-group">
						                    	<label>Forma de pago</label>
						                    	<div class="radio">
						                    		<label for="ventaEfectivo"><input type="radio" id="ventaEfectivo" class="campoFormaPago" name="formapago" value="0" data-fv-notempty="true" checked="checked"/>En efectivo</label>
						                    		<label for="ventaBanco"><input type="radio"  id="ventaBanco" class="campoFormaPago" name="formapago" value="1" data-fv-notempty="true"/>Deposito bancario</label>
						                    	</div>
						                    </div>
                                		</div>
                                		<div class="col-md-6">
                                			<div class="form-group" style="display: none" id="areaSubcuenta">
						                    	<label for="codSubcuenta">Deposito bancario</label>
						                    	<select name="codSubcuenta" id="codSubcuenta" class="form-control select-chosen">
						                    		<option value="">Seleccionar</option>
													<option th:each="c : ${cuentas}" th:value="${c.codSubcuenta}" th:text="${c.nombre}"></option>
						                    	</select>
						                    </div>
                                		</div>
                                	</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                    	<div class="col-md-6">
                    	</div>
                    	<div class="col-md-6">
                    	<button type="submit" id="guardar" class="btn btn-primary btn-block active">Enviar</button>
                    	</div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
	var cotizacionId = /*[[${cotizacionId}]]*/ '';
	cotizacionId = parseInt(cotizacionId);
</script>
<script type="text/javascript">
	var dataView = {
		dataCotizacion: {},
		dataEstudiante:{}
	}

	function resetEstudiante(){
		dataView.dataEstudiante={cod_est:-1,xestudiante:'Sin seleccion',tel_per:'-'}
	}
	function enumerarFila() {
        $('.td-nro').each(function(i) {
            $(this).html(i + 1);
        });
    }
	function loadEstudiante(){
		$('#estudianteIcon').removeClass('fa-user-times text-danger');
    	$('#estudianteIcon').addClass('fa-user-plus text-success');
    	$('#estudianteSeleccionado').removeClass('text-danger');
    	$('#estudianteSeleccionado').addClass('text-success');
    	$('#xcod_est').val(dataView.dataEstudiante.cod_est);
    	$('#estudianteSeleccionado').html(dataView.dataEstudiante.xestudiante);
	}
    function calcularTotal() {
    	setTimeout(() => {
    		let subtot = 0;
            let descuento = $('#descuento').val();
            if(!descuento){
            	descuento = 0;
            }else{
            	descuento = parseFloat(descuento);
            }
            let acuenta = $('#saldo-favor').val();
            if(!acuenta){
            	acuenta = 0;
            }else{
            	acuenta = parseFloat(acuenta);
            }
            $('.input-pre').each(function() {
                subtot += parseFloat($(this).val());
            });
            $("#subtotal").html(subtot.toFixed(2));
            $('#input-total').val(subtot.toFixed(2));
            let totalFinal = subtot - descuento;
            $('#total-final').html(totalFinal.toFixed(2));
            if($("#pagototal").is(':checked')){
            	acuenta = totalFinal;
    		}
            $('#saldo-favor').val(acuenta.toFixed(2));
            let saldoRestante = totalFinal - acuenta;
            $('#saldo-restante').html(saldoRestante.toFixed(2));
		}, 1000);
    }
    $(document).ready(function() {
    	var tablaEstudiante = $('#tablaEstudiante').DataTable({
            dom: "<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12'p>>",
            "ordering": false,
            "oLanguage": {
            	"sSearch": "Buscar usuario por codigo, nombre o celular:"
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "../estudiante/lista",
                "data": function(d) {
                    d.estado = true;
                }
            },
            "sSearch": "Buscar usuario",
            "pageLength":2,
            "columnDefs":[{targets: [3],className:'text-right'}],
            "columns": [{
                "data": "cod_est"
            }, {
                "data": "tel_per"
            }, {
                "data": "dir_per"
            }, {
                "data": "cod_est"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(2).html(data.nom_per + ' ' + data.priape_per + ' ' + data.segape_per);
                $('td', row).eq(3).html('<a href="#" class="seleccionar"><span class="label label-info">Seleccionar</span></a>');
            },
            "drawCallback": function(settings) {
                $('.seleccionar').click(function() {
                	let obj = tablaEstudiante.row($(this).closest('tr')).data();
                	obj.xestudiante = obj.nom_per + ' ' + obj.priape_per + ' ' + obj.segape_per;
                	$('#dataEstudiante').loadJSON(obj);
                	dataView.dataEstudiante = obj;
                });
            },
            "initComplete": function(settings, json) {
                $('#tablaEstudiante_filter input').unbind();
                $('#tablaEstudiante_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                    	tablaEstudiante.search( this.value ).draw();
                    }
                });
            }
        });
    	$('#tel_per').blur(function() {
        	let xcel = $(this).val();
        	$.post('../estudiante/buscarPorCelular?celular=' + xcel, function(resp) {
                if (resp.status && resp.data && resp.data.xestudiante) {
                	swalWithBootstrapButtons.fire({
              		  title: 'Celular de usuario existente',
              		  text: resp.data.xestudiante+' - '+xcel+'. Desea seleccionar al usuario?',
              		  icon: 'success',
              		  showCancelButton: true,
              		  confirmButtonText: 'Si, aceptar',
              		  cancelButtonText: 'crear nuevo',
              		  reverseButtons: true
              		}).then((result) => {
              		  if (result.isConfirmed) {
              			  $('#estudiante').val(resp.data.cod_est)
              			  dataView.dataEstudiante = resp.data;
              			  loadEstudiante();
              			  $('.modal').modal('hide');
              		  }
              		})
                }else{
                	$.post('../usuario/buscarPorCelular?celular='+xcel,function(resp2){
        				  if(resp2.status){
        					if(resp2.data){
        						$('#formularioEstudiante').loadJSON(resp2.data);
        						modalAlert('Usuario encontrado','El usuario se encontro pero no esta registrado como estudiante.','success');
        					}
        				  }
        			  });
                }
            });
        });
    	$('#sn').click(function(){
    		if($("#sn").is(':checked'))
    		    $("#obs_pre").html('Sin observaciones.');  // checked
    		else
    		    $("#obs_pre").html('');  // unchecked
    	});
    	$('#pagototal').click(function(){
    		calcularTotal();
    	});
    	$('.campoFormaPago').change(function(){
        	let value = parseInt(this.value);
        	if(value===1){
        		$('#areaSubcuenta').show(500);
        	}else{
        		$('#areaSubcuenta').hide(500);
        	}
        });
        numero = {
            validators: {
                notEmpty: {
                    message: 'ingresar'
                },
                numeric: {
                    message: 'numero'
                }
            }
        }
        entero = {
            validators: {
                notEmpty: {
                    message: 'ingresar'
                },
                integer: {
                    message: 'numero'
                }
            }
        } 
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $(".fecha").inputmask("dd/mm/yyyy", {
            "placeholder": "dd/mm/yyyy"
        });
        $(".hora").inputmask("hh:mm", {
            "placeholder": "hh:mm"
        });
        $('button[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom'
        });
        $('#cancelar').click(function() {
        	alertCancelacion('Cancelar transaccion', 'Esta seguro de realizar la transaccion?',function(){
	            $.post('../prestacion/gestion', function(resp) {
	                $('#contenedor').html(resp);
	            });
        	});
        });
        $(document).on('click', '.input-remove-row', function() {
            $('#servicio option[id=' + $(this).data('servicio') + ']').removeAttr('disabled');
            $("#servicio").trigger("chosen:updated");
            var tr = $(this).closest('tr');
            tr.fadeOut(100, function() {
                tr.remove();
                enumerarFila();
                calcularTotal();
                if ($('#detalles > tbody>tr').length == 0) {
                    var row = $('<tr id="unit" align="center"></tr>');
                    $('<td colspan="5">Sin ningun detalle</td>').appendTo(row);
                    $('#detalles > tbody:last').append(row);
                }
            });
        });
        $('#formulario1').formValidation({
            locale: 'es_ES',
            excluded: ':disabled',
            fields: {
                ayudante: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un ayudante'
                        }
                    }
                },
                docente: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un docente'
                        }
                    }
                }
            }
        }).on('success.field.fv', function(e, data) {
            var estadoForm1 = $('#formulario1').data('formValidation').isValid();
            if (estadoForm1 == true)
                $('#guardar').removeAttr('disabled');
        }).on('err.field.fv.', function(e, data) {
            $('#guardar').attr('disabled', 'disabled');
        });
        $('#formulario2').formValidation({
            locale: 'es_ES',
            excluded: ':disabled',
            fields: {
                servicio: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un servicio'
                        }
                    }
                },
                tema: {
                    validators: {
                        notEmpty: {
                            message: 'Por favor seleccione un servicio'
                        }
                    }
                }
            }
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            var bv = xform.data('formValidation');
            var estado = $('#formulario2').data('formValidation').isValid();
            if (estado) {
                $('#unit').remove();
                var row = $('<tr></tr>');
                $('<td class="td-nro"></td>').appendTo(row);
                $('<td>' + $('#servicio option:selected').text() + '</td>').appendTo(row);
                $('<td>' + $('#tema option:selected').text() + '</td>').appendTo(row);
                $('<td><div class="form-group"><input type="text" onkeyup="calcularTotal()" id="pre-' + $('#servicio').val() + '" name="precios" class="form-control input-sm input-pre w3-right-align" value="' + $('#pre1').val() + '"></div></td>').appendTo(row);
                $('<td class="remove-row"><button type="button" class="btn btn-sm btn-danger input-remove-row" data-servicio="' + $('#servicio').val() + '"><span class="glyphicon glyphicon-remove"></span></button></td>').appendTo(row);
                $('<input type="hidden" name="servicios" value="' + $('#servicio').val() + '" >').appendTo(row);
                $('<input type="hidden" name="temas" value="' + $('#tema').val() + '" >').appendTo(row);
                $('#detalles > tbody:last').append(row);
                $("#servicio option:selected").attr('disabled', 'disabled');
                $("#servicio").val('').trigger("chosen:updated");
                $("#tema").val('').trigger("chosen:updated");
                enumerarFila();
                calcularTotal();
                $('#formulario2')[0].reset();
                xform.data('formValidation').resetForm();
                $('#formulario3').formValidation('addField', 'precios', numero);
            }
        });
        $('#formulario3').formValidation({
            locale: 'es_ES'
        }).on('success.fv.field', '[name="precios"]', function() {
            calcularTotal();
        }).on('success.fv.field', '[name="des_pre"]', function() {
            calcularTotal();
        }).on('success.fv.field', '[name="sal_pre"]', function() {
            calcularTotal();
        }).on('success.fv.field', function() {
            var estadoForm3 = $('#formulario3').data('formValidation').isValid();
            if (estadoForm3) {
                calcularTotal();
            }
        }).on('err.field.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $('#total-final').html('');
            $('#saldo-restante').html('');
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            let formapago = parseInt($('input[name=formapago]:checked').val());
            if(formapago == 1){
            	let codSubcuenta = $('#codSubcuenta option:selected').val();
            	if(codSubcuenta == ''){
            		modalAlert('Validacion incorrecta', 'Seleccione una cuenta bancaria, si la forma de pago es por deposito bancario','error');
            		return;
            	}
            }
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            $('#formulario1').data('formValidation').validate();
            var estadoForm1 = $('#formulario1').data('formValidation').isValid();
            if(!$('#xcod_est').val() || ($('#xcod_est').val() && $('#xcod_est').val()=='')){
            	modalAlert('Formulario Invalido','No se tiene Estudiante seleccionado','info');
            }else{
            	if ($('#input-total').val() > 0) {
                    if (estadoForm1 != null)
                        if (estadoForm1) {
                            $.post(xform.attr('action'), $('#formulario1').serialize() + '&' + xform.serialize(), function(result) {
                                if (result.status) {
                                    xform.data('formValidation').resetForm();
                                    $.post('../prestacion/gestion', function(respuno) {
                                        mostrarMensaje('info', 'Se realizo con exito la Transaccion.');
                                        $('#contenedor').html(respuno);
                                        $("#frameReportes").attr("src", "../prestacion/ver?cod_pre=" + result.data);
                                        $("#reportes").modal('show');
                                    });
                                } else {
                                    mostrarMensaje('error', 'No se realizo con exito la transaccion.');
                                }
                            }, 'json');
                        }else{
                        	$('#formulario1').data('formValidation').validate();
                            mostrarMensaje('error', 'Valide los campos requeridos.');
                        }
                } else {
                    mostrarMensaje('error', 'Por favor ingrese el detalle.');
                }
            }
        	});
        });
        $('#seleccionarEstudiante').click(function() {
            $('#formularioEstudiante').data('formValidation').resetForm();
            $('#formularioEstudiante')[0].reset();
            $('#codigo').val(0);
            $('#modalEstudiante').modal('show');
            resetEstudiante();
            $('#dataEstudiante').loadJSON(dataView.dataEstudiante);
        });
        $('#adicionarDocente').click(function() {
            $('#formularioDocente').data('formValidation').resetForm();
            $('#formularioDocente')[0].reset();
            $('#codigo2').val(0);
            $('#modalDocente').modal('show');
        });
        $('#adicionarTema').click(function() {
            $('#formularioTema').data('formValidation').resetForm();
            $('#formularioTema')[0].reset();
            $('#modalTema').modal('show');
        });
        $('#formularioEstudiante').formValidation({
            excluded: [':disabled']
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let xform = $(e.target);
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            let formData = new FormData(document.getElementById("formularioEstudiante"));
            $.ajax({
                url: xform.attr("action"),
                type: "post",
                dataType: "json",
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            }).done(function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    dataView.dataEstudiante.cod_est = result.cod_est;
                    dataView.dataEstudiante.xestudiante = result.estudiante;
                    loadEstudiante();
                    $('.modal').modal('hide');

                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            });
            });
        });
        $('#formularioDocente').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            let xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    $('#docente').append($('<option>', {
                        value: result.cod_doc,
                        text: result.docente.toUpperCase()
                    }));
                    $('#docente option[value=' + result.cod_doc + ']').attr('selected', 'selected');
                    $('#docente').trigger('chosen:updated');
                    $('.modal').modal('hide');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
            });
        });
        $('#formularioTema').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    $('#tema').append($('<option>', {
                        value: result.cod_tem,
                        text: result.nom_tem.toUpperCase()
                    }));
                    $('#tema option[value=' + result.cod_tem + ']').attr('selected', 'selected');
                    $('#tema option[value=' + result.cod_tem + ']').attr('data_id', result.cod_tem);
                    $('#tema').trigger('chosen:updated');
                    $('.modal').modal('hide');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
            });
        });
        $('#servicio').chosen().change(function() {
            $('#pre1').val($('#servicio option:selected').data('pre'));
        });
        $('#btnEstudianteSeleccionado').click(function(){
        	if(dataView.dataEstudiante && dataView.dataEstudiante.cod_est>=0){
        		loadEstudiante()
            	$('.modal').modal('hide');
        	}else{
        		modalAlert('Estudiante no seleccionado','No se tiene un estudiante seleccionado','info');
        	}
        });
        $('#sinEstudiante').click(function(){
        	dataView.dataEstudiante.cod_est=0;
    		loadEstudiante();
        });
        if(cotizacionId>0){
    		$.post('../cotizacion/obtener?cod='+cotizacionId, function(resp){
    			if(resp.status && resp.data){
    				dataView.dataCotizacion = resp.data;
    				$('#fecenc_pre').val(moment(dataView.dataCotizacion.fecha).format('DD/MM/YYYY'));
    				$('#horenc_pre').val(moment(dataView.dataCotizacion.fecha).format('HH:mm'));
    				let obsGeneral = 'Cotizacion No.: '+dataView.dataCotizacion.cotizacionId+'\n';
    				obsGeneral += 'Area: '+dataView.dataCotizacion.tipoEstudio+'\n';
    				obsGeneral += 'Servicio: '+dataView.dataCotizacion.xtiposervicio+'\n';
    				obsGeneral += 'Materia: '+dataView.dataCotizacion.materia+'\n';
    				obsGeneral += 'Docente: '+dataView.dataCotizacion.docente+'\n';
    				obsGeneral += 'Tema: '+dataView.dataCotizacion.tema+'\n';
    				obsGeneral += 'Precio cotizado: '+dataView.dataCotizacion.precio;
    				$('<dt>Cotizacion No.</dt><dd>'+dataView.dataCotizacion.cotizacionId+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Area</dt><dd>'+dataView.dataCotizacion.tipoEstudio+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Servicio</dt><dd>'+dataView.dataCotizacion.xtiposervicio+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Materia</dt><dd>'+dataView.dataCotizacion.materia+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Docente</dt><dd>'+dataView.dataCotizacion.docente+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Tema</dt><dd>'+dataView.dataCotizacion.tema+'</dd>').appendTo($('#cotizacionLista'));
    				$('<dt>Precio Cotizado</dt><dd>'+dataView.dataCotizacion.precio+'</dd>').appendTo($('#cotizacionLista'));
    				$('#cotizacionLista').show();
    				$('#ayudante').val(dataView.dataCotizacion.codAyu);
    				$('#ayudante').trigger('chosen:updated');
    				$('#obs_pre').val(obsGeneral);
    				$.post('../estudiante/buscarPorCelular',{celular:dataView.dataCotizacion.celular},function(resp2){
    					if(resp2.status && resp2.data){
    						dataView.dataEstudiante = resp2.data;
    						loadEstudiante();
    						modalAlert("Cotizacion recuperada", "Cod.Cotizacion: "+ dataView.dataCotizacion.cotizacionId+", estudiante: "+dataView.dataCotizacion.celularPropietario+", servicio:"+dataView.dataCotizacion.xtiposervicio,'success');
    					}else{
    						$.post('../usuario/buscarPorCelular?celular='+dataView.dataCotizacion.celular,function(resp2){
    	        				  if(resp2.status && resp2.data){
    	        					  $('#formularioEstudiante').loadJSON(resp2.data);
  	        						modalAlert('Usuario encontrado','El usuario se encontro pero no esta registrado como estudiante.','success');
    	        				  }else{
    	        					  let nombres = dataView.dataCotizacion.celularPropietario.split(' ');
	    	      						$('#nom_per').val(nombres[0]);
	    	      						$('#priape_per').val(nombres.length>1?nombres[0]:'');
	    	      						$('#segape_per').val(nombres.length>2?nombres[0]:'');
	    	      						$('#tel_per').val(dataView.dataCotizacion.celular);
	    	      						modalAlert("Cotizacion recuperada", "Cod.Cotizacion: "+ dataView.dataCotizacion.cotizacionId+", estudiante: "+dataView.dataCotizacion.celularPropietario+", servicio:"+dataView.dataCotizacion.xtiposervicio+', termine de registrar al estudiante.','success');
    	        				  }
    	        				  $('#modalEstudiante').modal('show');
    	        			  });
    						
    					}
    					
    				})
    			}
    		});
    	}else{
    		setTimeout(() => {
    			$('#seleccionarEstudiante').click();
    		}, 600);
    	}
    });

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if (evt.keyCode == 13) {
            return false;
        }
    }
    document.onkeypress = stopRKey;
</script>
</section>