<div class="box box-success">
	<div class="box-header with-border">
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-7">Filtrar: 
						<div class="btn-group-xs btn-group-justified no-padding"><label class="btn btn-app bg-yellow">
		                	<i class="fa"><input type="radio" name="estado" value="1" class="estadoRadio" data-toggle="tooltip" data-placement="bottom" title="Mostrar de ahora en adelante"></i> 
		                	En adelante</label>
		                	<label class="btn btn-app bg-red"> 
		                	<i class="fa"><input type="radio" class="estadoRadio" name="estado" value="2"  data-toggle="tooltip" data-placement="bottom" title="Mostrar pasado la hora"></i> 
		                	Pasado la hora</label><label class="btn btn-app bg-green estadoRadio active"> 
		                	<i class="fa"><input type="radio" name="estado" class="estadoRadio" value="3"  data-toggle="tooltip" data-placement="bottom" title="Mostrar de todo el dia" checked="checked"></i> 
		                	Todo el dia</label>
		                </div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
		                	<label>Ayudante</label> 
		                	<select class="form-control text-sm" name="ayudanteSelect" id="ayudanteSelect">
		                			<option value="-1" selected="selected">Todos</option>
		                		</select>
		                </div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<input type='hidden' id="fini1" name="fini" /> <input
									type='hidden' id="ffin1" name="ffin" /> <label
									for="daterange-btn" class="small" id="reportrange">Fecha</label>
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default btn-block text-left" id="daterange-btn">
											<i class="fa fa-calendar"></i> <i class="fa fa-caret-down"></i> <span id="btnFecha">Hoy</span>
										</button>
									</div>
								</div>
						</div>
					</div>
					<div class="col-md-3">
						<button class="btn btn-block btn-app bg-blue" id="btnFiltrar">
							<i class="fa fa-play"></i>
							Buscar
						</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title custom-bolder padding-top-md">Ayudantes con pendientes <b class="text-sm fechaSeleccionada">01/01/1202</b></h3>
		<div class="box-tools pull-right">
			<span class="label label-danger" id="resumenTotal"></span>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row users-list" id="resumenList"></div>
	</div>
	<!-- /.box-body -->
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title custom-bolder padding-top-md">Linea de Tiempo para la entrega de prestaciones <b class="text-sm fechaSeleccionada"></b></h3>
				<div class="box-tools pull-right">
					<span class="label label-primary" id="filterLength"></span>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<ul class="timeline timeline-inverse" id="timelineMain"></ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var dataResp = {
		'colores':['danger','success','info','warning','primary'],
		'bgColor':['blue','aqua','green','yellow','purple']
};
function enviarRecordatorio(cod){
	let prestacionSelected = dataResp.pendienteList.find(it => it.cod_pre == cod);
	if(prestacionSelected){
		let servicios = concatenarServicios(prestacionSelected.detalles);
		let dataSend = '-- Recordatorio de entrega de servicio --\n';
		dataSend += 'Estimado: '+prestacionSelected.ayudante+', le recordamos que tiene la siguiente prestacion prendiente\n\n\n';
		dataSend += 'Prestacion No.: '+prestacionSelected.cod_pre+'\n';
		dataSend += 'Fecha de entrega: '+prestacionSelected.entrega+' '+prestacionSelected.horent_pre+'\n';
		dataSend += 'Servicio: '+servicios+'\n';
		dataSend += 'Observacion:\t'+prestacionSelected.obs_pre+'\n\n\n';
		dataSend += 'No olvide entregar lo mas antes posible, muchas gracias, Resultado Final.';
		let dataEncode = encodeURI(dataSend);
		window.open('https://wa.me/591'+prestacionSelected.telAyudante+'?text='+dataEncode, '_blank');
	}
}
function enviarMensajeEstudiante(tel){
	if(tel && tel!='' && tel!='0'){
		let dataSend = 'Hola';
		let dataEncode = encodeURI(dataSend);
		window.open('https://wa.me/591'+tel+'?text='+dataEncode, '_blank');
	}
}
function ingresarPerfil(code){
	$.post('../ayudante/ingresarPerfil?codAyu='+code, function(resp) {
        $('#contenedor').html(resp);
    });
}
function obtenerPrestacionesPendientesPorFecha(fini,ffin,ayudante){
	return new Promise((resolve,reject)=>{
		$.post('../prestacion/obtenerPendientesPorFecha',{'fini':fini,'ffin':ffin,'ayudante':ayudante}, function(resp){
			if(resp.status){
				 resolve(resp.data);
			}else{
				reject(resp.msg);
			}
		},'json');
	});	
}
function obtenerResumenPendientePorFecha(fini,ffin,ayudante){
	return new Promise((resolve,reject)=>{
		$.post('../prestacion/obtenerResumenPendientePorFecha',{'fini':fini,'ffin':ffin,'codAyu':ayudante}, function(resp){
			if(resp.status){
				resolve(resp.data);
			}else{
				reject(resp.msg);
			}
		},'json');
	});
}

function falloCallback(error) {
	  console.log("Error generando el cargado del perfil del ayudante " + error);
}

function descargarImagenTimeline(id){
	let node = document.getElementById('timeline-'+id);

  domtoimage.toPng(node).then(function (dataUrl) {
      let link = document.createElement('a');
      link.download = 'prestacion-'+id+'.png';
      link.href = dataUrl;
      link.click();
  }).catch(function (error) {
      console.error('oops, Error al descargar imagen de prestacion!', error);
  });
}
function concatenarServicios(detalles){
	let serv = '';
	if(detalles){
		detalles.forEach(det=>{
			serv += '('+det.servicio +'-'+det.nomTem+')';
		});
	}
	return serv;
}
function drawTimeline(pendientesSort){
	let  indexLabel = 0;
	$('#timelineMain').html('');
	if(pendientesSort){
		$('#filterLength').html('TOTAL PRESTACIONES: '+pendientesSort.length);
		pendientesSort.forEach(item=>{
			if(indexLabel > 4){
				indexLabel = 0;
			}
			let liTime = $('<li class="time-label"><span class="bg-'+dataResp.bgColor[indexLabel]+'"> '+moment(item.fecent_pre).format('dddd [,] D [de] MMMM [del] YYYY')+' </span></li>');
			let liTimeDetalle = $('<li id="timeline-'+item.cod_pre+'"></li>');
			$('<i class="fa fa-calendar-check-o bg-'+dataResp.bgColor[indexLabel++]+'"></i>').appendTo(liTimeDetalle);
			let divTime = $('<div class="timeline-item"></div>');
			$('<span class="time"><i class="fa fa-clock-o"></i> '+item.horent_pre+'</span>').appendTo(divTime);
			
			let servicios = concatenarServicios(item.detalles);
			
			$('<h3 class="timeline-header"><a href="#">'+servicios+'</a></h3>').appendTo(divTime);
			let divTimeBody= $('<div class="timeline-body"></div>');
			$('<p class="text-right"><strong>Ayudante : '+item.ayudante+'</strong></p>').appendTo(divTimeBody);
			$('<p class="text-right"><strong>Estudiante : '+item.estudiante+' (Cel.'+item.telEstudiante+')'+'</strong> <a href="#" class="text-success custom-bolder" onclick="enviarMensajeEstudiante('+item.telEstudiante+')"><i class="fa fa-whatsapp"></i> enviar mensaje</a></p>').appendTo(divTimeBody);
			$('<p class="text-right"><strong>Fecha de Registro: '+moment(item.fec_pre).format('D [de] MMMM [del] YYYY [Hrs.] HH:mm:ss')+'</strong></p>').appendTo(divTimeBody);
			let row = $('<div class="row"></div>');
			let col1 = $('<div class="col-md-4"></div>');
			let dl1 = $('<dl class="dl-horizontal"></dl>');
			$('<dt>Cod. Prestaci&oacute;n</dt>').appendTo(dl1);
			$('<dd>'+item.cod_pre+'</dd>').appendTo(dl1);
			$('<dt>Total prestaci&oacute;n</dt>').appendTo(dl1);
			$('<dd>'+item.total+'</dd>').appendTo(dl1);
			dl1.appendTo(col1);
			col1.appendTo(row);
			let col2 = $('<div class="col-md-8"></div>');
			let dl2 = $('<dl class="dl-horizontal"></dl>');
			$('<dt>Registrado por</dt>').appendTo(dl2);
			$('<dd>'+item.usuario+'</dd>').appendTo(dl2);
			$('<dt>Observacion</dt>').appendTo(dl2);
			$('<dd>'+item.obs_pre+'</dd>').appendTo(dl2);
			dl2.appendTo(col2);
			col2.appendTo(row);
			
			row.appendTo(divTimeBody);
			divTimeBody.appendTo(divTime)
			
			let divFooter = $('<div class="timeline-footer text-right"></div>'); 

			let divIntern = $('<div class="row">');
			$('<div class="col-md-4 col-md-offset-4"><a class="btn btn-block bg-olive" href="#" onclick="enviarRecordatorio('+item.cod_pre+')"> <i class="fa fa-whatsapp"></i> Enviar recordatorio<br>a ayudante</a></div>').appendTo(divIntern);
			$('<div class="col-md-4 padding-top-sm"><a class="btn btn-block btn-primary" href="#" onclick="descargarImagenTimeline('+item.cod_pre+')"> <i class="fa fa-download"></i> Descargar imagen<br>de prestaci&oacute;n</a></div>').appendTo(divIntern);
			$(divIntern).appendTo(divFooter);

			divFooter.appendTo(divTime);
			
			divTime.appendTo(liTimeDetalle);
			
			$('#timelineMain').append(liTime);
			$('#timelineMain').append(liTimeDetalle);
		})
	}else{
		$('#timelineMain').html('<p>Sin prestaciones pendientes</p>');
	}
}
async function initDashboard(fechaMoment){
	try {
		fecha = fechaMoment.format('DD/MM/YYYY');
		$('.fechaSeleccionada').html(fechaMoment.format('LLLL'));
		$('#fini1').val(fecha);
		$('#ffin1').val(fecha);
		$('#reportrange').html(fechaMoment.format('LLLL'));
		dataResp.pendienteList = await obtenerPrestacionesPendientesPorFecha(fecha,fecha,-1);
		dataResp.resumen = await obtenerResumenPendientePorFecha(fecha,fecha,-1);
		if(dataResp){
			$('#resumenList').html('');
			$('#ayudanteSelect').html('');
			$('#ayudanteSelect').append($('<option value="-1" selected="selected">Todos</option>'));
			if(dataResp.resumen){
				let totalAyudantes = 0;
				dataResp.resumen.forEach(item =>{
					if(item.tpendientes > 0){
						totalAyudantes++;
						$('#ayudanteSelect').append($('<option value="'+item.codAyu+'">'+item.xayudante+'</option>'));
						let col = $('<div class="col-md-2"></div>');
						$('<img src="'+item.urlAvatar+'"  class="img img-circle center-block" width="90px" style="max-height: 190px;" alt="User Image">').appendTo(col);
						$('<a class="users-list-name w3-center" href="#" onclick="ingresarPerfil('+item.codAyu+')">'+item.nombres+'</a>').appendTo(col);
						$('<a class="users-list-name w3-center" href="#" onclick="ingresarPerfil('+item.codAyu+')">'+item.apellidos+'</a>').appendTo(col);
						$('<span class="users-list-date w3-center"><a href="#" onclick="ingresarPerfil('+item.codAyu+')">Prestaciones: '+item.tpendientes+'</a></span>').appendTo(col);
						$('#resumenList').append(col);
					}
				});
				$('#resumenTotal').html(totalAyudantes+' ayudantes con pendientes');
			}
			$('#timelineMain').html('');
			//Generacion de pendientes ordenados por linea de tiempo
			const pendientesSort = dataResp.pendienteList.sort((a,b)=>{return new Date(a.fecent_pre+' '+a.horent_pre+':00') - new Date(b.fecent_pre+' '+b.horent_pre+':00');});
				
			drawTimeline(pendientesSort);
		}
	} catch (e) {
		falloCallback(e);
		cerrarLoad();
	} finally{
		cerrarLoad();
	}
}

async function reloadDashboard(pEstado,pAyudante,pFini,pFfin){
	try {
		let horaActual = new moment().format('HH:mm:ss')
		if(pFini == pFfin){
			if(pEstado == 1){
				$('.fechaSeleccionada').html(pFini + ' ' +horaActual+' (De la hora en adelante)');
			}
			if(pEstado == 2){
				$('.fechaSeleccionada').html(pFini + ' ' +horaActual+' (Pasado la hora)');
			}
			if(pEstado == 3){
				$('.fechaSeleccionada').html(pFini + ' ' +horaActual);
			}
		}else{
			$('.fechaSeleccionada').html('Rango de fecha: '+ pFini + ' - '+ pFfin);
		}
		dataResp.pendienteList = await obtenerPrestacionesPendientesPorFecha(pFini,pFfin,pAyudante);
		dataResp.resumen = await obtenerResumenPendientePorFecha(pFini,pFfin,pAyudante);
		$('#resumenList').html('');
		$('#ayudanteSelect').html('');
		$('#ayudanteSelect').append($('<option value="-1" selected="selected">Todos</option>'));
		if(dataResp){
			if(dataResp.resumen){
				let totalAyudantes = 0;
				dataResp.resumen.forEach(item =>{
					if(item.tpendientes > 0){
						totalAyudantes++;
						$('#ayudanteSelect').append($('<option value="'+item.codAyu+'">'+item.xayudante+'</option>'));
						let col = $('<div class="col-md-2"></div>');
						$('<img src="'+item.urlAvatar+'"  class="img img-circle center-block" width="90px" style="max-height: 190px;" alt="User Image">').appendTo(col);
						$('<a class="users-list-name w3-center" href="#" onclick="ingresarPerfil('+item.codAyu+')">'+item.nombres+'</a>').appendTo(col);
						$('<a class="users-list-name w3-center" href="#" onclick="ingresarPerfil('+item.codAyu+')">'+item.apellidos+'</a>').appendTo(col);
						$('<span class="users-list-date w3-center"><a href="#" onclick="ingresarPerfil('+item.codAyu+')">Prestaciones: '+item.tpendientes+'</a></span>').appendTo(col);
						$('#resumenList').append(col);
					}
				});
				$('#resumenTotal').html(totalAyudantes+' ayudantes con pendientes');
			}
			
			let hini = '00:00:00';
			let hfin = '23:59:00';
			switch (pEstado) {
			case 1://Hora en adelante
				hini = horaActual;
				break;
			case 2:
				hfin = horaActual;
				break;
			default:
				break;
			}
			let inicio = new moment(pFini + ' ' + hini,'DD/MM/YYYY HH:mm:ss');
			let fin = new moment(pFfin + ' ' + hfin,'DD/MM/YYYY HH:mm:ss');
			let pendienteFilter = dataResp.pendienteList.filter(it =>{return new Date(it.fecent_pre+' '+it.horent_pre+':00')>=inicio && new Date(it.fecent_pre+' '+it.horent_pre+':00')<=fin});
			if(pendienteFilter){
				//Generacion de pendientes ordenados por linea de tiempo
				const pendientesSort = pendienteFilter.sort((a,b)=>{
					return new Date(a.fecent_pre+' '+a.horent_pre+':00') - new Date(b.fecent_pre+' '+b.horent_pre+':00');}
				)
				drawTimeline(pendientesSort);
			}
		}
	} catch (e) {
		falloCallback(e);
		cerrarLoad();
	} finally{
		cerrarLoad();
	}
}

	$(document).ready(function() {
		abrirLoad('Obteniendo Datos');
		initDashboard(new moment());
		$('#fini1').val(new moment().format('DD/MM/YYYY'));
		$('#ffin1').val(new moment().format('DD/MM/YYYY'));
		$('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Hoy': [moment(), moment(),'Hoy'],
                    'Ma\u00F1ana': [moment().add(1, 'days'), moment().add(1, 'days'),'Ma\u00F1ana'],
                    'Proximos 7 dias': [moment(),moment().add(6, 'days'),'Proximos 7 dias'],
                    'Proximos 30 dias': [moment(), moment().add(29, 'days'),'Proximos 7 dias'],
                    'Este mes': [moment().startOf('month'), moment().endOf('month'),'Proximos 7 dias'],
                    'Proximo mes': [moment().add(1, 'month').startOf('month'), moment().add(1, 'month').endOf('month'),'Proximos 7 dias']
                  },
                  startDate: moment(),
                  endDate: moment()
                },
            function (start, end,label) {
               $('#btnFecha').html(label);
               if(start.isSame(end,'day')){
            	   $('#reportrange').html(start.format('LLLL'));
            	   $('.estadoRadio').removeAttr('disabled');
               }else{
            	   $('.estadoRadio[value="3"]').attr('checked','checked');
            	   $('.estadoRadio[value="1"]').attr('disabled','disabled');
            	   $('.estadoRadio[value="2"]').attr('disabled','disabled');
            	   $('#reportrange').html('Rango:'+start.format('D MMMM [del] YYYY') + ' [ AL ] ' + end.format('D MMMM [del] YYYY'));
               }
              $('#fini1').val(start.format('DD/MM/YYYY'));
              $('#ffin1').val(end.format('DD/MM/YYYY'));
            }
            );
		$('.estadoRadio').change(function(){
			let pEstado = parseInt($('.estadoRadio:checked').val());
			let pFini = $('#fini1').val();
			let pFfin = $('#ffin1').val();
			let horaActual = new moment().format('HH:mm:ss')
			if(pFini == pFfin){
				if(pEstado == 1){
					$('.fechaSeleccionada').html(pFini + ' ' +horaActual+' (De la hora en adelante)');
				}
				if(pEstado == 2){
					$('.fechaSeleccionada').html(pFini + ' ' +horaActual+' (Pasado la hora)');
				}
				if(pEstado == 3){
					$('.fechaSeleccionada').html(pFini + ' ' +horaActual);
				}
			}else{
				$('.fechaSeleccionada').html('Rango de fecha: '+ pFini + ' - '+ pFfin);
			}
			$('#timelineMain').html('');
			let hini = '00:00:00';
			let hfin = '23:59:00';
			switch (pEstado) {
			case 1://Hora en adelante
				hini = horaActual;
				break;
			case 2:
				hfin = horaActual;
				break;
			default:
				break;
			}
			let inicio = new moment(pFini + ' ' + hini,'DD/MM/YYYY HH:mm:ss');
			let fin = new moment(pFfin + ' ' + hfin,'DD/MM/YYYY HH:mm:ss');
			let pendienteFilter = dataResp.pendienteList.filter(it =>{return new Date(it.fecent_pre+' '+it.horent_pre+':00')>=inicio && new Date(it.fecent_pre+' '+it.horent_pre+':00')<=fin});
			if(pendienteFilter){
				//Generacion de pendientes ordenados por linea de tiempo
				drawTimeline(pendienteFilter);
			}
		})
		$('#btnFiltrar').click(function(){
			let estado = parseInt($('.estadoRadio:checked').val());
			let ayudante = -1;
			let fini = $('#fini1').val();
			let ffin = $('#ffin1').val();
			reloadDashboard(estado,ayudante,fini,ffin)
		});
		$('#ayudanteSelect').change(function(){
			let codAyu = parseInt($(this).val());
			if(codAyu == -1){
				drawTimeline(dataResp.pendienteList);
			}else{
				let pendienteFilter = dataResp.pendienteList.filter(it =>{return it.cod_ayu == codAyu;});
				if(pendienteFilter){
					//Generacion de pendientes ordenados por linea de tiempo
					drawTimeline(pendienteFilter);
				}
			}
			
		})
	});
</script>