<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" autocomplete="off" method="post" action="../categoria/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Categoria</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select id="tipo1" name="tipo" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                    <option value="">Seleccionar</option>
                                    <option value="1">Bebida</option>
                                    <option value="2">Insumo</option>
                                    <option value="3">Plato</option>
                                    <option value="4">Bebida preparada</option>
                                    <option value="5">Material de Servicio</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" autocomplete="off" method="post" action="../categoria/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Categoria</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select id="tipo2" name="tipo" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                    <option value="">Seleccionar</option>
                                    <option value="1">Bebida</option>
                                    <option value="2">Insumo</option>
                                    <option value="3">Plato</option>
                                    <option value="4">Bebida preparada</option>
                                    <option value="5">Material de Servicio</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Categorias</h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-hover table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo</th>
                    <th class="all">Nombre</th>
                    <th class="all">Tipo</th>
                    <th class="all">Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        // $('.select-chosen').chosen({
        //     no_results_text: "No se encuentra:",
        //     width: '100%'
        // });
        $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../categoria/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [3],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id","name":"id"
            }, {
                "data": "nombre","name":"nombre"
            }, {
                "data": "xtipo","name":"xtipo"
            }, {
                "data": "id","name":"id"
            }],
            "createdRow": function(row, data, index) {
                if (data.estado) {
                    $('td', row).eq(3).html('<div class="btn-group btn-group-xs"><button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-edit"></i><br>editar </button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button></div>');
                } else {
                    $('td', row).eq(3).html('<button class="btn btn-primary activar" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br>activar</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertEliminacion('Eliminar Categoria', 'Esta seguro de eliminar el Categoria '+ obj.nombre, function(){
                        $.post('../categoria/eliminar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.activar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertActivacion('Activar Categoria', 'Esta seguro de activar el Categoria '+ obj.nombre, function(){
                        $.post('../categoria/activar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.modificar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    // $('#tipo2').val(obj.tipo).trigger('chosen:updated');
                    $('#modalModificar').modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    finishTransaction(result, function(){
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                    });
                }, 'json');
            });
        });
    });
</script>
</section>