<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form autocomplete="off" id="formulario" method="post" action="../producto/guardar" enctype="multipart/form-data" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog" style="min-width: 90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Insumo</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="required">Nombre</label>
                                        <div class="input-group">
                                            <input type="hidden" name="tipoGrupo" value="2" />
                                            <span class="input-group-addon"><i class="fi fi-eggs"></i></span>
                                            <input type="text" class="form-control input-lg" name="nombre" autocomplete="off" data-fv-notempty="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Tipo de Insumo</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                        <select id="tipoId1" name="tipoId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Unidades Por Caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                        <input type="text" class="form-control" name="unidadPorCaja" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Tipo de compra por defecto</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-cart-plus"></i></span>
                                        <select id="tipoCompra1" name="tipoCompra" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option value="1">En unidad</option>
                                            <option value="2">En caja</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Medida de la cantidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="medidaId1" name="medidaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="m : ${medidas}" th:value="${m.id}" th:text="${m.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="file" id="file-add" class="file" name="imgProducto" />
                                    </div>
                                </div>
                            </div>
                            <div class="row w3-pale-blue">
                                <div class="col-md-4">
                                    <h4 class="text-center">PRECIO DE COMPRA <br> AL PROVEEDOR</h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="required">Precio de Costo Por unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pcUnit" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="required">Precio de Costo Por Caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pcCaja" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center">INFORMACION COMPLEMENTARIA PARA INVENTARIO</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Inventario Minimo por unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                        <input type="text" class="form-control" name="inventarioMinimo" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Controlar stock m&iacute;nimo</label>
                                        <div class="input-group">
                                            <input type="checkbox" id="controlarProductoSi" class="w3-check" name="controlarProducto" value="true"/>
                                            <label for="controlarProductoSi" style="margin-right: 25px;margin-left: 25px;">Si</label>
                                            <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Presentacion por Unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                                        <select id="presentacionUnidadId1" name="presentacionUnidadId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="p : ${presentaciones}" th:if="${p.tipo == 1}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Presentacion por caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                        <select id="presentacionCajaId1" name="presentacionCajaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="p : ${presentaciones}" th:if="${p.tipo == 2}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" autocomplete="off" method="post" action="../producto/actualizar" enctype="multipart/form-data" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade" data-backdrop="static" >
                <div class="modal-dialog" style="min-width: 90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Insumo</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="required">Nombre</label>
                                        <div class="input-group">
                                            <input type="hidden" name="tipoGrupo" value="2" />
                                            <span class="input-group-addon"><i class="fi fi-eggs"></i></span>
                                            <input type="text" class="form-control input-lg" name="nombre" data-fv-notempty="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Tipo de Insumo</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                        <select id="tipoId2" name="tipoId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Unidades Por Caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                        <input type="text" class="form-control" name="unidadPorCaja" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Tipo de compra por defecto</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                        <select id="tipoCompra2" name="tipoCompra" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option value="1">En unidad</option>
                                            <option value="2">En caja</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Medida de la cantidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="medidaId2" name="medidaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="m : ${medidas}" th:value="${m.id}" th:text="${m.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <img id="imgActual" src="#" class="img-thumbnail" alt="">
                                        </div>
                                        <div class="panel-footer">
                                            <h6 class="text-center">Imagen Actual</h6>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="file" id="file-mod" class="file" name="imgProducto" />
                                    </div>
                                </div>
                            </div>
                            <div class="row w3-pale-blue">
                                <div class="col-md-4">
                                    <h4 class="text-center">PRECIO DE COMPRA <br> AL PROVEEDOR</h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="required">Precio de Costo Por unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pcUnit" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="required">Precio de Costo Por Caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pcCaja" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center">INFORMACION COMPLEMENTARIA PARA INVENTARIO</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Inventario Minimo por unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                        <input type="text" class="form-control" name="inventarioMinimo" data-fv-notempty="true" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Controlar stock m&iacute;nimo</label>
                                        <div class="input-group">
                                            <input type="checkbox" id="controlarProductoSi2" class="w3-check" name="controlarProducto" value="true"/>
                                            <label for="controlarProductoSi2" style="margin-right: 25px;margin-left: 25px;">Si</label>
                                            <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Presentacion por Unidad</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="presentacionUnidadId2" name="presentacionUnidadId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="p : ${presentaciones}" th:if="${p.tipo == 1}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="required">Presentacion por caja</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="presentacionCajaId2" name="presentacionCajaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="p : ${presentaciones}" th:if="${p.tipo == 2}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- /.modal -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <h1><span class="fa  fa-ellipsis-v"></span> Insumos </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <button class="btn btn-block btn-success" id="btnImprimirCatalogo"><i class="fa fa-print"></i> Imprimir</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="btn-group btn-group-justified padding-top-sm">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">C&oacute;digo</th>
                    <th class="all">Nombre</th>
                    <th class="all">Tipo de producto</th>
                    <th class="none">Precio Costo por Unidad</th>
                    <th class="none">Precio Costo por Caja</th>
                    <th class="none">Inventario Minimo en unidad</th>
                    <th class="none">Presentacion en unidades</th>
                    <th class="none">Presentacion en cajas</th>
                    <th class="none">Tipo de Compra por defecto</th>
                    <th class="none">Grupo</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('#file-add').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            maxImageWidth: 200,
            maxImageHeight: 150,
            resizePreference: 'height',
            maxFileCount: 1,
            resizeImage: true
        });
        $('#file-mod').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            maxImageWidth: 200,
            maxImageHeight: 150,
            resizePreference: 'height',
            maxFileCount: 1,
            resizeImage: true
        });
        $('#btnImprimirCatalogo').click(function() {
            abrirLoad();
            reportXLS('../producto/verCatalogo?grupo=2','catalogo_insumos');
        });
        var tablaProducto = $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    // $('.select-chosen').val('').trigger('chosen:updated');
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../producto/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                    d.grupo = 2;
                }
            },
            "columnDefs":[
            	{targets: [0],className:'text-center'},
            	{targets: [10],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id", "name":"id"
            }, {
                "data": "nombre", "name":"nombre"
            }, {
                "data": "xtipo", "name":"xtipo"
            }, {
                "data": "pcUnit", "name":"pc_unit"
            }, {
                "data": "pcCaja", "name":"pc_caja"
            }, {
                "data": "inventarioMinimo", "name":"inventario_minimo"
            }, {
                "data": "xpresentacionUnidad", "name":"xpresentacion_unidad"
            }, {
                "data": "xpresentacionCaja", "name":"xpresentacion_caja"
            }, {
                "data": "xtipoCompra", "name":"xtipo_compra"
            }, {
                "data": "xgrupo", "name":"xgrupo"
            }, {
                "data": "id", "name":"id"
            }],
            "createdRow": function(row, data, index) {
                if (data.estado) {
                    $('td', row).eq(10).html('<div class="btn-group btn-group-xs"><button class="btn btn-primary btn-sm modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_pro + '"><i class="fa fa-edit"></i><br>editar</button><button class="btn btn-sm btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_pro + '"><i class="glyphicon glyphicon-remove"></i><br>borrar</button></div>');
                } else
                    $('td', row).eq(10).html('<button class="btn btn-sm btn-primary activar" data-id="' + data.cod_pro + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br/>activar</button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = tablaProducto.row($(this).closest('tr')).data();
                	alertEliminacion("Eliminacion de insumo", ("Cod. producto: "+ obj.cod_pro+", Nombre: "+obj.nom_pro), function(){
        				jQuery.post('../producto/eliminar?cod_pro='+obj.cod_pro, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de eliminacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.activar').click(function() {
                	let obj = tablaProducto.row($(this).closest('tr')).data();
                	alertAdicion("Activacion de Insumo", ("Cod. insumo: "+ obj.cod_pro+", Nombre: "+obj.nom_pro), function(){
        				jQuery.post('../producto/activar?cod_pro='+obj.cod_pro, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de activacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.modificar').click(function() {
                	let obj = tablaProducto.row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    // $('#tipoId2').val(obj.tipoId).trigger('chosen:updated');
                    // $('#tipoGrupo2').val(obj.tipoGrupo).trigger('chosen:updated');
                    // $('#tipoCompra2').val(obj.tipoCompra).trigger('chosen:updated');
                    // $('#medidaId2').val(obj.medidaId).trigger('chosen:updated');
                    // $('#presentacionUnidadId2').val(obj.presentacionUnidadId).trigger('chosen:updated');
                    // $('#presentacionCajaId2').val(obj.presentacionCajaId).trigger('chosen:updated');
                    $('#imgActual').attr('src','/producto/'+obj.foto);
                    $('#modalModificar').modal('show');
                });
                $('.imprimir').click(function() {
                    $("#frameReportes").attr("src", "../producto/imprimir_codigos?cod_pro=" + $(this).data('id'));
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw();
        });
        $('#formularioModificar').formValidation({
            excluded: [':disabled']
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formData = new FormData(document.getElementById("formularioModificar"));
            $.ajax({
                url: $form.attr("action"), type: "post", dataType: "json", data: formData, cache: false, contentType: false, processData: false
            }).done(function(result) {
                finishTransaction(result, function(){
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw();
                })
            });
        });
        $('#formulario').formValidation({
            excluded: [':disabled']
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formData = new FormData(document.getElementById("formulario"));
            $.ajax({
                url: $form.attr("action"), type: "post", dataType: "json", data: formData, cache: false, contentType: false, processData: false
            }).done(function(result) {
                finishTransaction(result, function(){
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw();
                })
            });
        });
    });
</script>
</section>