<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" autocomplete="off" method="post" action="../producto/guardar" enctype="multipart/form-data" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Bebida preparada</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="required">Nombre</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-glass"></i></span>
                                            <input type="text" class="form-control" name="nombre" data-fv-notempty="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Tipo</label>
                                        <input type="hidden" name="tipoGrupo" value="4" />
                                        <input type="hidden" name="unidadPorCaja" value="1" />
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                        <select id="tipoId1" name="tipoId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Precio al p&uacute;blico</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pvUnit" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Medida para cantidad en inventario</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="medidaId1" name="medidaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="m : ${medidas}" th:value="${m.id}" th:text="${m.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label>
                                        <textarea name="obs" class="form-control" rows="7"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Controlar stock m&iacute;nimo</label>
                                        <div class="input-group">
                                            <input type="checkbox" id="controlarProductoSi" class="w3-check" name="controlarProducto" value="true"/>
                                            <label for="controlarProductoSi" style="margin-right: 25px;margin-left: 25px;">Si</label>
                                            <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="file" id="file-add" class="file" name="imgProducto" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" autocomplete="off" method="post" action="../producto/actualizar" enctype="multipart/form-data" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade" data-backdrop="static" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Bebida Preparada</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="required">Nombre</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-glass"></i></span>
                                            <input type="text" class="form-control" name="nombre" data-fv-notempty="true" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="tipoGrupo" value="4" />
                                        <input type="hidden" name="unidadPorCaja" value="1" />
                                        <label class="required">Tipo de bebida</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                        <select id="tipoId2" name="tipoId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Precio al p&uacute;blico</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                            <input type="text" class="form-control" name="pvUnit" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator="." min="" onClick="this.setSelectionRange(0, this.value.length)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Medida para cantidad en inventario</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                        <select id="medidaId2" name="medidaId" class="form-control input-md" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                            <option value="">Seleccionar</option>
                                            <option th:each="m : ${medidas}" th:value="${m.id}" th:text="${m.nombre}"></option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label>
                                        <textarea name="obs" class="form-control" rows="7"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Controlar stock m&iacute;nimo</label>
                                        <div class="input-group">
                                            <input type="checkbox" id="controlarProductoSi2" class="w3-check" name="controlarProducto" value="true"/>
                                            <label for="controlarProductoSi2" style="margin-right: 25px;margin-left: 25px;">Si</label>
                                            <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <img id="imgActual" src="#" class="img-thumbnail" alt="">
                                        </div>
                                        <div class="panel-footer">
                                            <h6 class="text-center">Imagen Actual</h6>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="file" id="file-mod" class="file" name="imgProducto" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioIngredientes" autocomplete="off" method="post" action="../producto/adicionarIngredientes"  data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalIngredientes" class="modal fade" data-backdrop="static" >
                <div class="modal-dialog" style="width: 90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Ingredientes de la bebida</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="productoId" />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="required">Nombre de la bebida</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-glass"></i></span>
                                            <input type="text" class="form-control text-capitalize w3-xlarge" name="nombre" data-fv-notempty="true" readonly/>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group btn-group-justified padding-top-sm">
                                                    <label class="btn btn-success areaTipo">
                                                        <i class="fi fi-plastic-bottle"></i><br>
                                                        <input type="radio" name="radioTipo" value="1" checked> Producto
                                                    </label>
                                                    <label class="btn btn-primary areaTipo">
                                                        <i class="fi fi-eggs"></i><br>
                                                        <input type="radio" name="radioTipo" value="2"> Insumo
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <table id="tablaInsumo" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th class="all">C&oacute;digo</th>
                                                <th class="all">Nombre</th>
                                                <th class="all">Tipo</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        <h3>RECETA</h3>
                                        <div class="form-group row">
                                            <label class="col-md-9 text-right required">Cantidad disponible con la receta:</label>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                                        <input type="text" class="form-control" name="cantidadPlatos" data-fv-notempty="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="w3-table-all" id="tablaIngredientes">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Ingrediente</th>
                                                <th>Tipo</th>
                                                <th>Cantidad</th>
                                                <th>Medida</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.modal -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <h1><span class="fa  fa-ellipsis-v"></span> Bebidas Preparadas </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <button class="btn btn-block btn-success" id="btnImprimirCatalogo"><i class="fa fa-print"></i> Imprimir</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="btn-group btn-group-justified padding-top-sm">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-hover table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">C&oacute;digo</th>
                    <th class="all">Nombre</th>
                    <th class="all">Tipo</th>
                    <th class="none">Precio de Venta al p&uacute;blico</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    var dataResp = {
        listaIngrediente: []
    }
    function existeIngrediente(id){
        let existeItem = false;
        if(dataResp.listaIngrediente && dataResp.listaIngrediente.length > 0) {
            dataResp.listaIngrediente.forEach(it => {
                if(it.id === id || it.ingredienteId === id) {
                    existeItem = true;
                }
            })
        }
        return existeItem;
    }
    $(document).ready(function() {
        $('#file-add').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            maxImageWidth: 200,
            maxImageHeight: 150,
            resizePreference: 'height',
            maxFileCount: 1,
            resizeImage: true
        });
        $('#file-mod').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            maxImageWidth: 200,
            maxImageHeight: 150,
            resizePreference: 'height',
            maxFileCount: 1,
            resizeImage: true
        });
        $('#btnImprimirCatalogo').click(function() {
            abrirLoad();
            reportXLS('../producto/verCatalogo?grupo=4','catalogo_bebidas_preparadas');
        });
        var tablaPlato = $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    // $('.select-chosen').val('').trigger('chosen:updated');
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../producto/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                    d.grupo = 4;
                }
            },
            "columnDefs":[
            	{targets: [0],className:'text-center'},
            	{targets: [4],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id", "name":"id"
            }, {
                "data": "nombre", "name":"nombre"
            }, {
                "data": "xtipo", "name":"xtipo"
            }, {
                "data": "pvUnit", "name":"pv_unit"
            }, {
                "data": "id", "name":"id"
            }],
            "createdRow": function(row, data, index) {
                if (data.estado) {
                    let buttons = '<div class="btn-group btn-group-xs">';
                    if(data.hasIngredients) {
                        buttons += '<button class="btn btn-success btn-sm detalles"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-list"></i><br>ingredientes</button>';
                    } else {
                        buttons += '<button class="btn w3-orange btn-sm detalles"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-list"></i><br>ingredientes</button>';
                    }
                    buttons += '<button class="btn btn-primary btn-sm modificar"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-edit"></i><br>editar</button>';
                    buttons += '<button class="btn btn-sm btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>borrar</button>';
                    buttons += '</div>';
                    $('td', row).eq(4).html(buttons);
                } else
                    $('td', row).eq(4).html('<button class="btn btn-sm btn-primary activar" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br/>activar</button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = tablaPlato.row($(this).closest('tr')).data();
                	alertEliminacion("Eliminacion de Bebida Preparada", ("Cod. Bebida preparada: "+ obj.id+", Nombre: "+obj.nombre), function(){
        				jQuery.post('../producto/eliminar?id='+obj.id, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de eliminacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.activar').click(function() {
                	let obj = tablaPlato.row($(this).closest('tr')).data();
                	alertAdicion("Activacion de bebida preparada", ("Cod. bebida preparada: "+ obj.id+", Nombre: "+obj.nombre), function(){
        				jQuery.post('../producto/activar?cod_pro='+obj.id, function(resp){
        					if(resp.status){
        						$('#tabla').dataTable().fnDraw('page');
        						mostrarMensaje('success', resp.msg);
        					}else{
        						modalAlert('Error de activacion', resp.msg,'error');
        					}
        				});
        			});
                });
                $('.modificar').click(function() {
                	let obj = tablaPlato.row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    // $('#tipoId2').val(obj.tipoId).trigger('chosen:updated');
                    // $('#medidaId2').val(obj.medidaId).trigger('chosen:updated');
                    $('#imgActual').attr('src','/producto/'+obj.foto);
                    $('#modalModificar').modal('show');
                });
                $('.detalles').click(function() {
                    let obj = tablaPlato.row($(this).closest('tr')).data();
                    $('#formularioIngredientes').data('formValidation').resetForm();
                    $('#formularioIngredientes')[0].reset();
                    obj.productoId = obj.id;
                    $('#formularioIngredientes').loadJSON(obj);
                    $('#tablaIngredientes > tbody').html('');
                    dataResp.listaIngrediente = [];
                    $.post('../producto/obtenerIngredientes',{'productoId': obj.id}, function(resp){
                        if(resp.status) {
                            if(resp.data && resp.data.length > 0) {
                                dataResp.listaIngrediente = resp.data;
                                resp.data.forEach(it => {
                                    let row = $('<tr></tr>');
                                    $('<td>'+it.id+' <input type="hidden" name="productos" value="'+it.ingredienteId+'" /><input type="hidden" name="id" value="'+it.id+'"></td>').appendTo(row);
                                    $('<td>'+it.xproducto+'</td>').appendTo(row);
                                    $('<td>'+it.xtipo+'</td>').appendTo(row);
                                    $('<td><input type="text" class="form-control input-xs text-right" style="width: 70px;" name="cantidades" value="'+it.cantidad+'" /></td>').appendTo(row);
                                    $('<td>'+it.xmedida+'</td>').appendTo(row);
                                    $('<td><button class="btn btn-xs btn-danger eliminarDetalle" type="button" data-id="'+it.id+'" data-productoid="'+it.productoId+'"><i class="fa fa-remove"></i></button></td>').appendTo(row);
                                    $('#tablaIngredientes > tbody:last').append(row);
                                    $('.eliminarDetalle').off('click');
                                    $('.eliminarDetalle').on('click', function(){
                                        let productoId = $(this).data('productoid');
                                        let tr = $(this).closest('tr');
                                        productoId = parseInt(productoId);
                                        let req = {
                                            'productoId' : productoId,
                                            'id' : $(this).data('id')
                                        }
                                        dataResp.listaIngrediente = dataResp.listaIngrediente.filter(it => it.id !== productoId);
                                        $.post('../producto/eliminarIngrediente', req, function(resp2){
                                            if(resp2.status) {
                                                tr.fadeOut(100, function() {
                                                    tr.remove();
                                                });
                                            } else {
                                                modalAlert('Error de transaccion', resp.msg, 'error');
                                            }
                                        })

                                    });
                                });
                            }
                            $('#modalIngredientes').modal('show');
                        } else {
                            modalAlert('Error de transaccion', resp.msg, 'error');
                        }
                    })
                });
                $('.imprimir').click(function() {
                    $("#frameReportes").attr("src", "../producto/imprimir_codigos?cod_pro=" + $(this).data('id'));
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        var tablaInsumo = $('#tablaInsumo').DataTable({
            buttons: [],
            "ajax": {
                "type": "POST",
                "url": "../producto/listar",
                "dom": "<'row'<'col-sm-3 w3-tiny'f><'col-sm-1'B><'col-sm-8 w3-tiny'l>><'row'<'col-sm-12'tr>><'row'<'col-sm-5 w3-tiny'i><'col-sm-7 w3-tiny'p>>",
                "data": function(d) {
                    d.estado = true;
                    d.grupo = $('input[name=radioTipo]:checked').val();;
                }
            },
            "columnDefs":[
                {targets: [0],className:'text-center'},
                {targets: [3],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id", "name":"id"
            }, {
                "data": "nombre", "name":"nombre"
            }, {
                "data": "xtipo", "name":"xtipo"
            }, {
                "data": "id", "name":"id"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(3).html('<button class="btn btn-sm btn-primary seleccionar" type="button" data-toggle="tooltip" data-placement="top" title="seleccionar">seleccionar</button>');
            },
            "drawCallback": function(settings) {
                $('.seleccionar').click(function() {
                    let obj = tablaInsumo.row($(this).closest('tr')).data();
                    if(existeIngrediente(obj.id)) {
                        modalAlert('Producto Existente', 'El producto ya se encuentre en el detalle', 'info');
                        return ;
                    } else {
                        dataResp.listaIngrediente.push(obj);
                    }
                    let row = $('<tr></tr>');
                    $('<td>'+obj.id+' <input type="hidden" name="productos" value="'+obj.id+'" /></td>').appendTo(row);
                    $('<td>'+obj.nombre+'</td>').appendTo(row);
                    $('<td>'+obj.xtipo+'</td>').appendTo(row);
                    $('<td><input type="text" class="form-control input-xs text-right" style="width: 70px;" name="cantidades" value="1" /></td>').appendTo(row);
                    $('<td>'+obj.xmedida+'</td>').appendTo(row);
                    $('<td><button class="btn btn-xs btn-danger eliminarDetalleNuevo" data-productoid="'+obj.id+'" type="button"><i class="fa fa-remove"></i></button></td>').appendTo(row);
                    $('#tablaIngredientes > tbody:last').append(row);
                    $('.eliminarDetalleNuevo').off('click');
                    $('.eliminarDetalleNuevo').on('click', function(){
                        let tr = $(this).closest('tr');
                        let xid = parseInt($(this).data('productoid'));
                        dataResp.listaIngrediente = dataResp.listaIngrediente.filter(it=> it.id !== xid);
                        tr.fadeOut(100, function() {
                            tr.remove();
                        });
                    });

                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw();
        });
        $('.areaTipo').click(function() {
            $('#tablaInsumo').dataTable().fnDraw();
        });
        $('#formularioModificar').formValidation({
            excluded: [':disabled']
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formData = new FormData(document.getElementById("formularioModificar"));
            $.ajax({
                url: $form.attr("action"), type: "post", dataType: "json", data: formData, cache: false, contentType: false, processData: false
            }).done(function(result) {
                finishTransaction(result, function(){
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw();
                })
            });
        });
        $('#formulario').formValidation({
            excluded: [':disabled']
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let $form = $(e.target);
            let formData = new FormData(document.getElementById("formulario"));
            $.ajax({
                url: $form.attr("action"), type: "post", dataType: "json", data: formData, cache: false, contentType: false, processData: false
            }).done(function(result) {
                finishTransaction(result, function(){
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw();
                })
            });
        });
        $('#formularioEliminarDetalle, #formularioIngredientes').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            let xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status) {
                    xform.data('formValidation').resetForm();
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('page');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    modalAlert('Error de transaccion', result.msg, 'error');
                }
            }, 'json');
        });
    });
</script>
</section>