<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-body">
        <form id="formulario" method="post" action="../arqueocaja/guardarArqueoInicial" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div class="row">
            	<div class="col-md-4"></div>
            	<div class="col-md-4">
            		<div class="panel panel-primary">
	            	<div class="panel-heading ">
	            	<h4>Registro de muebles</h4>
	            	</div>
	            	<div class="panel-body">
	            		<div class="alert alert-info">
	            			<p><strong>Atenci&oacute;n:</strong> Ingresar el valor estimado de los muebles de la empresa</p>
	            		</div>
	                            <div class="form-group">
	                                <label>Monto</label>
	                                <input type="text" class="form-control text-right" id="mon_detarq" data-fv-numeric-decimalseparator="." name="mon_detarq" data-fv-numeric="true" data-fv-notempty="true">
	                                <input type="hidden" name="tip_detarq" th:value="${tipo}">
	                                <input type="hidden" name="codSubcuenta" th:value="${subcuenta}">
	                            </div>
	                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_detarq" rows="10" name="des_detarq" data-fv-notempty="true" placeholder="Ingrese descripcion del prestamo"></textarea>
                            </div>
	            	</div>
	            	<div class="panel-footer">
	            		<button type="button" id="btnAtras" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
	                            <button type="submit" class="btn btn-social btn-bitbucket pull-right"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
	            	</div>
	            </div>
            	</div>
            </div>
            
        </form>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(document).ready(function() {
        $('#codSubcuenta').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#btnAtras').click(function(){
        	$.post('../arqueocaja/gestion_detalle', function(resp) {
                $('#contenedor').html(resp);
            });
        });
        $('#formulario').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar el registro de muebles de la empresa?', function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    if (result.status == true) {
                    	$.post('../arqueocaja/gestion_detalle', function(resp) {
                            $('#contenedor').html(resp);
                        });
                    } else {
                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                    }
                }, 'json');
            } );
        });
    });
</script>
</section>