<div class="error-page">
            <h1 class="headline text-red" > <span style="font-size: 208px;" class="fa fa-warning"></span></h1>
            <div class="error-content"><br><br>
              <h3><i class="fa fa-warning text-red"></i> Registrar Caja Inicial</h3>
              <p>
                Para realizar transacciones en el sistema, primeramente se tiene que registrar el arqueo inicial. <br /> El arqueo de caja inicial, es para ingresar el balance inicial del sistema, donde registramos lo siguiente:
              </p>
              <ul>
                		<li>Registramos las compra de los productos que se tiene en inventario</li>
                		<li>Registramos los activos de la empresa</li>
                		<li>Registramos las cuentas por pagar</li>
                	</ul>
                	<div class="pull-right">
                		<button class="btn btn-primary" id="btnIniciarArqueo"> <span class="glyphicon glyphicon-duplicate"></span> Iniciar arqueo inicial</button>
                	</div>
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
	<script type="text/javascript">
    $(document).ready(function() {
    	$('#btnIniciarArqueo').click(function(){
    		alertAdicion('Confirmar registro de apertura', 'Esta seguro de registrar el arqueo de caja inicial?',function(){
    			$.post('../arqueocaja/adicionarArqueoInicial', function(resp) {
                    $("#contenedor").html(resp);
                });
    		});
    	});
    });
    </script>