<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <input type="hidden" id="cod_arqcaj1" name="cod_arqcaj1" th:value="${cod_arqcaj}">
        
        <form id="formularioCerrar" method="post" action="../arqueocaja/cerrar_independiente" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalCerrar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Finalizar Apertura de Caja Inicial</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_arqcaj" name="cod_arqcaj" />
                            <div class="form-group">
                                <label>Monto Final</label>
                                <input type="text" class="form-control text-right" id="monfin_arqcaj" name="monfin_arqcaj" data-fv-notempty="true" data-fv-numeric="true" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label>Monto real en caja</label>
                                <input type="text" class="form-control text-right" id="monrea_arqcaj" name="monrea_arqcaj" data-fv-notempty="true" data-fv-numeric="true">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_arqcaj" name="des_arqcaj" placeholder="Ingrese una descripci&oacute;n del cierre de caja" data-fv-notempty="true"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <h1><span class="fa  fa-ellipsis-v"></span> Caja Inicial</h1>
            </div>
<!--             <div class="col-md-2"> -->
<!--                 <button type="button" class="btn btn-info" id="btnImprimir"><i class="glyphicon glyphicon-print"></i> | Arqueo de Caja</button> -->
<!--             </div> -->
            <div class="col-md-9">
                <div id="cajaCerrar">
                	<div class="row">
                		<div class="col-md-12">
                			<div class="btn-group">
		                        <button type="button" class="btn btn-success btnCajaInicial" value="1"><i class="fa fa-dropbox"></i> | Ingreso a caja</button>
		                        <button type="button" class="btn btn-success  btnCajaInicial" value="2"><i class="fa fa-bank"></i> | Ingreso a banco</button>
		                        <button type="button" class="btn btn-success btnCajaInicial" value="3"><i class="glyphicon glyphicon-bed"></i> | Muebles de oficina</button>
		                        <button type="button" class="btn btn-success btnCajaInicial" value="4"><i class="glyphicon glyphicon-home"></i> | Inmuebles o propiedades</button>
		                    </div>
                		</div>
                	</div>
                    <div class="row" style="margin-top: 5px;">
                    	<div class="col-md-12">
                    		<div class="btn-group">
		                    <button type="button" class="btn btn-success btnCajaInicial" value="5"><i class="glyphicon glyphicon-usd"></i> | Otros activos</button>
		                        <button type="button" class="btn btn-danger btnCajaInicial" value="6"><i class="glyphicon glyphicon-shopping-cart"></i> | Compras</button>
		                        <button type="button" class="btn btn-danger btnCajaInicial" value="7"><i class="glyphicon glyphicon-credit-card"></i> | Prestamos bancarios</button>
		                        <button type="button" class="btn btn-danger btnCajaInicial" value="8"><i class="glyphicon glyphicon-usd"></i> | Otros pasivos</button>
		                        <button type="button" class="btn btn-primary" id="btnCerrar" value="9"><i class="fa fa-sign-out"></i> | Finalizar Caja</button>
		                    </div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-9">
        		<button type="button" class="btn btn-info" id="btnImprimir"><i class="glyphicon glyphicon-print"></i> | Arqueo de apertura</button>
        	</div>
        	<div class="col-md-3">
        		<h5>Fecha : <b>$fecha</b></h5>
        	</div>
        </div>
        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Descripcion</th>
                    <th>Tipo</th>
                    <th>Monto<br>(Bs.)</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script th:inline="javascript">
    var codArqcaj = /*[[${cod_arqcaj}]]*/ 0;
</script>
<script>
    $(document).ready(function() {
        $('#btnCerrar').click(function(){
            alertAdicion('Confirmar finalizacion', 'Esta seguro de finalizar la caja inicial', function(){
            	$.post('../arqueocaja/finalizar', {'cod_arqcaj':codArqcaj}, function(result) {
                    if (result.status) {
                        mostrarMensaje('info', result.msg);
                        $.post('../arqueocaja/gestion', function(resp) {$('#contenedor').html(resp);});
                    } else {
                    	modalAlert('Error de transaccion', result.msg,'error');
                    }
                }, 'json');
            });
        });
        $('#tabla').dataTable({
            dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "ordering": false,
            "oLanguage": {
                "sUrl": "../../js/Spanish.lang"
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "../arqueocaja/lista_detalle",
                "data": function(d) {
                    d.estado = true;
                    d.cod_arqcaj = $('#cod_arqcaj1').val();
                }
            },
            "columnDefs":[{targets: [3,4],className:'text-right'}],
            "columns": [{
                "data": "fecha"
            }, {
                "data": "des_detarq"
            }, {
                "data": "tip_detarq"
            }, {
                "data": "mon_detarq"
            }, {
                "data": "cod_detarq"
            }],
            "createdRow": function(row, data, index) {
                var tipo = '';
                switch (data.tip_detarq) {
                    case 1:
                        tipo = 'Egreso de caja.';
                        break;
                    case 2:
                        tipo = 'Pago al ayudante de inscripcion.';
                        break;
                    case 3:
                        tipo = 'Pago al ayudante de prestacion de servicio.';
                        break;
                    case 4:
                        tipo = 'Por compra realizada.';
                        break;
                    case 5:
                        tipo = 'Ingreso a caja.';
                        break;
                    case 6:
                        tipo = 'Ingreso por inscripcion.';
                        break;
                    case 7:
                        tipo = 'Ingreso por prestacion.';
                        break;
                    case 8:
                        tipo = 'Ingreso por ventas.';
                        break;
                    case 9:
                        tipo = 'Caja General';
                        break;
                    case 10:
                        tipo = 'Banco General';
                        break;
                    case 11:
                        tipo = 'Muebles de oficina';
                        break;
                    case 12:
                        tipo = 'Inmuebles o propiedades';
                        break;
                    case 13:
                        tipo = 'Otros activos';
                        break;
                    case 14:
                        tipo = 'Prestamos bancarios';
                        break;
                    case 15:
                        tipo = 'Otros pasivos';
                        break;
                    case 16:
                        tipo = 'Ingreso general';
                        break;
                    case 17:
                        tipo = 'Egreso general';
                        break;
                    default:
                        tipo = '';
                        break;
                }
                $('td', row).eq(2).html(tipo);
                if (data.tip_detarq < 5 || data.tip_detarq==14 || data.tip_detarq==15 || data.tip_detarq==17){
                	$('td', row).eq(2).css('font-weight','bolder');
                	$('td', row).eq(2).addClass('text-danger');
                }else{
                	$('td', row).eq(2).css('font-weight','bolder');
                	$('td', row).eq(2).addClass('text-success');
                }
                $('td', row).eq(4).html('<button class="btn btn-danger eliminar" data-codigo="' + data.cod_arqcaj + '" data-id="' + data.cod_detarq + '" data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-remove"></i> | eliminar </button>');

            },
            "drawCallback": function(settings) {
            	$('.eliminar').click(function() {
                    let xcodDetarq = $(this).data('id');
                    let xcodArqcaj = $(this).data('codigo');
                    alertEliminacion('Confirmar eliminacion de registro', 'Esta seguro de eliminar el registro: '+xcodDetarq, function(){
                    	$.post('../arqueocaja/eliminarDetalleArqueoInicial', {'cod_arqcaj':xcodArqcaj,'cod_detarq':xcodDetarq}, function(result) {
                            if (result.status == true) {
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                                mostrarMensaje('info', result.msg);
                            } else {
                            	modalAlert('Error de transaccion', result.msg,'error');
                            }
                        }, 'json');
                    });
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });

            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('.btnCajaInicial').click(function(){
        	let valor = $(this).val();
        	if(valor==1){
        		$.post('../arqueocaja/adicionarCaja', function(resp) {$("#contenedor").html(resp);});
        	}else{
        		if(valor==2){
        			$.post('../arqueocaja/adicionarBanco', function(resp) {$("#contenedor").html(resp);});
            	}else{
            		if(valor==3){
            			$.post('../arqueocaja/adicionarMueble', function(resp) {$("#contenedor").html(resp);});
                	}else{
                		if(valor==4){
                			$.post('../arqueocaja/adicionarInmueble', function(resp) {$("#contenedor").html(resp);});
                    	}else{
                    		if(valor==5){
                    			$.post('../arqueocaja/adicionarActivo', function(resp) {$("#contenedor").html(resp);});
                        	}else{
                        		if(valor==6){
                        			$.post('../compra/gestion', function(resp) {$("#contenedor").html(resp);});
                            	}else{
                            		if(valor==7){
                            			$.post('../arqueocaja/adicionarPrestamo', function(resp) {$("#contenedor").html(resp);});
                                	}else{
                                		if(valor==8){
                                			$.post('../arqueocaja/adicionarPasivo', function(resp) {$("#contenedor").html(resp);});
                                    	}else{
                                    		if(valor==9){
                                    			$('#formularioCerrar').data('formValidation').resetForm();
                                                $('#formularioCerrar')[0].reset();
                                                $.post('../arqueocaja/obtener?cod_arqcaj=' + $('#cod_arqcaj1').val(), function(result) {
                                                    if (result.status == true) {
                                                        $('#formularioCerrar').loadJSON(result.data);
                                                        $('#monfin_arqcaj').val(result.data.total);
                                                        $('#modalCerrar').modal('show');
                                                    } else {
                                                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                                                    }
                                                }, 'json');
                                        	}else{
                                        		mostrarMensaje('error','Sin seleccion');
                                        	}
                                    	}
                                	}
                            	}
                        	}
                    	}
                	}
            	}
        	}
        });
        $('#btnImprimir').click(function() {
            $("#frameReportes").attr("src", "../arqueocaja/verCajaInicial?cod_arqcaj="+codArqcaj);
            $("#reportes").modal('show');
        });
    });
</script>
</section>