<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formularioCerrar" autocomplete="off" class="form-horizontal" method="post" action="../arqueocaja/cerrar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalCerrar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Finalizar Caja</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label class="control-label col-md-4 required">Monto real en caja</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="text" class="form-control text-right" name="montoReal" data-fv-notempty="true" data-fv-numeric="true" onClick="this.setSelectionRange(0, this.value.length)">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Descripcion</label>
                                <div class="col-md-8">
                                <textarea class="form-control" name="descripcion" data-fv-notempty="true"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnCerrarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form id="formulario" autocomplete="off" method="post" action="../arqueocaja/iniciar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Iniciar Caja</h4>
                        </div>
                        <div class="modal-body">
                        <input type="hidden" name="montoInicial" value="0" />
                            <div class="form-group">
                                <label class="control-label col-md-4 required">Cajero</label>
                                <select id="delegadoId" name="delegadoId" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty>
                  				<option value=""></option>
                  				<option th:each="u : ${usuarios}" th:value="${u.cod_per}" th:text="${u.nom_per} +' '+ ${u.priape_per} +' '+ ${u.segape_per}"></option>
                  			</select>
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" data-fv-notempty="true">Apertura de caja, sin novedad.</textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form id="formularioModificar" autocomplete="off" method="post" action="../arqueocaja/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Inicio de Caja</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <input type="hidden" name="montoInicial" value="0" />
                            <div class="form-group">
                                <label>Supervisor de apertura</label>
                                <select id="custodioInicialId1" name="custodioInicialId" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty>
                  				<option value=""></option>
                                <option th:each="u : ${usuarios}" th:value="${u.cod_per}" th:text="${u.nom_per} +' '+ ${u.priape_per} +' '+ ${u.segape_per}"></option>
                  			</select>
                            </div>
                            <div class="form-group">
                                <label class="required">Cajero</label>
                                <select id="delegadoId1" name="delegadoId" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty>
                  				<option value=""></option>
                                <option th:each="u : ${usuarios}" th:value="${u.cod_per}" th:text="${u.nom_per} +' '+ ${u.priape_per} +' '+ ${u.segape_per}"></option>
                  			</select>
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" name="descripcion" data-fv-notempty="true">Apertura de caja, sin novedad.</textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>

        <div class="row">
            <div class="col-md-3">
                <h1><span class="fa  fa-ellipsis-v"></span> Arqueo de Cajas </h1>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-3 padding-sm">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-sm w3-purple active estadoCajaRadio">
                        <input type="radio" name="estadoCaja" value="true" title="Arqueo de Cajas Propias" checked> Cajas Activas
                    </label>
                    <label class="btn btn-sm btn-warning estadoCajaRadio" title="Arqueo de Cajas generales">
                        <input type="radio" name="estadoCaja" value="false"> Cajas Finalizadas
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 padding-sm">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-sm btn-primary active usuarioRadio">
                        <input type="radio" name="usuario" value="true" title="Arqueo de Cajas Propias" checked> C. Propias
                    </label>
                    <label class="btn btn-sm btn-success usuarioRadio" title="Arqueo de Cajas generales">
                        <input type="radio" name="usuario" value="false"> C. Generales
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 padding-sm">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-sm btn-primary active estadoRadio">
                        <input type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label>
                    <label class="btn btn-sm btn-danger estadoRadio" title="Mostrar Inactivos">
                        <input type="radio" name="estado" value="false"> Inactivos
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">C&oacute;digo</th>
                    <th class="desktop">F. Inicio</th>
                    <th class="desktop">Usuario Cajero</th>
                    <th class="none">Fecha de fin</th>
                    <th class="none">Gesti&oacute;n</th>
                    <th class="none">Observaciones</th>
                    <th class="all">Estado</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        var tablaArqueo =$('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#delegadoId').val('').trigger('chosen:updated');
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../arqueocaja/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                    d.fini = $('#fini').val();
                    d.ffin = $('#ffin').val();
                    d.usuario = $('input[name=usuario]:checked').val();
                    d.estaActivoCaja = $('input[name=estadoCaja]:checked').val();
                }
            },
            "ordering":true,
            "order": [[0,'desc']],
            "columnDefs": [{targets:7, className:'text-right'}],
            "columns": [{
                "data": "id","name":"id"
            }, {
                "data": "finicio","name":"finicio"
            }, {
                "data": "xdelegado","name":"xdelegado"
            }, {
                "data": "ffin","name":"ffin"
            }, {
                "data": "gestion","name":"gestion"
            }, {
                "data": "descripcion","name":"descripcion"
            }, {
                "data": "estado","name":"estado"
            }, {
                "data": "id","name":"id"
            }],
            "createdRow": function(row, data, index) {
                // $('td', row).eq(4).html(data.tot_arqcaj - data.des_arqcaj);
                $('td', row).eq(1).html(UtilDate.formatTimestampLiteral(data.finicio));
                let btnAux = '';
                let xestado = '';
                if (!data.custodioFinalId) {
                    xestado = '<span class="label label-warning">Activo</span>';
                    btnAux += '<button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar Caja"><i class="glyphicon glyphicon-edit"></i><br>editar </button>';
                    btnAux += '<button class="btn btn-warning cerrar"  data-toggle="tooltip" data-placement="top" title="Finalizar caja (Arqueo decaja)"><i class="fa fa-sign-out"></i><br>finalizar</button>';
                    btnAux += '<button class="btn btn-default revisar"  data-toggle="tooltip" data-placement="top" title="Revisar Arqueo de caja"><i class="fa fa-file"></i><br>revisar</button>';
                    btnAux += '<button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button>';
                } else {
                	xestado = '<span class="label label-success">Finalizado</span>';
                    btnAux += '<button class="btn btn-success rehabilitar"  data-toggle="tooltip" data-placement="top" title="Rehabilitar asiento"><i class="glyphicon glyphicon-heart"></i><br>Rehabilitar</button>';
                }
                if(UtilBrowser.isMobil()){
                    xestado += '<p class="padding-top-md">'+data.xdelegado+'</p><p>'+data.finicio+'</p>';
                }
                $('td', row).eq(6).html(xestado);
                if (data.estado) {
                    btnAux += '<button class="btn bg-purple ventas"  data-toggle="tooltip" data-placement="top" title="Imprimir ventas"><i class="fa fa-shopping-cart"></i><br>ventas</button><button class="btn btn-info btn-sm imprimir"  data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i><br>imprimir</button>';
                    $('td', row).eq(7).html('<div class="btn-group '+(UtilBrowser.isMobil()?'btn-group-vertical':'')+' btn-group-xs">' + btnAux + '</div>');
                } else {
                    $('td', row).eq(7).html('<button class="btn btn-success imprimir" data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i><br>imprimir</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    alertEliminacion('Eliminar Arqueo', 'Esta seguro de eliminar el arqueo de: '+obj.id +' - '+ obj.xdelegado, function(){
                        $.post('../arqueocaja/eliminar',{'arqueoId':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('');
                            });
                        })
                    })
                });
                $('.rehabilitar').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    alertAdicion('Rehabilitar Caja', 'Esta seguro de habilitar la caja: '+obj.id +' - '+ obj.xdelegado,function(){
                        $.post('../arqueocaja/rehabilitar', {'arqueoId':obj.id}, function(result) {
                            if (result.status) {
                                $('#tabla').dataTable().fnDraw('page');
                                mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                            } else {
                                mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                            }
                        }, 'json');
                    });
                });
                $('.modificar').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    $('#custodioInicialId1').val(obj.custodioInicialId).trigger('chosen:updated');
                    $('#delegadoId1').val(obj.delegadoId).trigger('chosen:updated');
                    $('#modalModificar').modal('show');
                });
                $('.revisar').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    $.post('../arqueocaja/gestion_detalle?arqueoId=' + obj.id, function(result) {
                        $('#contenedor').html(result);
                    });
                });
                $('.cerrar').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    $('#formularioCerrar').data('formValidation').resetForm();
                    $('#formularioCerrar')[0].reset();
                    $.post('../arqueocaja/obtenerResumen?arqueoId=' + obj.id, function(result) {
                        if (result.status) {
                            $('#formularioCerrar').loadJSON(result.data);
                            $('#modalCerrar').modal('show');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.imprimir').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    $("#frameReportes").attr("src", "../arqueocaja/ver?arqueoId=" + obj.id);
                    $("#reportes").modal('show');
                });
                $('.ventas').click(function() {
                    let obj = tablaArqueo.row($(this).closest('tr')).data();
                    $("#frameReportes").attr("src", "../arqueocaja/ver_informe_venta?arqueoId=" + obj.id);
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            }
            ,"initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e){
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('.estadoCajaRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('.usuarioRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });

        function isDate(cad) {
            var d = new Date(cad.substring(3, 5) + '/' + cad.substring(0, 2) + '/' + cad.substring(6, 10));
            return !isNaN(d.valueOf());
        }
        $('#fini').keyup(function() {
            if (isDate($('#fini').val()))
                $('#tabla').dataTable().fnDraw('page');
        });
        $('#ffin').keyup(function() {
            if (isDate($('#ffin').val()))
                $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar,#formularioCerrar,#formularioRegistrarAsiento').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmacion de transaccion', 'Esta seguro de realizar esta transaccion?', function(){
            	let xfom = $(e.target);
                $.post(xfom.attr('action'), xfom.serialize(), function(result) {
                    finishTransaction(result, function(){
                        xfom.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('');
                    })
                }, 'json');
            });
        });
    });
</script>
</section>