
<section xmlns:th="http://www.thymeleaf.org">
    <style>
        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        ol.simple_with_animation li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ol.simple_with_animation li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
    </style>
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../mesa/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Mesa</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true"/>
                            </div>
                            <div class="form-group">
                                <label>Alias</label>
                                <input type="text" class="form-control" name="alias" data-fv-notempty="true" />
                            </div>
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" name="cantidad" data-fv-integer="true" data-fv-notempty="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../mesa/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Mesa</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true"/>
                            </div>
                            <div class="form-group">
                                <label>Alias</label>
                                <input type="text" class="form-control" name="alias" data-fv-notempty="true" />
                            </div>
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" name="cantidad" data-fv-integer="true" data-fv-notempty="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioOrden" method="post" action="../mesa/orden" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalOrden" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Orden de las Mesas</h4>
                        </div>
                        <div class="modal-body">
                            <ol id="listaMesa" class='products-list product-list-in-box simple_with_animation'></ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- /.modal -->
        <div class="row">
            <div class="col-md-6">
                <h1><span class="fa  fa-ellipsis-v"></span> Mesas</h1>
            </div>

            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block ordenar">Ordenar Mesas</button>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo</th>
                    <th class="all">Nombre</th>
                    <th class="all">Alias</th>
                    <th class="all">Cantidad</th>
                    <th class="all">Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        // $("ol.sortable").sortable();
        var adjustment;

        $("ol.simple_with_animation").sortable({
            group: 'simple_with_animation',
            pullPlaceholder: false,
            // animation on drop
            onDrop: function  ($item, container, _super) {
                var $clonedItem = $('<li/>').css({height: 0});
                $item.before($clonedItem);
                $clonedItem.animate({'height': $item.height()});

                $item.animate($clonedItem.position(), function  () {
                    $clonedItem.detach();
                    _super($item, container);
                });
            },

            // set $item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                    pointer = container.rootGroup.pointer;

                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                };

                _super($item, container);
            },
            onDrag: function ($item, position) {
                $item.css({
                    left: position.left - adjustment.left,
                    top: position.top - adjustment.top
                });
            }
        });
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../mesa/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [4],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id","name":"id"
            }, {
                "data": "nombre","name":"nombre"
            }, {
                "data": "alias","name":"alias"
            }, {
                "data": "cantidad","name":"cantidad"
            }, {
                "data": "id","name":"id"
            }],
            "createdRow": function(row, data, index) {
                if (data.estado) {
                    $('td', row).eq(4).html('<div class="btn-group btn-group-xs"><button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-edit"></i><br>editar </button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button></div>');
                } else {
                    $('td', row).eq(4).html('<button class="btn btn-primary activar" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br>activar</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertEliminacion('Eliminar Mesa', 'Esta seguro de eliminar la Mesa '+ obj.nombre, function(){
                        $.post('../mesa/eliminar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.activar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertActivacion('Activar Mesa', 'Esta seguro de activar la Mesa '+ obj.nombre, function(){
                        $.post('../mesa/activar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.modificar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    $('#modalModificar').modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.ordenar').click(function() {
            let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
            $('#formularioOrden').data('formValidation').resetForm();
            $('#formularioOrden')[0].reset();
            $('#listaMesa').html('');
            $.post('../mesa/listarPorSucursal', function(resp){
                if(resp.status) {
                    if(resp.data && resp.data.length > 0) {
                        resp.data.forEach(it => {
                            let item = $('<li id="'+it.id+'"></li>');
                            $('<div class="product-img"><span class="w3-xxlarge fa fa-arrows-alt"></span></div>').appendTo(item);
                            let itemBody = $('<div class="product-info"></div>');
                            $('<a href="#" class="product-title">'+it.alias+'<span class="label label-success pull-right">cant. '+it.cantidad+'</span></a>').appendTo(itemBody);
                            $('<span class="product-description">'+it.nombre+'</span><hr>').appendTo(itemBody);
                            itemBody.appendTo(item);
                            $('#listaMesa').append(item);
                        })
                    }
                }
            })
            $('#listaMesa').sortable('refresh');
            $('#modalOrden').modal('show');
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formularioOrden').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
                let xform = $(e.target);
                let vecMesas = []
                $('ol.simple_with_animation li').each((i,x)=>{
                    vecMesas.push(parseInt($(x).prop('id')));
                })
                $.ajax({
                    url: '../mesa/ordenar',
                    type: "post", dataType: "json",
                    data: JSON.stringify(vecMesas), cache: false,
                    contentType: 'application/json',
                    processData: false
                }).done(function(result) {
                    if(result.status) {
                        $('.modal').modal('hide');
                        mostrarMensaje('info', result.msg);
                    } else {
                        modalAlert('Error de transaccion', result.msg, 'error')
                    }
                });
            });
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    finishTransaction(result, function(){
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                    });
                }, 'json');
            });
        });
    });
</script>
</section>