<!--     Iconos -->
<script type="text/javascript" src="../../js/iconset-glyphicon.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-iconpicker.js"></script>
<!-- Default box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../menu/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Menu</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nom_men" name="nom_men" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Icono:</label>
                                <button id="ico_men" name="ico_men" type="button" class="btn btn-lg btn-primary icono" role="iconpicker"></button>
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_men" name="des_men" data-fv-notempty="true" placeholder="Describir..."></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../menu/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Menu</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_men1" name="cod_men" />
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nom_men1" name="nom_men" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Icono:</label>
                                <button id="ico_men1" name="ico_men1" type="button" class="btn btn-lg btn-primary icono" role="iconpicker"></button>
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" id="des_men1" name="des_men" data-fv-notempty="true"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnModificarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <div id="modalEliminar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioEliminar" method="post" action="../menu/eliminar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Eliminar Menu</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_men2" name="cod_men" />
                            <p>Desea eliminar a <label id="menuLabel"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Eliminar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div id="modalActivar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioActivar" method="post" action="../menu/activar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Activar Menu</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_men3" name="cod_men" />
                            <p>Desea activar a <label id="menuLabel2"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Activar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div id="modalAsignar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioAsignar" method="post" action="../menu/guardarAsignacion" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Asignar Procesos a Menu</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_men4" name="cod_men" />
                            <p>Menu : <label id="menuLabel3"></label></p>

                            <div class="form-group">
                                <label for="procesos">Procesos </label>
                                <select id="procesos" multiple="multiple" name="procesos" class="form-control input-md select-chosen" data-placeholder="Selecccionar..."></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Gesti&oacute;n Menus </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="tabla" class="table table-hover table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo</th>
                    <th class="desktop">Icono</th>
                    <th class="all">Nombre</th>
                    <th class="desktop">Descripci&oacute;n</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#tabla').dataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../menu/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs": [{targets: [4],className:'text-right'}],
            "ordering":true,
            "order": [[0,'desc']],
            "columns": [{
                "data": "cod_men","name":"cod_men"
            }, {
                "data": "cod_men","name":"cod_men"
            }, {
                "data": "nom_men","name":"nom_men"
            }, {
                "data": "des_men","name":"des_men"
            }, {
                "data": "cod_men","name":"cod_men"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(1).html('<button class="btn '+(UtilBrowser.isMobil()?'btn-xs':'')+' btn-info"  data-toggle="tooltip" data-placement="top" title="Icono"><i class="' + data.ico_men + '"></i></button>');
                if ($('input[name=estado]:checked').val() == 'true') {
                    let btnUser = '';
                    if (data.procesos > 0) btnUser = '<button class="btn btn-info asignar" data-id="' + data.cod_men + '"  data-toggle="tooltip" data-placement="top" title="Resignar Procesos"><i class="fa  fa-check-square-o"></i><br/>asignar</button>';
                    else btnUser = '<button class="btn btn-success asignar"  data-toggle="tooltip" data-placement="top" title="Asignar Procesos" data-id="' + data.cod_men + '"><i class="fa  fa-minus-square"></i><br/>asignar</button>';
                    $('td', row).eq(4).html('<div class="btn-group btn-group-xs">' + btnUser + '<button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar" data-id="' + data.cod_men + '"><i class="fa fa-edit"></i><br/>editar</button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_men + '"><i class="glyphicon glyphicon-remove"></i><br/>borrar</button></div>');
                } else
                    $('td', row).eq(4).html('<button class="btn btn-primary activar" data-id="' + data.cod_men + '" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br/>activar</button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    $('#formularioEliminar')[0].reset();
                    $.post('../menu/obtener?cod_men=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalEliminar').modal('show');
                            $('#formularioEliminar').loadJSON(result.data);
                            $('#menuLabel').html('<button class="btn btn-info"  data-toggle="tooltip" data-placement="top" title="Icono"><i class="' + result.data.ico_men + '"></i></button> ' + result.data.nom_men);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });

                $('.activar').click(function() {
                    $('#formularioActivar')[0].reset();
                    $.post('../menu/obtener?cod_men=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalActivar').modal('show');
                            $('#formularioActivar').loadJSON(result.data);
                            $('#menuLabel2').html(result.data.nom_men);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });

                $('.asignar').click(function() {
                    $('#formularioAsignar').data('formValidation').resetForm();
                    $('#formularioAsignar')[0].reset();
                    $.post('../menu/obtener?cod_men=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalAsignar').modal('show');
                            if (result.data != null) $('#formularioAsignar').loadJSON(result.data);
                            $('#menuLabel3').html(result.data.nom_men);
                            $('#procesos').html('');
                            $.each(result.procesos, function(i, item) {
                                var row = $('<option value="' + item.cod_pro + '" ' + item.tipo + '>' + item.nom_pro + '</option>');
                                $('#procesos').append(row);
                            });
                            $('#procesos').trigger('chosen:updated');
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });

                $('.modificar').click(function() {
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $.post('../menu/obtener?cod_men=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#formularioModificar').loadJSON(result.data);
                            $('#modalModificar').modal('show');
                            var icono;
                            try {
                                icono = (result.data.ico_men).split(' ');
                                $('#ico_men1').iconpicker().iconpicker('setIcon', icono[1]);
                            } catch (e) {
                                $('#ico_men1').iconpicker().iconpicker('setIcon', 'glyphicon-remove');
                            }
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            }
            ,"initComplete": function(settings, json) {
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e){
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                });
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    if (result.status == true) {
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                        mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                    } else {
                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                    }
                }, 'json');
            });
        });
        $('#formularioEliminar,#formularioActivar,#formularioAsignar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            var xform = $(e.target);
            $.post(xform.attr('action'), xform.serialize(), function(result) {
                if (result.status == true) {
                    xform.data('formValidation').resetForm();
                    $('.modal').modal('hide');
                    $('#tabla').dataTable().fnDraw('page');
                    mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                } else {
                    mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                }
            }, 'json');
        });
        $('#nom').blur(function() {
            $.post('../menu/validar?nom_men=' + $(this).val(), function(resp) {
                if (resp.status == true) {
                    $('#nom').val('');
                    mostrarMensaje('error', 'Este menu ya existe!!!');
                }
            });
        });
    });
</script>