<!-- Default box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <div id="modalAdicionar" class="modal fade">
            <div class="modal-dialog">
                <form id="formulario" method="post" action="../remuneracion/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Remuneracion</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Personal de ventas</label>
                                <select id="cod_sec" name="cod_sec" class="form-control" data-placeholder="Seleccionar..." data-fv-notempty="true">
                      				<option value=""></option>
                      				#foreach($s in $secretarias)
                      				<option value="$s.cod_sec">$s.nom_per $s.priape_per $!{s.segape_per}</option>
                      				#end
                      			</select>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gestion</label>
                                        <select id="ges_rem" name="ges_rem" class="form-control" data-placeholder="Seleccionar..." data-fv-notempty="true">
                      				<option value="">Seleccionar</option>
                      				#foreach($g in $gestiones)
                      				<option value="$g.ges_gen">Gestion $g.ges_gen</option>
                      				#end
                      			</select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mes</label>
                                        <select id="mes_rem" name="mes_rem" class="form-control" data-placeholder="Seleccionar..." data-fv-notempty="true">
                      				<option value="1">Enero</option>
                      				<option value="2">Febrero</option>
                      				<option value="3">Marzo</option>
                      				<option value="4">Abril</option>
                      				<option value="5">Mayo</option>
                      				<option value="6">Junio</option>
                      				<option value="7">Julio</option>
                      				<option value="8">Agosto</option>
                      				<option value="9">Septiembre</option>
                      				<option value="10">Octubre</option>
                      				<option value="11">Noviembre</option>
                      				<option value="12">Diciembre</option>
                      			</select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha Inicio</label>
                                        <input type="text" class="form-control fecha" id="fini_rem" name="fini_rem" data-fv-date data-fv-date-format="DD/MM/YYYY" data-fv-date-message="Formato DD/MM/YYYY" data-fv-date-separator="/" data-fv-notempty="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha Fin</label>
                                        <input type="text" class="form-control fecha" id="ffin_rem" name="ffin_rem" data-fv-date data-fv-date-format="DD/MM/YYYY" data-fv-date-message="Formato DD/MM/YYYY" data-fv-date-separator="/" data-fv-notempty="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Monto</label>
                                        <input type="text" id="mon_rem" name="mon_rem" class="form-control" data-fv-notempty="true" data-fv-numeric="true" data-fv-numeric-decimalseparator=".">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label>
                                        <textarea class="form-control" id="des_rem" name="des_rem" data-fv-notempty="true"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Aceptar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div id="modalEliminar" class="modal fade">
            <div class="modal-dialog">
                <form id="formularioEliminar" method="post" action="../remuneracion/eliminar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Anular Remuneracion</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cod_rem" name="cod_rem" />
                            <p>Desea eliminar a <label id="RemuneracionLabel"></label></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Eliminar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">

        <div class="row">
            <div class="col-md-8">
                <h1 class="pull-left"><span class="fa  fa-ellipsis-v"></span> Gesti&oacute;n Remuneraciones </h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group pull-right">
                    <br><label class="btn btn-primary active estadoRadio"> <input type="radio" name="estado" value="true"  data-toggle="tooltip" data-placement="top" title="Mostrar Activos" checked> Activos
						</label> <label class="btn btn-danger estadoRadio" data-toggle="tooltip" data-placement="top" title="Mostrar Inactivos"> <input type="radio" name="estado" value="false"> Inactivos
						</label>
                </div>
            </div>
        </div>
        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Personal de venta</th>
                    <th>Mes y Gestion</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(document).ready(function() {
        $('select').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $(".fecha").inputmask("dd/mm/yyyy", {
            "placeholder": "dd/mm/yyyy"
        });
        $('button').tooltip({
            animated: 'fade',
            placement: 'bottom',
        });
        $('#tabla').dataTable({
            dom: "<'row'<'col-sm-3'f><'col-sm-2'B><'col-sm-2'l><'col-sm-5'i>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [{
                text: '<span class="fa fa-plus-circle"></span> Adicionar <span class="fa fa-plus-circle"></span>',
                className: "btn-primary active",
                action: function(e, dt, node, config) {
                    $('#cod_sec').val('').trigger('chosen:updated');
                    $('#ges_rem').val($gestion.ges_gen).trigger('chosen:updated');
                    $('#mes_rem').val('').trigger('chosen:updated');
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#des_rem').html('Por los servicios prestados.');
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ordering": false,
            "oLanguage": {
                "sUrl": "../../js/Spanish.lang"
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "../remuneracion/lista",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [2],className:'text-center'},{targets: [3,4],className:'text-right'}],
            "columns": [{
                "data": "fecha"
            }, {
                "data": "secretaria"
            }, {
                "data": "mes_rem"
            }, {
                "data": "mon_rem"
            }, {
                "data": "cod_rem"
            }],
            "createdRow": function(row, data, index) {
                $('td', row).eq(2).html(ObtenerMesLiteral(data.mes_rem) + ' - ' + data.ges_rem);
                if ($('input[name=estado]:checked').val() == 'true') {
                    $('td', row).eq(4).html('<div class="btn-group"><button class="btn btn-success imprimir"  data-toggle="tooltip" data-placement="top" title="Imprimir" data-id="' + data.cod_rem + '"><i class="glyphicon glyphicon-print"></i> | imprimir</button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar" data-id="' + data.cod_rem + '"><i class="glyphicon glyphicon-remove"></i> | eliminar </button></div>');
                } else
                    $('td', row).eq(4).html('<button class="btn btn-success imprimir" data-id="' + data.cod_rem + '" data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="glyphicon glyphicon-print"></i> | imprimir </button>');
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    $('#formularioEliminar')[0].reset();
                    $.post('../remuneracion/obtener?cod_rem=' + $(this).data('id'), function(result) {
                        if (result.status == true) {
                            $('#modalEliminar').modal('show');
                            $('#formularioEliminar').loadJSON(result.data);
                            $('#RemuneracionLabel').html('la Remuneracion de ' + result.data.secretaria + ' de ' + ObtenerMesLiteral(result.data.mes_rem) + '-' + result.data.ges_rem);
                        } else {
                            mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                        }
                    }, 'json');
                });
                $('.imprimir').click(function() {
                    $("#frameReportes").attr("src", "../remuneracion/ver?cod_rem=" + $(this).data('id'));
                    $("#reportes").modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });

            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioEliminar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	let xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    if (result.status == true) {
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                        mostrarMensaje('info', 'Se realizo con exito la Transaccion');
                    } else {
                        mostrarMensaje('error', 'No se realizo con exito la Transaccion');
                    }
                }, 'json');
            });
        });

        $('#cod_sec').chosen().change(function() {
            $.post('../secretaria/obtener?cod_sec=' + $(this).val(), function(resp) {
                if (resp.status) {
                    $('#mon_rem').val(resp.data.sue_sec);
                }
            });
        });
    });
</script>