<section xmlns:th="http://www.thymeleaf.org">
<div class="box box-primary">
    <div class="box-header with-border">
        <form id="formulario" method="post" action="../tipoproducto/guardar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalAdicionar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Tipo de Producto</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Categoria</label>
                                <select id="categoria1" name="categoriaId" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                    <option value="">Seleccionar</option>
                                    <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nombre}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control" name="descripcion" data-fv-notempty="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Producto Preparado</label>
                                <div class="radio">
                                    <label for="preparadoSi"><input type="radio" id="preparadoSi" name="esPreparado" value="true" data-fv-notempty="true"/>Si, es preparado.</label>
                                    <label for="preparadoNo"><input type="radio" id="preparadoNo" name="esPreparado" value="false" data-fv-notempty="true"/>No, ya viene preparado de f&aacute;brica</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Es comerciable</label>
                                <div class="radio">
                                    <label for="comerciableSi"><input type="radio" id="comerciableSi" name="esComerciable" value="true" data-fv-notempty="true"/>Si, es comerciable.</label>
                                    <label for="comerciableNo"><input type="radio" id="comerciableNo" name="esComerciable" value="false" data-fv-notempty="true"/>No, no es comerciable, es un insumo o para la empresa</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Area Destino a mostrar cuando se realice una comanda</label>
                                <select name="areaDestino" class="form-control" data-fv-notempty="true" >
                                    <option value="">Seleccionar</option>
                                    <option value="0">Ninguno</option>
                                    <option value="1">Area de cocina CHEF</option>
                                    <option value="2">Area de parrilladas - Parrillero</option>
                                    <option value="3">Area de bebidas - Barra Bartman</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" id="btnAdicionarConfirmacion" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="formularioModificar" method="post" action="../tipoproducto/actualizar" data-fv-framework="bootstrap" data-fv-excluded="disabled" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
            <div id="modalModificar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Tipo de Producto</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>Categoria</label>
                                <select id="categoria2" name="categoriaId" class="form-control input-md select-chosen" data-placeholder="Selecccionar..." data-fv-notempty="true">
                                    <option value="">Seleccionar</option>
                                    <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nombre}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombre" data-fv-notempty="true">
                            </div>
                            <div class="form-group">
                                <label>Descripcion</label>
                                <textarea class="form-control"  name="descripcion" data-fv-notempty="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Producto Preparado</label>
                                <div class="radio">
                                    <label for="preparadoSi2"><input type="radio" id="preparadoSi2" name="esPreparado" value="true" data-fv-notempty="true"/>Si, es preparado.</label>
                                    <label for="preparadoNo2"><input type="radio" id="preparadoNo2" name="esPreparado" value="false" data-fv-notempty="true"/>No, ya viene preparado de f&aacute;brica</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Es comerciable</label>
                                <div class="radio">
                                    <label for="comerciableSi2"><input type="radio" id="comerciableSi2" name="esComerciable" value="true" data-fv-notempty="true"/>Si, es comerciable.</label>
                                    <label for="comerciableNo2"><input type="radio" id="comerciableNo2" name="esComerciable" value="false" data-fv-notempty="true"/>No, no es comerciable, es un insumo o para la empresa</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Area Destino a mostrar cuando se realice una comanda</label>
                                <select name="areaDestino" class="form-control" data-fv-notempty="true" >
                                    <option value="">Seleccionar</option>
                                    <option value="0">Ninguno</option>
                                    <option value="1">Area de cocina CHEF</option>
                                    <option value="2">Area de parrilladas - Parrillero</option>
                                    <option value="3">Area de bebidas - Barra Bartman</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-social btn-google" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</button>
                            <button type="submit" class="btn btn-social btn-bitbucket"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- /.modal -->
        <div class="row">
            <div class="col-md-8">
                <h1><span class="fa  fa-ellipsis-v"></span> Tipos de Producto</h1>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary active estadoRadio"> <input
                            type="radio" name="estado" value="true" title="Mostrar Activos" checked> Activos
                    </label> <label class="btn btn-danger estadoRadio" title="Mostrar Inactivos"> <input
                        type="radio" name="estado" value="false"> Inactivos
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">

        <table id="tabla" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="none">C&oacute;digo</th>
                    <th class="all">Nombre</th>
                    <th class="desktop">Descripci&oacute;n</th>
                    <th class="all">Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" th:inline="none">
    $(document).ready(function() {
        $('.select-chosen').chosen({
            no_results_text: "No se encuentra:",
            width: '100%'
        });
        $('#tabla').DataTable({
            buttons: [{
                text: 'Adicionar',
                className: "btn-primary btn-block active",
                action: function(e, dt, node, config) {
                    $('#formulario')[0].reset();
                    $('#formulario').data('formValidation').resetForm();
                    $('#categoria1').val('').trigger('chosen:updated');
                    $('#modalAdicionar').modal('show');
                }
            }],
            "ajax": {
                "type": "POST",
                "url": "../tipoproducto/listar",
                "data": function(d) {
                    d.estado = $('input[name=estado]:checked').val();
                }
            },
            "columnDefs":[{targets: [3],className:'text-right'}],
            "ordering":true,
            "order":[[0,'desc']],
            "columns": [{
                "data": "id","name":"id"
            }, {
                "data": "nombre","name":"nombre"
            }, {
                "data": "descripcion","name":"descripcion"
            }, {
                "data": "id","name":"id"
            }],
            "createdRow": function(row, data, index) {
                if (data.estado) {
                    $('td', row).eq(3).html('<div class="btn-group btn-group-xs"><button class="btn btn-primary modificar"  data-toggle="tooltip" data-placement="top" title="Modificar"><i class="fa fa-edit"></i><br>editar </button><button class="btn btn-danger eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="glyphicon glyphicon-remove"></i><br>eliminar</button></div>');
                } else {
                    $('td', row).eq(3).html('<button class="btn btn-primary activar" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="glyphicon glyphicon-plus-sign"></i><br>activar</button>');
                }
            },
            "drawCallback": function(settings) {
                $('.eliminar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertEliminacion('Eliminar tipo de producto', 'Esta seguro de eliminar el tipo de producto '+ obj.nombre, function(){
                        $.post('../tipoproducto/eliminar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.activar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    alertActivacion('Activar tipo de producto', 'Esta seguro de activar el tipo de producto '+ obj.nombre, function(){
                        $.post('../tipoproducto/activar',{'id':obj.id }, function(resp){
                            finishTransaction(resp, function(){
                                $('.modal').modal('hide');
                                $('#tabla').dataTable().fnDraw('page');
                            });
                        })
                    })
                });
                $('.modificar').click(function() {
                    let obj = $('#tabla').DataTable().row($(this).closest('tr')).data();
                    $('#formularioModificar').data('formValidation').resetForm();
                    $('#formularioModificar')[0].reset();
                    $('#formularioModificar').loadJSON(obj);
                    $('#categoria2').val(obj.categoriaId).trigger('chosen:updated');
                    $('#modalModificar').modal('show');
                });
                $('button[data-toggle="tooltip"]').tooltip({
                    animated: 'fade',
                    placement: 'bottom',
                });
            },
            "initComplete": function(settings, json){
                $('#tabla_filter input').unbind();
                $('#tabla_filter input').bind('keyup', function(e) {
                    if(e.keyCode == 13) {
                        $('#tabla').DataTable().search(this.value).draw();
                    }
                })
            }
        });
        $('.estadoRadio').click(function() {
            $('#tabla').dataTable().fnDraw('page');
        });
        $('#formulario,#formularioModificar').formValidation({
            locale: 'es_ES'
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            alertAdicion('Confirmar transaccion', 'Esta seguro de realizar la transaccion?',function(){
            	var xform = $(e.target);
                $.post(xform.attr('action'), xform.serialize(), function(result) {
                    finishTransaction(result, function(){
                        xform.data('formValidation').resetForm();
                        $('.modal').modal('hide');
                        $('#tabla').dataTable().fnDraw('page');
                    });
                }, 'json');
            });
        });
    });
</script>
</section>